In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

#### ch1 - Living Arrangements of Children Under 18 Years Old: 1960 to Present (Numbers in thousands)
Source:  Excludes householders, subfamily reference persons, and their spouses.  Based on Current Population Survey (CPS) unless otherwise indicated.

In [2]:
ch1 = pd.read_excel('../data/single_parent/census/historical_living_arrangements_of_children/ch1_living_arrangements_of_children_1960_pres.xls', skiprows=9, nrows=63)
pd.set_option('display.max_rows', None)
ch1

,Unnamed: 0,Total children under 18,Two parents,Unnamed: 3,One parent,Unnamed: 5,Unnamed: 6,Unnamed: 7,No parents,Unnamed: 9
0,NaN,NaN,NaN,NaN,Total,Mother only,Father only,NaN,Other relatives,Non-relatives
1,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022z,73289.0,51450.0,NaN,19224,15782,3442,NaN,1948,667
3,"2021z, r",73817.0,51434.0,NaN,19538,15900,3638,NaN,2241,603
4,2021z,72568.0,50609.0,NaN,19172,15607,3565,NaN,2196,592
5,2020z,72901.0,51334.0,NaN,18580,15310,3270,NaN,2323,663
6,2019z,73525.0,51561.0,NaN,18998,15764,3234,NaN,2319,647
7,2018y,73741.0,50953.0,NaN,19646,16395,3251,NaN,2386,755
8,2017y,73781.0,50827.0,NaN,19973,16767,3206,NaN,2421,560
9,2016y,73745.0,50679.0,NaN,20229,17223,3006,NaN,2279,558
10,2015y,73623.0,50966.0,NaN,19757,17006,2751,NaN,2430,469
11,"2014y, s",73692.0,50602.0,NaN,20258,17410,2848,NaN,2271,562
12,2013y,73910.0,50646.0,NaN,20531,17532,2999,NaN,2121,612
13,2012y,73817.0,50267.0,NaN,20915,17991,2924,NaN,2139,495
14,"2011y, r",74002.0,50828.0,NaN,20234,17615,2619,NaN,2363,576
15,2011y,74630.0,51456.0,NaN,20264,17636,2628,NaN,2342,568
16,2010y,74718.0,51823.0,NaN,19855,17283,2572,NaN,2380,662
17,2009y,74230.0,51835.0,NaN,19415,16911,2504,NaN,2347,633
18,2008y,74104.0,51785.0,NaN,19501,16888,2613,NaN,2239,580
19,2007y,73746.0,52153.0,NaN,19047,16658,2389,NaN,2010,535
20,2007x,73746.0,49999.0,NaN,21201,17881,3320,NaN,2010,535
21,2006,73664.0,49661.0,NaN,20619,17161,3458,NaN,2419,964
22,2005,73494.0,49481.0,NaN,20722,17225,3497,NaN,2529,762
23,2004,73205.0,49603.0,NaN,20474,17072,3402,NaN,2360,769
24,2003,73001.0,49903.0,NaN,20093,16770,3323,NaN,2212,793
25,2002,72321.0,49666.0,NaN,19770,16473,3297,NaN,2075,810
26,2001,72006.0,49792.0,NaN,19250,16117,3133,NaN,2187,775
27,2000,72012.0,49795.0,NaN,19220,16162,3058,NaN,2160,837
28,1999,71703.0,48775.0,NaN,19899,16805,3094,NaN,2130,899
29,1998,71377.0,48642.0,NaN,19777,16634,3143,NaN,2126,833
30,1997,70983.0,48386.0,NaN,19799,16740,3059,NaN,1983,815
31,1996,70908.0,48224.0,NaN,19752,16993,2759,NaN,2137,795
32,1995,70254.0,48276.0,NaN,18938,16477,2461,NaN,2352,688
33,1994,69508.0,48084.0,NaN,18591,16334,2257,NaN,2150,684
34,1993,66893.0,47181.0,NaN,17872,15586,2286,NaN,1442,398
35,1992,65965.0,46638.0,NaN,17578,15396,2182,NaN,1334,415
36,1991,65093.0,46658.0,NaN,16624,14608,2016,NaN,1428,383
37,1990,64137.0,46503.0,NaN,15867,13874,1993,NaN,1421,346
38,1989,63637.0,46549.0,NaN,15493,13700,1793,NaN,1341,254
39,1988,63179.0,45942.0,NaN,15329,13521,1808,NaN,1516,392
40,1987,62932.0,46009.0,NaN,15071,13420,1651,NaN,1484,368
41,1986,62763.0,46384.0,NaN,14759,13180,1579,NaN,1348,272
42,1985,62475.0,46149.0,NaN,14635,13081,1554,NaN,1339,352
43,1984,62139.0,46555.0,NaN,14024,12646,1378,NaN,1227,333
44,1983*,62281.0,46632.0,NaN,14006,12739,1267,NaN,1349,294
45,1982*,62407.0,46797.0,NaN,13701,12512,1189,NaN,1557,352
46,1981,62918.0,48040.0,NaN,12619,11416,1203,NaN,1911,348
47,1980r,63427.0,48624.0,NaN,12466,11406,1060,NaN,1949,388
48,1980,61744.0,47286.0,NaN,12162,11131,1031,NaN,1912,384
49,1979,62389.0,48295.0,NaN,11528,10531,997,NaN,2143,423
50,1978,63206.0,49132.0,NaN,11710,10725,985,NaN,1941,423
51,1977,64062.0,50735.0,NaN,11311,10419,892,NaN,1626,390
52,1976,65129.0,52101.0,NaN,11121,10310,811,NaN,1500,407
53,1975,66087.0,53072.0,NaN,11245,10231,1014,NaN,1407,363
54,1974,67047.0,54561.0,NaN,10489,9647,842,NaN,1532,465
55,1973,67950.0,55807.0,NaN,10093,9272,821,NaN,1629,421
56,1972,68811.0,57201.0,NaN,9634,8838,796,NaN,1593,383
57,1971,70255.0,58606.0,NaN,9478,8714,764,NaN,1707,464
58,1970r,69162.0,58939.0,NaN,8200,7452,748,NaN,1546,477
59,1970,70213.0,59694.0,NaN,8438,7678,760,NaN,1599,482
60,1969,70317.0,59857.0,NaN,8509,7744,765,NaN,1602,349
61,1968,70326.0,60030.0,NaN,8332,7556,776,NaN,1660,304
62,1960 Census,63727.0,55877.0,NaN,5829,5105,724,NaN,1601,420

In [3]:
#rename columns
ch1 = ch1.rename(columns = {'Unnamed: 0': 'year', 'Total children under 18': 'total_children', 'Two parents': 'two_parents', 'No parents': 'with_relatives', 'Unnamed: 9': 'with_non_relatives', 'One parent': 'total_one_parent', 'Unnamed: 5': 'mother_only', 'Unnamed: 6': 'father_only'})
ch1.head(2)

#drop empty columns or columns not needed
ch1 = ch1.drop(['Unnamed: 3', 'Unnamed: 7'], axis=1)

#drop prior index rows, drop original rows and keep revised
ch1 = ch1.drop(labels=[0, 1, 4, 15, 20, 48, 59]).reset_index(drop=True)

#remove extra spaces in column headers
ch1 = ch1.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
ch1 = ch1.applymap(lambda x: x.strip() if isinstance(x, str) else x)

ch1.head(2)

,year,total_children,two_parents,total_one_parent,mother_only,father_only,with_relatives,with_non_relatives
0,2022z,73289.0,51450.0,19224,15782,3442,1948,667
1,"2021z, r",73817.0,51434.0,19538,15900,3638,2241,603

In [4]:
ch1 = ch1.astype({'year': 'str', 'total_children': 'int64', 'two_parents': 'int64', 'total_one_parent': 'int64', 'mother_only': 'int64', 'father_only': 'int64', 'with_relatives': 'int64'})
ch1

,year,total_children,two_parents,total_one_parent,mother_only,father_only,with_relatives,with_non_relatives
0,2022z,73289,51450,19224,15782,3442,1948,667
1,"2021z, r",73817,51434,19538,15900,3638,2241,603
2,2020z,72901,51334,18580,15310,3270,2323,663
3,2019z,73525,51561,18998,15764,3234,2319,647
4,2018y,73741,50953,19646,16395,3251,2386,755
5,2017y,73781,50827,19973,16767,3206,2421,560
6,2016y,73745,50679,20229,17223,3006,2279,558
7,2015y,73623,50966,19757,17006,2751,2430,469
8,"2014y, s",73692,50602,20258,17410,2848,2271,562
9,2013y,73910,50646,20531,17532,2999,2121,612
10,2012y,73817,50267,20915,17991,2924,2139,495
11,"2011y, r",74002,50828,20234,17615,2619,2363,576
12,2010y,74718,51823,19855,17283,2572,2380,662
13,2009y,74230,51835,19415,16911,2504,2347,633
14,2008y,74104,51785,19501,16888,2613,2239,580
15,2007y,73746,52153,19047,16658,2389,2010,535
16,2006,73664,49661,20619,17161,3458,2419,964
17,2005,73494,49481,20722,17225,3497,2529,762
18,2004,73205,49603,20474,17072,3402,2360,769
19,2003,73001,49903,20093,16770,3323,2212,793
20,2002,72321,49666,19770,16473,3297,2075,810
21,2001,72006,49792,19250,16117,3133,2187,775
22,2000,72012,49795,19220,16162,3058,2160,837
23,1999,71703,48775,19899,16805,3094,2130,899
24,1998,71377,48642,19777,16634,3143,2126,833
25,1997,70983,48386,19799,16740,3059,1983,815
26,1996,70908,48224,19752,16993,2759,2137,795
27,1995,70254,48276,18938,16477,2461,2352,688
28,1994,69508,48084,18591,16334,2257,2150,684
29,1993,66893,47181,17872,15586,2286,1442,398
30,1992,65965,46638,17578,15396,2182,1334,415
31,1991,65093,46658,16624,14608,2016,1428,383
32,1990,64137,46503,15867,13874,1993,1421,346
33,1989,63637,46549,15493,13700,1793,1341,254
34,1988,63179,45942,15329,13521,1808,1516,392
35,1987,62932,46009,15071,13420,1651,1484,368
36,1986,62763,46384,14759,13180,1579,1348,272
37,1985,62475,46149,14635,13081,1554,1339,352
38,1984,62139,46555,14024,12646,1378,1227,333
39,1983*,62281,46632,14006,12739,1267,1349,294
40,1982*,62407,46797,13701,12512,1189,1557,352
41,1981,62918,48040,12619,11416,1203,1911,348
42,1980r,63427,48624,12466,11406,1060,1949,388
43,1979,62389,48295,11528,10531,997,2143,423
44,1978,63206,49132,11710,10725,985,1941,423
45,1977,64062,50735,11311,10419,892,1626,390
46,1976,65129,52101,11121,10310,811,1500,407
47,1975,66087,53072,11245,10231,1014,1407,363
48,1974,67047,54561,10489,9647,842,1532,465
49,1973,67950,55807,10093,9272,821,1629,421
50,1972,68811,57201,9634,8838,796,1593,383
51,1971,70255,58606,9478,8714,764,1707,464
52,1970r,69162,58939,8200,7452,748,1546,477
53,1969,70317,59857,8509,7744,765,1602,349
54,1968,70326,60030,8332,7556,776,1660,304
55,1960 Census,63727,55877,5829,5105,724,1601,420

In [7]:
#locate additional letters in year column
ch1_by_children = ch1[ch1['year'].str.match('\d{4}[a-zA-Z]?', na=False)]
#extract only the year
ch1_by_children['year'] = ch1_by_children['year'].str.extract('(\d{4})', expand=False).astype(int)
#sort by descending
ch1_by_children = ch1_by_children.sort_values('year', ascending=False)

ch1_by_children.head(2)

,year,total_children,two_parents,total_one_parent,mother_only,father_only,with_relatives,with_non_relatives
0,2022,73289,51450,19224,15782,3442,1948,667
1,2021,73817,51434,19538,15900,3638,2241,603

In [ ]:
ch1_by_children.info()

In [9]:
ch1_by_children.to_csv('../data/single_parent/census/historical_living_arrangements_of_children/ch1_by_children.csv', index = False)