In [1]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup as BS
import requests
import re
import json
import pprint 
import calendar
import datetime

%matplotlib inline

In [2]:
poverty = pd.read_csv('../data/single_parent/johnsnowlabs/ACS_2010-2014/povertystatus_bysexage_zcta_2010-2014.csv')

In [3]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33120 entries, 0 to 33119
Columns: 125 entries, Geographic_ID to Margin_Of_Error_Female_75_And_Over_Above_Poverty_In_Past_12_Months
dtypes: float64(2), int64(121), object(2)
memory usage: 31.6+ MB

In [4]:
poverty.describe()

,FIPS_Code,Latitude,Longitude,Land_Area,Water_Area,Total_Estimate_Population,Total_Margin_Of_Error_Population,Total_Estimate_Below_Poverty_Level_In_Past_12_Months,Total_Margin_Of_Error_Below_Poverty_Level_In_Past_12_Months,Estimate_Male_Below_Poverty_In_Past_12_Months,...,Estimate_Female_35_44_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_35_44_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_45_54_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_45_54_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_55_64_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_55_64_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_65_74_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_65_74_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_75_And_Over_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_75_And_Over_Above_Poverty_In_Past_12_Months
count,33120.000000,33120.000000,33120.000000,3.312000e+04,3.312000e+04,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,...,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000
mean,49666.334209,38.836675,-91.016175,2.243665e+08,5.126383e+06,9354.636655,442.754438,1491.100302,301.373671,670.582277,...,527.297886,93.972645,599.786655,98.711051,539.165127,92.511806,348.454469,71.264915,287.009632,67.149064
std,27564.925769,5.356859,15.127859,6.563782e+08,3.368040e+07,13839.796651,422.625179,2898.847812,346.379754,1318.424819,...,838.465110,95.411882,888.764762,94.418765,764.639422,86.562437,499.701583,65.778738,444.042327,64.983176
min,601.000000,17.963614,-176.629994,5.094000e+03,0.000000e+00,0.000000,2.000000,0.000000,1.000000,0.000000,...,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000
25%,26634.750000,35.400299,-97.246397,2.345809e+07,5.735700e+04,680.000000,142.000000,81.000000,54.000000,35.000000,...,29.000000,20.000000,42.000000,24.000000,43.000000,24.000000,29.000000,19.000000,20.000000,16.000000
50%,49739.000000,39.497405,-88.203745,9.293364e+07,5.781845e+05,2700.000000,293.000000,342.000000,163.000000,155.000000,...,135.000000,57.000000,176.500000,63.000000,171.000000,60.000000,117.000000,48.000000,86.000000,42.000000
75%,72123.500000,42.122879,-80.230868,2.293548e+08,2.763718e+06,12656.000000,609.000000,1514.000000,436.000000,672.000000,...,669.000000,141.000000,813.000000,152.000000,750.000000,142.000000,484.000000,109.000000,377.000000,103.000000
max,99929.000000,71.253500,-65.307720,3.478591e+10,2.476479e+09,114190.000000,3259.000000,45200.000000,2609.000000,21059.000000,...,8961.000000,711.000000,7925.000000,742.000000,7004.000000,673.000000,12768.000000,614.000000,6550.000000,627.000000

In [5]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33120 entries, 0 to 33119
Columns: 125 entries, Geographic_ID to Margin_Of_Error_Female_75_And_Over_Above_Poverty_In_Past_12_Months
dtypes: float64(2), int64(121), object(2)
memory usage: 31.6+ MB

In [6]:
poverty.head()

,Geographic_ID,FIPS_Code,Geographic_Display_Label,Latitude,Longitude,Land_Area,Water_Area,Total_Estimate_Population,Total_Margin_Of_Error_Population,Total_Estimate_Below_Poverty_Level_In_Past_12_Months,...,Estimate_Female_35_44_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_35_44_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_45_54_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_45_54_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_55_64_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_55_64_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_65_74_Years_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_65_74_Years_Above_Poverty_In_Past_12_Months,Estimate_Female_75_And_Over_Above_Poverty_In_Past_12_Months,Margin_Of_Error_Female_75_And_Over_Above_Poverty_In_Past_12_Months
0,8600000US00601,601,ZCTA5 00601,18.180556,-66.749962,166659790,799294,17914,289,10911,...,422,92,431,106,467,109,348,70,251,68
1,8600000US00602,602,ZCTA5 00602,18.361945,-67.175597,79287148,4448757,40807,164,21724,...,1438,214,1667,199,1240,175,1122,128,554,128
2,8600000US00603,603,ZCTA5 00603,18.455183,-67.119887,81884524,184093,51761,671,26027,...,1689,240,1941,208,2125,209,1775,176,1006,174
3,8600000US00606,606,ZCTA5 00606,18.158345,-66.932911,109580065,12487,6415,264,3778,...,177,87,150,56,326,75,197,64,59,37
4,8600000US00610,610,ZCTA5 00610,18.295366,-67.125135,93021368,4171999,28727,165,14149,...,990,172,1170,166,1077,139,976,116,407,100

In [7]:
#### Jupyter notebooks displays 20 columns by default; display all column names in df
poverty.columns.tolist()
#### this database doesn't show male/female householder status with children
#### could be used for geospatial or chloropleth analysis of poverty across the nation by age and sex

['Geographic_ID',
 'FIPS_Code',
 'Geographic_Display_Label',
 'Latitude',
 'Longitude',
 'Land_Area',
 'Water_Area',
 'Total_Estimate_Population',
 'Total_Margin_Of_Error_Population',
 'Total_Estimate_Below_Poverty_Level_In_Past_12_Months',
 'Total_Margin_Of_Error_Below_Poverty_Level_In_Past_12_Months',
 'Estimate_Male_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_Under_5_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_Under_5_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_5_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_5_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_6_11_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_6_11_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_12_14_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_12_14_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_15_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_15_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_16_17_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_16_17_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_18_24_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_18_24_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_25_34_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_25_34_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_35_44_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_35_44_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_45_54_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_45_54_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_55_64_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_55_64_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_65_74_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_65_74_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Male_75_And_Over_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_75_And_Over_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_Under_5_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_Under_5_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_5_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_5_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_6_11_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_6_11_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_12_14_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_12_14_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_15_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_15_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_16_17_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_16_17_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_18_24_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_18_24_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_25_34_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_25_34_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_35_44_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_35_44_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_45_54_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_45_54_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_55_64_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_55_64_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_65_74_Years_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_65_74_Years_Below_Poverty_In_Past_12_Months',
 'Estimate_Female_75_And_Over_Below_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_75_And_Over_Below_Poverty_In_Past_12_Months',
 'Total_Estimate_Above_Poverty_Level_In_Past_12_Months',
 'Total_Margin_Of_Error_Above_Poverty_Level_In_Past_12_Months',
 'Estimate_Male_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_Under_5_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_Under_5_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_5_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_5_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_6_11_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_6_11_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_12_14_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_12_14_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_15_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_15_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_16_17_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_16_17_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_18_24_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_18_24_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_25_34_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_25_34_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_35_44_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_35_44_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_45_54_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_45_54_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_55_64_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_55_64_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_65_74_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_65_74_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Male_75_And_Over_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Male_75_And_Over_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_Under_5_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_Under_5_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_5_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_5_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_6_11_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_6_11_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_12_14_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_12_14_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_15_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_15_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_16_17_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_16_17_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_18_24_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_18_24_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_25_34_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_25_34_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_35_44_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_35_44_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_45_54_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_45_54_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_55_64_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_55_64_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_65_74_Years_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_65_74_Years_Above_Poverty_In_Past_12_Months',
 'Estimate_Female_75_And_Over_Above_Poverty_In_Past_12_Months',
 'Margin_Of_Error_Female_75_And_Over_Above_Poverty_In_Past_12_Months']

In [8]:
childbearing = pd.read_csv('../data/single_parent/johnsnowlabs/US_nonmarital_childbearing/US_nonmarital_childbearing_1970-2017.csv')

In [9]:
childbearing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Year                                                                    40 non-null     int64
 1   Live_Births_Per_1000_Unmarried_Women                                    40 non-null     float64
 2   Live_Births_Per_1000_Unmarried_White_Women                              40 non-null     float64
 3   Live_Births_Per_1000_Unmarried_Black_Women                              40 non-null     float64
 4   Live_Births_Per_1000_Unmarried_Asian_Women                              16 non-null     float64
 5   Live_Births_Per_1000_Unmarried_Hispanic_Women                           28 non-null     float64
 6   Live_Births_Per_1000_Unmarried_White_Not_His_Or_Lat_Women               25 non-null     float64
 7   Percent_of_Live_Births_To_Unmarried_Mothers                             38 non-null     float64
 8   Percent_of_Live_Births_To_Unmarried_White_Mothers                       38 non-null     float64
 9   Percent_of_Live_Births_To_Unmarried_Black_Mothers                       38 non-null     float64
 10  Percent_of_Live_Births_To_Unmarried_American_Indian_or_Alaska_Mothers   38 non-null     float64
 11  Percent_of_Live_Births_To_Unmarried_Asian_Mothers                       36 non-null     float64
 12  Percent_of_Live_Births_To_Unmarried_Hispanic_Mothers                    36 non-null     float64
 13  Percent_of_Live_Births_To_Unmarried_Mexican_Mothers                     36 non-null     float64
 14  Percent_of_Live_Births_To_Unmarried_Puerto_Rican_Mothers                36 non-null     float64
 15  Percent_of_Live_Births_To_Unmarried_Cuban_Mothers                       36 non-null     float64
 16  Percent_of_Live_Births_To_Unmarried_Central_and_South_American_Mothers  36 non-null     float64
 17  Percent_of_Live_Births_To_Unmarried_Other_Hispanic_Mothers              36 non-null     float64
 18  Percent_of_Live_Births_To_Unmarried_White_Not_His_Or_Lat_Mothers        36 non-null     float64
 19  Percent_of_Live_Births_To_Unmarried_Black_Not_His_Or_Lat_Mothers        36 non-null     float64
 20  Live_Births_in_Thousands                                                38 non-null     float64
 21  Percentage_of_Live_Births_For_Unmarried_Womens_Under_20_Years           38 non-null     float64
 22  Percentage_of_Live_Births_For_Unmarried_Womens_From_21_to_24_Years      38 non-null     float64
 23  Percentage_of_Live_Births_For_Unmarried_Womens_Over_25_Years            38 non-null     float64
dtypes: float64(23), int64(1)
memory usage: 7.6 KB

In [10]:
childbearing.head()

,Year,Live_Births_Per_1000_Unmarried_Women,Live_Births_Per_1000_Unmarried_White_Women,Live_Births_Per_1000_Unmarried_Black_Women,Live_Births_Per_1000_Unmarried_Asian_Women,Live_Births_Per_1000_Unmarried_Hispanic_Women,Live_Births_Per_1000_Unmarried_White_Not_His_Or_Lat_Women,Percent_of_Live_Births_To_Unmarried_Mothers,Percent_of_Live_Births_To_Unmarried_White_Mothers,Percent_of_Live_Births_To_Unmarried_Black_Mothers,...,Percent_of_Live_Births_To_Unmarried_Puerto_Rican_Mothers,Percent_of_Live_Births_To_Unmarried_Cuban_Mothers,Percent_of_Live_Births_To_Unmarried_Central_and_South_American_Mothers,Percent_of_Live_Births_To_Unmarried_Other_Hispanic_Mothers,Percent_of_Live_Births_To_Unmarried_White_Not_His_Or_Lat_Mothers,Percent_of_Live_Births_To_Unmarried_Black_Not_His_Or_Lat_Mothers,Live_Births_in_Thousands,Percentage_of_Live_Births_For_Unmarried_Womens_Under_20_Years,Percentage_of_Live_Births_For_Unmarried_Womens_From_21_to_24_Years,Percentage_of_Live_Births_For_Unmarried_Womens_Over_25_Years
0,1970,26.4,13.9,95.5,NaN,NaN,NaN,10.7,5.5,37.5,...,NaN,NaN,NaN,NaN,NaN,NaN,399.0,50.1,31.8,18.1
1,1975,24.5,12.4,84.2,NaN,NaN,NaN,14.3,7.1,49.5,...,NaN,NaN,NaN,NaN,NaN,NaN,448.0,52.1,29.9,18.0
2,1980,29.4,18.1,81.1,NaN,NaN,NaN,18.4,11.2,56.1,...,46.3,10.0,27.1,22.4,9.5,57.2,666.0,40.8,35.6,23.5
3,1981,29.5,18.6,79.4,NaN,NaN,NaN,18.9,11.8,56.9,...,48.0,14.3,29.0,25.0,10.0,57.9,687.0,39.0,36.0,25.0
4,1982,30.0,19.3,77.9,NaN,NaN,NaN,19.4,12.3,57.7,...,49.0,15.9,30.2,26.3,10.4,58.9,715.0,37.7,36.0,26.3

In [11]:
childbearing.describe()

,Year,Live_Births_Per_1000_Unmarried_Women,Live_Births_Per_1000_Unmarried_White_Women,Live_Births_Per_1000_Unmarried_Black_Women,Live_Births_Per_1000_Unmarried_Asian_Women,Live_Births_Per_1000_Unmarried_Hispanic_Women,Live_Births_Per_1000_Unmarried_White_Not_His_Or_Lat_Women,Percent_of_Live_Births_To_Unmarried_Mothers,Percent_of_Live_Births_To_Unmarried_White_Mothers,Percent_of_Live_Births_To_Unmarried_Black_Mothers,...,Percent_of_Live_Births_To_Unmarried_Puerto_Rican_Mothers,Percent_of_Live_Births_To_Unmarried_Cuban_Mothers,Percent_of_Live_Births_To_Unmarried_Central_and_South_American_Mothers,Percent_of_Live_Births_To_Unmarried_Other_Hispanic_Mothers,Percent_of_Live_Births_To_Unmarried_White_Not_His_Or_Lat_Mothers,Percent_of_Live_Births_To_Unmarried_Black_Not_His_Or_Lat_Mothers,Live_Births_in_Thousands,Percentage_of_Live_Births_For_Unmarried_Womens_Under_20_Years,Percentage_of_Live_Births_For_Unmarried_Womens_From_21_to_24_Years,Percentage_of_Live_Births_For_Unmarried_Womens_Over_25_Years
count,40.000000,40.000000,40.000000,40.000000,16.000000,28.000000,25.000000,38.000000,38.000000,38.000000,...,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,38.000000,38.000000,38.000000,38.000000
mean,1997.200000,43.182500,36.165000,74.932500,22.143750,86.457143,33.940000,30.810526,24.534211,65.973684,...,58.394444,28.652778,43.455556,42.816667,20.930556,67.697222,1225.684211,28.813158,36.007895,35.184211
std,12.264604,10.861999,13.502774,9.094642,1.212143,9.226830,13.655615,8.314552,9.147567,7.113166,...,5.451969,12.719198,7.145286,9.915053,6.497244,4.345407,369.568054,8.652704,1.766258,7.625793
min,1970.000000,24.500000,12.400000,59.600000,20.400000,67.400000,24.400000,10.700000,5.500000,37.500000,...,46.300000,10.000000,27.100000,22.400000,9.500000,57.200000,399.000000,12.900000,29.900000,18.000000
25%,1987.750000,37.875000,26.875000,67.800000,21.050000,83.100000,28.000000,24.800000,17.175000,63.725000,...,54.725000,17.200000,38.675000,36.625000,15.850000,65.675000,951.000000,22.800000,35.100000,32.325000
50%,1997.500000,43.850000,37.200000,73.650000,22.200000,87.100000,30.400000,32.500000,25.750000,68.600000,...,59.550000,24.750000,44.200000,44.100000,21.700000,69.000000,1275.000000,29.950000,36.000000,34.600000
75%,2007.250000,46.000000,41.875000,81.100000,23.025000,92.550000,32.400000,38.100000,32.900000,70.175000,...,62.650000,40.000000,50.175000,49.725000,26.900000,70.700000,1578.750000,32.325000,36.900000,39.075000
max,2017.000000,78.700000,76.200000,95.500000,23.900000,102.100000,78.600000,41.000000,36.000000,72.300000,...,65.200000,50.700000,52.700000,56.400000,29.300000,72.800000,1727.000000,52.100000,38.800000,52.100000

In [12]:
childbearing.columns.tolist()

['Year',
 'Live_Births_Per_1000_Unmarried_Women',
 'Live_Births_Per_1000_Unmarried_White_Women',
 'Live_Births_Per_1000_Unmarried_Black_Women',
 'Live_Births_Per_1000_Unmarried_Asian_Women',
 'Live_Births_Per_1000_Unmarried_Hispanic_Women',
 'Live_Births_Per_1000_Unmarried_White_Not_His_Or_Lat_Women',
 'Percent_of_Live_Births_To_Unmarried_Mothers',
 'Percent_of_Live_Births_To_Unmarried_White_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Black_Mothers',
 'Percent_of_Live_Births_To_Unmarried_American_Indian_or_Alaska_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Asian_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Hispanic_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Mexican_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Puerto_Rican_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Cuban_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Central_and_South_American_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Other_Hispanic_Mothers',
 'Percent_of_Live_Births_To_Unmarried_White_Not_His_Or_Lat_Mothers',
 'Percent_of_Live_Births_To_Unmarried_Black_Not_His_Or_Lat_Mothers',
 'Live_Births_in_Thousands',
 'Percentage_of_Live_Births_For_Unmarried_Womens_Under_20_Years',
 'Percentage_of_Live_Births_For_Unmarried_Womens_From_21_to_24_Years',
 'Percentage_of_Live_Births_For_Unmarried_Womens_Over_25_Years']

In [13]:
median_hh_inc = pd.read_csv('../data/single_parent/fred/real_median_hh_inc_1984-2021.csv')

In [14]:
median_hh_inc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           38 non-null     object
 1   MEHOINUSA672N  38 non-null     int64
dtypes: int64(1), object(1)
memory usage: 736.0+ bytes

In [15]:
median_hh_inc.describe()

       MEHOINUSA672N
count      38.000000
mean    62985.131579
std      3983.103402
min     55828.000000
25%     60321.750000
50%     62747.500000
75%     64892.750000
max     72808.000000

In [16]:
median_hh_inc

          DATE  MEHOINUSA672N
0   1984-01-01          55828
1   1985-01-01          56871
2   1986-01-01          58920
3   1987-01-01          59624
4   1988-01-01          60115
5   1989-01-01          61153
6   1990-01-01          60370
7   1991-01-01          58607
8   1992-01-01          58153
9   1993-01-01          57843
10  1994-01-01          58515
11  1995-01-01          60348
12  1996-01-01          61225
13  1997-01-01          62484
14  1998-01-01          64781
15  1999-01-01          66385
16  2000-01-01          66248
17  2001-01-01          64779
18  2002-01-01          64047
19  2003-01-01          63967
20  2004-01-01          63745
21  2005-01-01          64427
22  2006-01-01          64930
23  2007-01-01          65801
24  2008-01-01          63455
25  2009-01-01          63011
26  2010-01-01          61364
27  2011-01-01          60428
28  2012-01-01          60313
29  2013-01-01          62425
30  2014-01-01          61468
31  2015-01-01          64631
32  2016-01-01          66657
33  2017-01-01          67571
34  2018-01-01          68168
35  2019-01-01          72808
36  2020-01-01          71186
37  2021-01-01          70784

In [17]:
characteristics = pd.read_csv('../data/single_parent/johnsnowlabs/ACS_2012-2016/characteristics_poverty_zcta_2012-2016.csv')

In [18]:
characteristics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33120 entries, 0 to 33119
Data columns (total 45 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Geographic_ID                                                           33120 non-null  object
 1   FIPS_Code                                                               33120 non-null  int64
 2   Geographic_Display_Label                                                33120 non-null  object
 3   Latitude                                                                33120 non-null  float64
 4   Longitude                                                               33120 non-null  float64
 5   Land_Area                                                               33120 non-null  int64
 6   Water_Area                                                              33120 non-null  int64
 7   Estimate_Total                                                          32799 non-null  float64
 8   Margin_Of_Error_Total                                                   33103 non-null  float64
 9   Estimate_Population_One_Race                                            32797 non-null  float64
 10  Margin_Of_Error_Population_One_Race                                     33120 non-null  int64
 11  Estimate_Population_One_Race_White                                      32723 non-null  float64
 12  Margin_Of_Error_Population_One_Race_White                               33120 non-null  int64
 13  Estimate_Population_One_Race_Black_Or_African_American                  22537 non-null  float64
 14  Margin_Of_Error_Population_One_Race_Black_Or_African_American           33120 non-null  int64
 15  Estimate_Population_One_Race_American_Indian_And_Alaska_Native          18461 non-null  float64
 16  Margin_Of_Error_Population_One_Race_American_Indian_And_Alaska_Native   33120 non-null  int64
 17  Estimate_Population_One_Race_Asian                                      33120 non-null  int64
 18  Margin_Of_Error_Population_One_Race_Asian                               33120 non-null  int64
 19  Estimate_Population_One_Race_Native_Hawaiian_Other_Pacific_Islander     6351 non-null   float64
 20  Margin_Of_Error_Population_One_Race_Native_Hawaiian_And_Other_Pacific   33120 non-null  int64
 21  Estimate_Population_Some_Other_Race                                     19621 non-null  float64
 22  Margin_Of_Error_Population_Some_Other_Race                              33120 non-null  int64
 23  Estimate_Population_Two_Or_More_Races                                   26233 non-null  float64
 24  Margin_Of_Error_Population_Two_Or_More_Races                            33120 non-null  int64
 25  Estimate_Population_Two_Races_Including_Some_Other_Race                 13871 non-null  float64
 26  Margin_Of_Error_Population_Two_Races_Including_Some_Other_Race          33120 non-null  int64
 27  Estimate_Two_Races_Excluding_Some_Other_Race_And_Three_Or_More_Races    25769 non-null  float64
 28  Margin_Of_Error_Two_Excluding_Some_Other_Race_And_Three_Or_More_Races   33120 non-null  int64
 29  Estimate_Population_Two_Races                                           26074 non-null  float64
 30  Margin_Of_Error_Population_Two_Races                                    33120 non-null  int64
 31  Estimate_Population_Two_Races_White_Black_Or_African_American           18469 non-null  float64
 32  Margin_Of_Error_Population_Two_Races_White_Black_Or_African_American    33120 non-null  int64
 33  Estimate_Population_Two_More_Races_White_American_Indian_Alaska_Native  20967 non-null  float64
 34  Margin_Of_Error_Two_More_Races_White_American_Indian_And_Alaska_Native  33120 non-null  int64
 35  Estimate_Population_Two_Or_More_Races_White_Asian                       14830 non-null  float64
 36  Margin_Of_Error_Population_Two_Or_More_Races_White_Asian                33120 non-null  int64
 37  Estimate_Two_More_Races_Black_African_American_Indian_Alaska_Native     7054 non-null   float64
 38  Margin_Of_Error_Two_More_Races_African_American_Indian_Alaska_Native    33120 non-null  int64
 39  Estimate_Population_All_Other_Two_Race_Combinations                     15712 non-null  float64
 40  Margin_Of_Error_Population_All_Other_Two_Race_Combinations              33120 non-null  int64
 41  Estimate_Population_Three_Races                                         10965 non-null  float64
 42  Margin_Of_Error_Population_Three_Races                                  33120 non-null  int64
 43  Estimate_Population_Four_Or_More_Races                                  2442 non-null   float64
 44  Margin_Of_Error_Population_Four_Or_More_Races                           33120 non-null  int64
dtypes: float64(21), int64(22), object(2)
memory usage: 11.4+ MB

In [19]:
characteristics.head()

,Geographic_ID,FIPS_Code,Geographic_Display_Label,Latitude,Longitude,Land_Area,Water_Area,Estimate_Total,Margin_Of_Error_Total,Estimate_Population_One_Race,...,Estimate_Population_Two_Or_More_Races_White_Asian,Margin_Of_Error_Population_Two_Or_More_Races_White_Asian,Estimate_Two_More_Races_Black_African_American_Indian_Alaska_Native,Margin_Of_Error_Two_More_Races_African_American_Indian_Alaska_Native,Estimate_Population_All_Other_Two_Race_Combinations,Margin_Of_Error_Population_All_Other_Two_Race_Combinations,Estimate_Population_Three_Races,Margin_Of_Error_Population_Three_Races,Estimate_Population_Four_Or_More_Races,Margin_Of_Error_Population_Four_Or_More_Races
0,8600000US00601,601,ZCTA5 00601,18.180556,-66.749961,166659745,799293,17800.0,299.0,17611.0,...,NaN,21,22.0,35,26.0,22,13.0,18,NaN,21
1,8600000US00602,602,ZCTA5 00602,18.361945,-67.175597,79307535,4428428,39716.0,188.0,25527.0,...,NaN,28,70.0,85,164.0,131,1930.0,635,NaN,28
2,8600000US00603,603,ZCTA5 00603,18.455183,-67.119887,81884707,183895,51565.0,785.0,44690.0,...,38.0,64,10.0,15,384.0,233,241.0,171,NaN,31
3,8600000US00606,606,ZCTA5 00606,18.158345,-66.932911,109579998,12487,6320.0,233.0,6160.0,...,NaN,19,NaN,19,77.0,80,NaN,19,NaN,19
4,8600000US00610,610,ZCTA5 00610,18.295366,-67.125135,93013427,4172060,27976.0,197.0,24182.0,...,NaN,25,56.0,83,103.0,69,848.0,387,8.0,14

In [20]:
single_parent_percent = pd.read_csv('../data/single_parent/diversitydatakids/single_parent_percent/single_parent_percent_race_5yr_ACS.csv')

In [21]:
single_parent_percent.describe()

,total_est,total_se,aian_est,aian_se,api_est,api_se,asian_est,asian_se,black_est,black_se,...,nnhwhite_est,nnhwhite_se,other_est,other_se,othermore_est,othermore_se,twomore_est,twomore_se,white_est,white_se
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,17.492986,0.016485,29.264897,0.166641,14.153112,0.064369,13.837360,0.064418,34.977594,0.047287,...,28.767285,0.185516,32.006247,0.122174,29.396269,0.074017,23.987684,0.168977,14.067509,0.027769
std,0.288790,0.002098,0.390682,0.021620,0.122165,0.003549,0.120456,0.003579,0.504607,0.005851,...,0.342565,0.014254,0.876150,0.012302,0.531633,0.007421,0.440761,0.104157,0.363033,0.001679
min,16.968029,0.012982,28.358513,0.131971,13.866494,0.059052,13.560236,0.059041,33.964027,0.034843,...,28.027401,0.168630,30.248159,0.100855,28.519041,0.061813,23.352026,0.024203,13.434773,0.025619
25%,17.325644,0.015172,29.170826,0.147942,14.119246,0.063386,13.793163,0.063638,34.767185,0.045347,...,28.748781,0.174647,31.772661,0.117527,29.089785,0.070126,23.652210,0.035217,13.825521,0.026737
50%,17.537714,0.016525,29.436026,0.165958,14.181945,0.064159,13.854511,0.063914,35.256409,0.046986,...,28.825993,0.182848,32.283230,0.119361,29.408768,0.075932,23.983210,0.227430,14.243999,0.027692
75%,17.692907,0.017446,29.480175,0.183028,14.233039,0.065783,13.917044,0.065816,35.279491,0.050514,...,29.035372,0.201430,32.663326,0.129380,29.768150,0.078494,24.300182,0.243683,14.368291,0.028219
max,17.801401,0.019585,29.633123,0.193060,14.268226,0.070450,13.960054,0.070835,35.482498,0.055795,...,29.096275,0.203816,32.999611,0.141796,30.055752,0.085916,24.548283,0.258627,14.415653,0.030588

In [22]:
single_parent_percent

,geoid,name,year,total_est,total_se,aian_est,aian_se,api_est,api_se,asian_est,...,nnhwhite_est,nnhwhite_se,other_est,other_se,othermore_est,othermore_se,twomore_est,twomore_se,white_est,white_se
0,01000US,United States,2005-2009,16.968029,0.014323,28.358513,0.192440,14.119246,0.065783,13.793163,...,28.748781,0.201478,30.248159,0.100855,28.519041,0.070126,23.441607,0.035217,13.434773,0.027692
1,01000US,United States,2006-2010,17.156507,0.016235,29.007010,0.193060,14.181945,0.070450,13.854511,...,28.825993,0.201430,31.151348,0.119361,29.089785,0.078804,23.652210,0.248540,13.614427,0.029919
2,01000US,United States,2007-2011,17.325644,0.017446,29.170826,0.183028,14.162355,0.068019,13.838072,...,28.938379,0.203816,31.778093,0.124767,29.408768,0.075932,23.863434,0.258627,13.825521,0.030588
3,01000US,United States,2008-2012,17.502373,0.016525,29.441906,0.165958,14.233039,0.064030,13.917044,...,29.037523,0.190854,32.407604,0.117527,29.768150,0.071182,24.300182,0.243683,14.046001,0.027250
4,01000US,United States,2009-2013,17.678785,0.012982,29.436026,0.178627,14.268226,0.064159,13.948117,...,29.096275,0.182848,32.752193,0.129380,29.942078,0.078494,24.455755,0.024203,14.243999,0.025834
5,01000US,United States,2010-2014,17.801401,0.015172,29.633123,0.147923,14.261849,0.064444,13.960054,...,29.035372,0.176763,32.999611,0.135326,30.055752,0.077932,24.548283,0.227808,14.398839,0.025619
6,01000US,United States,2011-2015,17.773516,0.017332,29.547102,0.158820,14.184200,0.059052,13.873225,...,28.752541,0.174647,32.663326,0.112548,29.711216,0.061813,24.292446,0.227430,14.415653,0.028219
7,01000US,United States,2012-2016,17.692907,0.018769,29.480175,0.147942,14.100658,0.060002,13.791821,...,28.443304,0.168630,32.283230,0.141796,29.325026,0.085916,23.983210,0.033581,14.368291,0.026737
8,01000US,United States,2013-2017,17.537714,0.019585,29.309395,0.131971,13.866494,0.063386,13.560236,...,28.027401,0.169173,31.772661,0.118002,28.746605,0.065958,23.352026,0.221705,14.260076,0.028066

In [2]:
fm1 = pd.read_excel('../data/single_parent/census/historical_family_tables/fm1.xls')
fm1

NameError: name 'pd' is not defined

In [69]:
hh_by_type = pd.read_excel('../data/single_parent/census/historical_family_tables/fm1.xls', skiprows=7, nrows=80)
pd.set_option('display.max_rows', None)
hh_by_type

,Year,All families,Families with own children under 18,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,Total,Married couple,One parent families,NaN,NaN
1,NaN,NaN,NaN,NaN,Total,Mother only,Father only
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,84265.0,33924,23345,10579,7906,2673
4,2021r,83711.0,33748,23222,10526,7859,2667
5,2021,83907.0,33579,23089,10490,7829,2661
6,2020,83677.0,33464,23618,9846,7472,2374
7,2019,83482.0,33942,23735,10207,7707,2500
8,2018,83088.0,34452,23812,10640,8156,2484
9,2017,82827.0,34292,23651,10641,8246,2395
10,2016,82184.0,34769,23772,10997,8525,2472
11,2015,81716.0,34979,24040,10939,8551,2388
12,2014s,81353.0,34955,23933,11022,8550,2472
13,2013,80902.0,35058,23870,11187,8627,2560
14,2012,80506.0,34989,23704,11284,8869,2415
15,2011r,79539.0,35060,24112,10948,8701,2247
16,2011,78613.0,34760,23938,10822,8597,2225
17,2010,78833.0,35218,24575,10643,8419,2224
18,2009,78850.0,35635,25129,10505,8394,2111
19,2008,77873.0,35709,25173,10536,8374,2162
20,2007,78425.0,36757,26158,10600,8585,2015
21,2006,77402.0,36466,25982,10484,8389,2095
22,2005,76858.0,36211,25919,10291,8270,2021
23,2004,76217.0,35944,25793,10152,8221,1931
24,2003,75596.0,35968,25914,10054,8139,1915
25,2002,74329.0,35705,25792,9913,8010,1903
26,2001,73767.0,35355,25980,9374,7538,1836
27,2000,72025.0,34605,25248,9357,7571,1786
28,1999,71535.0,34613,25066,9547,7841,1706
29,1998,70880.0,34760,25269,9491,7693,1798
30,1997,70241.0,34665,25083,9583,7874,1709
31,1996,69594.0,34203,24920,9284,7656,1628
32,1995,69305.0,34296,25241,9055,7615,1440
33,1994,68490.0,34018,25058,8961,7647,1314
34,1993,68144.0,33257,24707,8550,7226,1324
35,1992,67173.0,32746,24420,8326,7043,1283
36,1991,66322.0,32401,24397,8004,6823,1181
37,1990,66090.0,32289,24537,7752,6599,1153
38,1989,65837.0,32322,24735,7587,6519,1068
39,1988,65133.0,31920,24600,7320,6273,1047
40,1987,64491.0,31898,24646,7252,6297,955
41,1986,63558.0,31670,24630,7040,6105,935
42,1985,62706.0,31112,24210,6902,6006,896
43,1984,61997.0,31046,24340,6706,5907,799
44,1983,61393.0,30818,24363,6455,5718,737
45,1982,61019.0,31012,24465,6547,5868,679
46,1981,60309.0,31227,24927,6300,5634,666
47,1980r,59550.0,31022,24961,6061,5445,616
48,1980,58426.0,30517,24568,5949,5340,609
49,1979,57804.0,30371,24514,5857,5288,569
50,1978,57215.0,30369,24625,5744,5206,539
51,1977,56710.0,30145,24875,5270,4784,486
52,1976,56245.0,30177,25110,5067,4621,446
53,1975,55712.0,30057,25169,4888,4404,484
54,1974,55053.0,29750,25278,4472,4081,391
55,1973,54373.0,29571,25387,4184,3798,386
56,1972,53296.0,29445,25482,3963,3598,365
57,1971,52227.0,28786,25091,3695,3365,331
58,1970r,51586.0,28812,25541,3271,2971,345
59,1970,51237.0,28665,25406,3260,2925,335
60,1969,50823.0,28347,25136,3211,2888,323
61,1968,50111.0,27964,24895,3069,2772,297
62,1967,49214.0,27561,24646,2915,2584,331
63,1966,48509.0,27004,24276,2728,2450,278
64,1965,47956.0,27140,24406,2734,2485,249
65,1964,47540.0,27068,24439,2629,2361,268
66,1963,47059.0,26911,24321,2590,2229,361
67,1962,46418.0,26271,23788,2483,2229,254
68,1961,45539.0,25889,23514,2375,2185,190
69,1960,45111.0,25690,23358,2332,2099,232
70,1959,44232.0,25069,22894,2175,1943,232
71,1958,43696.0,24541,22426,2115,1822,293
72,1957,43497.0,24260,22139,2121,1855,265
73,1956,42889.0,23743,21631,2112,1814,298
74,1955,41951.0,23190,21064,2126,1870,256
75,1954,41263.0,22544,20645,1899,1615,283
76,1953,40877.0,21718,19920,1798,1521,277
77,1952,40608.0,21353,19606,1747,1514,233
78,1951,39944.0,21279,19389,1890,1659,231
79,1950,39303.0,20324,18824,1500,1272,229

In [68]:
#rename columns to flatten table
hh_by_type = hh_by_type.rename(columns = {'Unnamed: 3': 'Married couple', 'Unnamed: 4': 'One parent families', 'Unnamed: 5': 'Mother only', 'Unnamed: 6': 'Father only'})
#drop prior index rows, drop original rows and keep revised
hh_by_type = hh_by_type.drop(labels=[0, 1, 2, 5, 16, 48, 59]).reset_index(drop=True)
#remove "r" from revised columns
hh_by_type['Year'] = hh_by_type['Year'].replace({'r': ''}, regex=True)

,Year,All families,Families with own children under 18,Married couple,One parent families,Mother only,Father only
0,NaN,NaN,Total,Married couple,One parent families,NaN,NaN
1,NaN,NaN,NaN,NaN,Total,Mother only,Father only
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,84265.0,33924,23345,10579,7906,2673
4,2021r,83711.0,33748,23222,10526,7859,2667
5,2021,83907.0,33579,23089,10490,7829,2661
6,2020,83677.0,33464,23618,9846,7472,2374
7,2019,83482.0,33942,23735,10207,7707,2500
8,2018,83088.0,34452,23812,10640,8156,2484
9,2017,82827.0,34292,23651,10641,8246,2395
10,2016,82184.0,34769,23772,10997,8525,2472
11,2015,81716.0,34979,24040,10939,8551,2388
12,2014s,81353.0,34955,23933,11022,8550,2472
13,2013,80902.0,35058,23870,11187,8627,2560
14,2012,80506.0,34989,23704,11284,8869,2415
15,2011r,79539.0,35060,24112,10948,8701,2247
16,2011,78613.0,34760,23938,10822,8597,2225
17,2010,78833.0,35218,24575,10643,8419,2224
18,2009,78850.0,35635,25129,10505,8394,2111
19,2008,77873.0,35709,25173,10536,8374,2162
20,2007,78425.0,36757,26158,10600,8585,2015
21,2006,77402.0,36466,25982,10484,8389,2095
22,2005,76858.0,36211,25919,10291,8270,2021
23,2004,76217.0,35944,25793,10152,8221,1931
24,2003,75596.0,35968,25914,10054,8139,1915
25,2002,74329.0,35705,25792,9913,8010,1903
26,2001,73767.0,35355,25980,9374,7538,1836
27,2000,72025.0,34605,25248,9357,7571,1786
28,1999,71535.0,34613,25066,9547,7841,1706
29,1998,70880.0,34760,25269,9491,7693,1798
30,1997,70241.0,34665,25083,9583,7874,1709
31,1996,69594.0,34203,24920,9284,7656,1628
32,1995,69305.0,34296,25241,9055,7615,1440
33,1994,68490.0,34018,25058,8961,7647,1314
34,1993,68144.0,33257,24707,8550,7226,1324
35,1992,67173.0,32746,24420,8326,7043,1283
36,1991,66322.0,32401,24397,8004,6823,1181
37,1990,66090.0,32289,24537,7752,6599,1153
38,1989,65837.0,32322,24735,7587,6519,1068
39,1988,65133.0,31920,24600,7320,6273,1047
40,1987,64491.0,31898,24646,7252,6297,955
41,1986,63558.0,31670,24630,7040,6105,935
42,1985,62706.0,31112,24210,6902,6006,896
43,1984,61997.0,31046,24340,6706,5907,799
44,1983,61393.0,30818,24363,6455,5718,737
45,1982,61019.0,31012,24465,6547,5868,679
46,1981,60309.0,31227,24927,6300,5634,666
47,1980r,59550.0,31022,24961,6061,5445,616
48,1980,58426.0,30517,24568,5949,5340,609
49,1979,57804.0,30371,24514,5857,5288,569
50,1978,57215.0,30369,24625,5744,5206,539
51,1977,56710.0,30145,24875,5270,4784,486
52,1976,56245.0,30177,25110,5067,4621,446
53,1975,55712.0,30057,25169,4888,4404,484
54,1974,55053.0,29750,25278,4472,4081,391
55,1973,54373.0,29571,25387,4184,3798,386
56,1972,53296.0,29445,25482,3963,3598,365
57,1971,52227.0,28786,25091,3695,3365,331
58,1970r,51586.0,28812,25541,3271,2971,345
59,1970,51237.0,28665,25406,3260,2925,335
60,1969,50823.0,28347,25136,3211,2888,323
61,1968,50111.0,27964,24895,3069,2772,297
62,1967,49214.0,27561,24646,2915,2584,331
63,1966,48509.0,27004,24276,2728,2450,278
64,1965,47956.0,27140,24406,2734,2485,249
65,1964,47540.0,27068,24439,2629,2361,268
66,1963,47059.0,26911,24321,2590,2229,361
67,1962,46418.0,26271,23788,2483,2229,254
68,1961,45539.0,25889,23514,2375,2185,190
69,1960,45111.0,25690,23358,2332,2099,232
70,1959,44232.0,25069,22894,2175,1943,232
71,1958,43696.0,24541,22426,2115,1822,293
72,1957,43497.0,24260,22139,2121,1855,265
73,1956,42889.0,23743,21631,2112,1814,298
74,1955,41951.0,23190,21064,2126,1870,256
75,1954,41263.0,22544,20645,1899,1615,283
76,1953,40877.0,21718,19920,1798,1521,277
77,1952,40608.0,21353,19606,1747,1514,233
78,1951,39944.0,21279,19389,1890,1659,231
79,1950,39303.0,20324,18824,1500,1272,229

In [ ]:

#clear out spaces in headings
# convert all columns but 'year' to int64
hh_type_1950_2022
# convert year to datetime 'yyyy'

In [59]:

hh_type_1950_2022

,Year,All families,Families with own children under 18,Married couple,One parent families,Mother only,Father only
0,2022,84265.0,33924,23345,10579,7906,2673
1,2021r,83711.0,33748,23222,10526,7859,2667
2,2021,83907.0,33579,23089,10490,7829,2661
3,2020,83677.0,33464,23618,9846,7472,2374
4,2019,83482.0,33942,23735,10207,7707,2500
...,...,...,...,...,...,...,...
72,1954,41263.0,22544,20645,1899,1615,283
73,1953,40877.0,21718,19920,1798,1521,277
74,1952,40608.0,21353,19606,1747,1514,233
75,1951,39944.0,21279,19389,1890,1659,231
76,1950,39303.0,20324,18824,1500,1272,229

In [58]:
hh_type_1950_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Year                                    77 non-null     object
 1   All families                            77 non-null     float64
 2      Families with own children under 18  77 non-null     object
 3   Married couple                          77 non-null     object
 4   One parent families                     77 non-null     object
 5   Mother only                             77 non-null     object
 6   Father only                             77 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.3+ KB

Jupyter notebooks shows 20 columns only by default
#### syntax to force notebook to show all columns
pd.set_option('max_columns', None)
#### display all column names in df
print(df.columns.tolist())
#### syntax to reset columns
pd.reset_option('max_columns')

https://pypi.org/project/pandas-profiling/

from ydata_profiling import ProfileReport

ydata_profiling.version.__version__

#### original syntax [from pandas_profiling import ProfileReport]

profile.to_file(output_file="output_min.html")

prof = ProfileReport(df)
prof.to_file(output_file='output.html')

#### print minimal report
profile = ProfileReport(df, minimal=True)

#### only use the first 10000 data points
prof = ProfileReport(df.sample(n=10000)) 
prof.to_file(output_file='output.html')