In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

#### f07 - Table F-7. Type of Family--All Families by Median and Mean Income: 1947 to 2021					
Information on confidentiality protection, sampling error, nonsampling error, and definitions is available at <https://www2.census.gov/programs-surveys/cps/techdocs/cpsmar22.pdf>.					
Footnotes are available at <www.census.gov/topics/income-poverty/income/guidance/cps-historic-footnotes.html>.					
Source: U.S. Census Bureau, Current Population Survey, 1948 to 2022 Annual Social and Economic Supplements (CPS ASEC).					
(Families as of March of the following year. Income in current and 2021 R-CPI-U-RS adjusted dollars (28))

In [2]:
#read in all families only through 1970
f07a = pd.read_excel('../data/single_parent/census/historical_income_families/f07ar_mean_med_type_fam.xlsx', skiprows=7, nrows=55)
pd.set_option('display.max_rows', None)
f07a

,Type of family and year,Number (thousands),Median income,Unnamed: 3,Mean income,Unnamed: 5
0,NaN,NaN,Current dollars,2021 dollars,Current dollars,2021 dollars
1,2021,84283.0,88590,88590,121840,121840
2,2020 (41),83723.0,84348,88286,115310,120694
3,2019,83698.0,86011,91151,116735,123711
4,2018,83508.0,78646,84856,106045,114418
5,2017 (40),83539.0,76135,84149,103218,114083
6,2017,83103.0,75938,83931,100400,110968
7,2016,82854.0,72707,82089,97357,109919
8,2015,82199.0,70697,80849,92673,105980
9,2014,81730.0,66632,76331,88765,101686
10,2013 (39),82316.0,65471,76271,87671,102134
11,2013 (38),81217.0,63815,74342,84687,98657
12,2012,80944.0,62241,73583,82843,97939
13,2011,80529.0,60974,73612,81007,97797
14,2010 (37),79559.0,60236,75013,78180,97359
15,2009 (36),78867.0,60088,76063,78538,99418
16,2008,78874.0,61521,77606,79634,100455
17,2007,77908.0,61355,80370,78845,103280
18,2006,78454.0,58407,78678,77315,104148
19,2005,77418.0,56194,78151,73304,101946
20,2004 (35),76866.0,54061,77731,70389,101208
21,2003,76232.0,52680,77792,68563,101246
22,2002,75616.0,51680,78048,66970,101139
23,2001,74340.0,51407,78860,66863,102570
24,2000 (30),73778.0,50732,80040,65773,103770
25,1999 (29),73206.0,48831,79655,62567,102061
26,1998,71551.0,46737,77862,59589,99274
27,1997,70884.0,44568,75254,56902,96081
28,1996,70241.0,42300,72969,53676,92593
29,1995 (25),69597.0,40611,71921,51353,90945
30,1994 (24),69313.0,38782,70336,49340,89485
31,1993 (23),68506.0,36959,68430,47221,87430
32,1992 (22),68216.0,36573,69423,44221,83940
33,1991,67173.0,35939,69915,43237,84113
34,1990,66322.0,35353,71278,42652,85994
35,1989,66090.0,34213,72381,41506,87810
36,1988,65837.0,32191,71080,38608,85250
37,1987 (21),65204.0,30970,70855,36884,84385
38,1986,64491.0,29458,69714,34924,82649
39,1985 (20),63558.0,27735,66785,32944,79328
40,1984 (19),62706.0,26433,65835,31052,77339
41,1983,61997.0,24580,63767,28638,74295
42,1982,61393.0,23433,63388,27391,74095
43,1981,61019.0,22388,64219,25838,74115
44,1980,60309.0,21023,65997,23974,75261
45,1979 (18),59550.0,19587,68375,22316,77901
46,1978,57804.0,17640,67417,20091,76785
47,1977,57215.0,16009,65380,18264,74589
48,1976 (17),56710.0,14958,64943,16870,73244
49,1975 (16),56245.0,13719,62991,15546,71379
50,1974 (16)(15),55698.0,12902,64108,14711,73097
51,1973,55053.0,12051,65868,13622,74454
52,1972 (14),54373.0,11116,64560,12625,73324
53,1971 (13),53296.0,10285,61525,11583,69290
54,1970,52227.0,9867,61611,11106,69347

In [3]:
#rename columns
f07a = f07a.rename(columns = {'Type of family and year': 'year', 'Number (thousands)': 'all_families (thousands)', 
                            'Unnamed: 3': 'all_med_2021_dollars', 'Unnamed: 5': 'all_mean_2021_dollars'})

#drop empty columns or columns not needed
f07a = f07a.drop(['Median income', 'Mean income'], axis=1)

#drop prior index rows, drop original rows and keep revised
f07a = f07a.drop(labels=[0, 6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f07a = f07a.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f07a = f07a.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f07a.head(2)

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars
0,2021,84283.0,88590,121840
1,2020 (41),83723.0,88286,120694

In [4]:
f07a = f07a.astype({'year': 'str', 'all_families (thousands)': 'int64'})
f07a

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars
0,2021,84283,88590,121840
1,2020 (41),83723,88286,120694
2,2019,83698,91151,123711
3,2018,83508,84856,114418
4,2017 (40),83539,84149,114083
5,2016,82854,82089,109919
6,2015,82199,80849,105980
7,2014,81730,76331,101686
8,2013 (39),82316,76271,102134
9,2012,80944,73583,97939
10,2011,80529,73612,97797
11,2010 (37),79559,75013,97359
12,2009 (36),78867,76063,99418
13,2008,78874,77606,100455
14,2007,77908,80370,103280
15,2006,78454,78678,104148
16,2005,77418,78151,101946
17,2004 (35),76866,77731,101208
18,2003,76232,77792,101246
19,2002,75616,78048,101139
20,2001,74340,78860,102570
21,2000 (30),73778,80040,103770
22,1999 (29),73206,79655,102061
23,1998,71551,77862,99274
24,1997,70884,75254,96081
25,1996,70241,72969,92593
26,1995 (25),69597,71921,90945
27,1994 (24),69313,70336,89485
28,1993 (23),68506,68430,87430
29,1992 (22),68216,69423,83940
30,1991,67173,69915,84113
31,1990,66322,71278,85994
32,1989,66090,72381,87810
33,1988,65837,71080,85250
34,1987 (21),65204,70855,84385
35,1986,64491,69714,82649
36,1985 (20),63558,66785,79328
37,1984 (19),62706,65835,77339
38,1983,61997,63767,74295
39,1982,61393,63388,74095
40,1981,61019,64219,74115
41,1980,60309,65997,75261
42,1979 (18),59550,68375,77901
43,1978,57804,67417,76785
44,1977,57215,65380,74589
45,1976 (17),56710,64943,73244
46,1975 (16),56245,62991,71379
47,1974 (16)(15),55698,64108,73097
48,1973,55053,65868,74454
49,1972 (14),54373,64560,73324
50,1971 (13),53296,61525,69290
51,1970,52227,61611,69347

In [5]:
f07a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      52 non-null     object
 1   all_families (thousands)  52 non-null     int64
 2   all_med_2021_dollars      52 non-null     int64
 3   all_mean_2021_dollars     52 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.8+ KB

In [6]:
#read in married couple families through 1970
f07mc = pd.read_excel('../data/single_parent/census/historical_income_families/f07ar_mean_med_type_fam.xlsx',
                    skiprows=87, nrows=55)
pd.set_option('display.max_rows', None)
f07mc

,Type of family and year,Number (thousands),Median income,Unnamed: 3,Mean income,Unnamed: 5
0,NaN,NaN,Current dollars,2021 dollars,Current dollars,2021 dollars
1,2021,61448.0,106696,106696,141531,141531
2,2020 (41),61297.0,101554,106296,134045,140304
3,2019,62355.0,102032,108130,134442,142476
4,2018,61971.0,93329,100698,121827,131447
5,2017 (40),61883.0,91105,100695,119590,132178
6,2017,61254.0,90148,99637,115655,127829
7,2016,60821.0,86811,98012,112007,126460
8,2015,60258.0,84324,96432,107229,122626
9,2014,60015.0,80814,92578,103313,118352
10,2013 (39),59643.0,78614,91582,101990,118815
11,2013 (38),59692.0,76339,88932,98081,114261
12,2012,59224.0,75535,89299,96166,113690
13,2011,58963.0,73790,89084,93951,113423
14,2010 (37),58667.0,72241,89963,90514,112719
15,2009 (36),58428.0,71627,90670,90733,114856
16,2008,59137.0,72743,91762,91452,115363
17,2007,58395.0,72589,95085,90267,118242
18,2006,58964.0,69404,93492,88600,119350
19,2005,58189.0,65906,91657,83570,116223
20,2004 (35),57983.0,63626,91484,80398,115599
21,2003,57725.0,62281,91969,78275,115587
22,2002,57327.0,61130,92320,76349,115304
23,2001,56755.0,60335,92555,76008,116598
24,2000 (30),56598.0,59099,93240,74230,117113
25,1999 (29),56290.0,56501,92166,70727,115372
26,1998,54778.0,54180,90262,67875,113078
27,1997,54321.0,51591,87113,64678,109211
28,1996,53604.0,49707,85746,61214,105596
29,1995 (25),53570.0,47062,83345,58377,103384
30,1994 (24),53865.0,44959,81539,55944,101462
31,1993 (23),53181.0,43005,79624,53472,99004
32,1992 (22),53090.0,41890,79515,49755,94445
33,1991,52457.0,40995,79751,48480,94313
34,1990,52147.0,39895,80435,47528,95825
35,1989,52317.0,38547,81550,45995,97306
36,1988,52100.0,36389,80350,42801,94508
37,1987 (21),51675.0,34879,79798,40818,93385
38,1986,51537.0,32805,77635,38672,91519
39,1985 (20),50933.0,31100,74888,36267,87330
40,1984 (19),50350.0,29612,73753,34156,85070
41,1983,50090.0,27286,70787,31467,81634
42,1982,49908.0,26019,70384,29992,81131
43,1981,49630.0,25065,71897,28253,81042
44,1980,49294.0,23141,72646,26128,82023
45,1979 (18),49112.0,21429,74805,24222,84554
46,1978,47692.0,19340,73914,21804,83331
47,1977,47385.0,17616,71943,19798,80854
48,1976 (17),47497.0,16203,70348,18206,79045
49,1975 (16),47318.0,14867,68262,16693,76646
50,1974 (16)(15),47069.0,13923,69182,15767,78344
51,1973,46812.0,13028,71208,14594,79767
52,1972 (14),46314.0,11903,69131,13477,78273
53,1971 (13),45752.0,10990,65742,12336,73794
54,1970,44739.0,10516,65663,11774,73518

In [7]:
#rename columns
f07mc = f07mc.rename(columns = {'Type of family and year': 'year', 'Number (thousands)': 'married_couple_families (thousands)', 
                            'Unnamed: 3': 'mc_med_2021_dollars', 'Unnamed: 5': 'mc_mean_2021_dollars'})

#drop empty columns or columns not needed
f07mc = f07mc.drop(['Median income', 'Mean income'], axis=1)

#drop prior index rows, drop original rows and keep revised
f07mc = f07mc.drop(labels=[0, 6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f07mc = f07mc.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f07mc = f07mc.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f07mc.head(2)

,year,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars
0,2021,61448.0,106696,141531
1,2020 (41),61297.0,106296,140304

In [8]:
f07mc = f07mc.astype({'year': 'str', 'married_couple_families (thousands)': 'int64'})
f07mc

,year,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars
0,2021,61448,106696,141531
1,2020 (41),61297,106296,140304
2,2019,62355,108130,142476
3,2018,61971,100698,131447
4,2017 (40),61883,100695,132178
5,2016,60821,98012,126460
6,2015,60258,96432,122626
7,2014,60015,92578,118352
8,2013 (39),59643,91582,118815
9,2012,59224,89299,113690
10,2011,58963,89084,113423
11,2010 (37),58667,89963,112719
12,2009 (36),58428,90670,114856
13,2008,59137,91762,115363
14,2007,58395,95085,118242
15,2006,58964,93492,119350
16,2005,58189,91657,116223
17,2004 (35),57983,91484,115599
18,2003,57725,91969,115587
19,2002,57327,92320,115304
20,2001,56755,92555,116598
21,2000 (30),56598,93240,117113
22,1999 (29),56290,92166,115372
23,1998,54778,90262,113078
24,1997,54321,87113,109211
25,1996,53604,85746,105596
26,1995 (25),53570,83345,103384
27,1994 (24),53865,81539,101462
28,1993 (23),53181,79624,99004
29,1992 (22),53090,79515,94445
30,1991,52457,79751,94313
31,1990,52147,80435,95825
32,1989,52317,81550,97306
33,1988,52100,80350,94508
34,1987 (21),51675,79798,93385
35,1986,51537,77635,91519
36,1985 (20),50933,74888,87330
37,1984 (19),50350,73753,85070
38,1983,50090,70787,81634
39,1982,49908,70384,81131
40,1981,49630,71897,81042
41,1980,49294,72646,82023
42,1979 (18),49112,74805,84554
43,1978,47692,73914,83331
44,1977,47385,71943,80854
45,1976 (17),47497,70348,79045
46,1975 (16),47318,68262,76646
47,1974 (16)(15),47069,69182,78344
48,1973,46812,71208,79767
49,1972 (14),46314,69131,78273
50,1971 (13),45752,65742,73794
51,1970,44739,65663,73518

In [9]:
f07 = pd.merge(f07a, f07mc, on = 'year', how = 'left')
f07

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars
0,2021,84283,88590,121840,61448,106696,141531
1,2020 (41),83723,88286,120694,61297,106296,140304
2,2019,83698,91151,123711,62355,108130,142476
3,2018,83508,84856,114418,61971,100698,131447
4,2017 (40),83539,84149,114083,61883,100695,132178
5,2016,82854,82089,109919,60821,98012,126460
6,2015,82199,80849,105980,60258,96432,122626
7,2014,81730,76331,101686,60015,92578,118352
8,2013 (39),82316,76271,102134,59643,91582,118815
9,2012,80944,73583,97939,59224,89299,113690
10,2011,80529,73612,97797,58963,89084,113423
11,2010 (37),79559,75013,97359,58667,89963,112719
12,2009 (36),78867,76063,99418,58428,90670,114856
13,2008,78874,77606,100455,59137,91762,115363
14,2007,77908,80370,103280,58395,95085,118242
15,2006,78454,78678,104148,58964,93492,119350
16,2005,77418,78151,101946,58189,91657,116223
17,2004 (35),76866,77731,101208,57983,91484,115599
18,2003,76232,77792,101246,57725,91969,115587
19,2002,75616,78048,101139,57327,92320,115304
20,2001,74340,78860,102570,56755,92555,116598
21,2000 (30),73778,80040,103770,56598,93240,117113
22,1999 (29),73206,79655,102061,56290,92166,115372
23,1998,71551,77862,99274,54778,90262,113078
24,1997,70884,75254,96081,54321,87113,109211
25,1996,70241,72969,92593,53604,85746,105596
26,1995 (25),69597,71921,90945,53570,83345,103384
27,1994 (24),69313,70336,89485,53865,81539,101462
28,1993 (23),68506,68430,87430,53181,79624,99004
29,1992 (22),68216,69423,83940,53090,79515,94445
30,1991,67173,69915,84113,52457,79751,94313
31,1990,66322,71278,85994,52147,80435,95825
32,1989,66090,72381,87810,52317,81550,97306
33,1988,65837,71080,85250,52100,80350,94508
34,1987 (21),65204,70855,84385,51675,79798,93385
35,1986,64491,69714,82649,51537,77635,91519
36,1985 (20),63558,66785,79328,50933,74888,87330
37,1984 (19),62706,65835,77339,50350,73753,85070
38,1983,61997,63767,74295,50090,70787,81634
39,1982,61393,63388,74095,49908,70384,81131
40,1981,61019,64219,74115,49630,71897,81042
41,1980,60309,65997,75261,49294,72646,82023
42,1979 (18),59550,68375,77901,49112,74805,84554
43,1978,57804,67417,76785,47692,73914,83331
44,1977,57215,65380,74589,47385,71943,80854
45,1976 (17),56710,64943,73244,47497,70348,79045
46,1975 (16),56245,62991,71379,47318,68262,76646
47,1974 (16)(15),55698,64108,73097,47069,69182,78344
48,1973,55053,65868,74454,46812,71208,79767
49,1972 (14),54373,64560,73324,46314,69131,78273
50,1971 (13),53296,61525,69290,45752,65742,73794
51,1970,52227,61611,69347,44739,65663,73518

In [10]:
#read in male hh families until 1970
f07mhh = pd.read_excel('../data/single_parent/census/historical_income_families/f07ar_mean_med_type_fam.xlsx',
                    skiprows=167, nrows=55)
pd.set_option('display.max_rows', None)
f07mhh.head(3)

,Type of family and year,Number (thousands),Median income,Unnamed: 3,Mean income,Unnamed: 5
0,NaN,NaN,Current dollars,2021 dollars,Current dollars,2021 dollars
1,2021,7214.0,61980,61980,83424,83424
2,2020 (41),6964.0,60224,63036,77429,81044

In [11]:
#rename columns
f07mhh = f07mhh.rename(columns = {'Type of family and year': 'year', 'Number (thousands)': 'male_hh_families (thousands)', 
                            'Unnamed: 3': 'mhh_med_2021_dollars', 'Unnamed: 5': 'mhh_mean_2021_dollars'})

#drop empty columns or columns not needed
f07mhh = f07mhh.drop(['Median income', 'Mean income'], axis=1)

#drop prior index rows, drop original rows and keep revised
f07mhh = f07mhh.drop(labels=[0, 6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f07mhh = f07mhh.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f07mhh = f07mhh.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f07mhh.head(2)

,year,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars
0,2021,7214.0,61980,83424
1,2020 (41),6964.0,63036,81044

In [12]:
f07mhh = f07mhh.astype({'year': 'str', 'male_hh_families (thousands)': 'int64'})
f07mhh

,year,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars
0,2021,7214,61980,83424
1,2020 (41),6964,63036,81044
2,2019,6506,65393,84526
3,2018,6485,58626,79043
4,2017 (40),6351,57137,75991
5,2016,6452,58222,81727
6,2015,6311,56919,76688
7,2014,6162,54525,71390
8,2013 (39),6497,54976,74977
9,2012,6231,50077,67169
10,2011,5888,51996,69290
11,2010 (37),5649,53805,70717
12,2009 (36),5582,52535,69922
13,2008,5255,54963,71661
14,2007,5103,58105,73151
15,2006,5067,56366,74129
16,2005,5134,57174,75810
17,2004 (35),4901,58033,74525
18,2003,4717,56161,73433
19,2002,4663,56994,73102
20,2001,4440,56130,72495
21,2000 (30),4277,59522,82542
22,1999 (29),4099,60909,79678
23,1998,3977,59444,73158
24,1997,3911,55654,71840
25,1996,3847,54511,69024
26,1995 (25),3513,53763,65947
27,1994 (24),3228,50330,62866
28,1993 (23),2914,49004,62183
29,1992 (22),3065,52345,64671
30,1991,3025,55154,67332
31,1990,2907,58562,69931
32,1989,2884,58913,73529
33,1988,2847,59236,71765
34,1987 (21),2834,57672,70434
35,1986,2510,59074,69747
36,1985 (20),2414,54473,66279
37,1984 (19),2228,58094,67339
38,1983,2030,56672,64725
39,1982,2016,54480,61965
40,1981,1986,57050,64847
41,1980,1933,54997,65359
42,1979 (18),1733,58674,69980
43,1978,1655,61019,71789
44,1977,1594,59291,66793
45,1976 (17),1500,55834,63966
46,1975 (16),1444,59666,67431
47,1974 (16)(15),1399,57927,66300
48,1973,1438,58713,66786
49,1972 (14),1453,59850,67702
50,1971 (13),1353,52175,59288
51,1970,1258,56272,65414

In [13]:
f07 = pd.merge(f07, f07mhh, on = 'year', how = 'left')
f07.head(3)

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars
0,2021,84283,88590,121840,61448,106696,141531,7214,61980,83424
1,2020 (41),83723,88286,120694,61297,106296,140304,6964,63036,81044
2,2019,83698,91151,123711,62355,108130,142476,6506,65393,84526

In [14]:
#read in male hh families until 1970
f07fhh = pd.read_excel('../data/single_parent/census/historical_income_families/f07ar_mean_med_type_fam.xlsx',
                    skiprows=247, nrows=55)
pd.set_option('display.max_rows', None)
f07fhh.head(3)

,Type of family and year,Number (thousands),Median income,Unnamed: 3,Mean income,Unnamed: 5
0,NaN,NaN,Current dollars,2021 dollars,Current dollars,2021 dollars
1,2021,15621.0,45437,45437,62126,62126
2,2020 (41),15462.0,43884,45933,58099,60812

In [15]:
#rename columns
f07fhh = f07fhh.rename(columns = {'Type of family and year': 'year', 'Number (thousands)': 'female_hh_families (thousands)', 
                            'Unnamed: 3': 'fhh_med_2021_dollars', 'Unnamed: 5': 'fhh_mean_2021_dollars'})

#drop empty columns or columns not needed
f07fhh = f07fhh.drop(['Median income', 'Mean income'], axis=1)

#drop prior index rows, drop original rows and keep revised
f07fhh = f07fhh.drop(labels=[0, 6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f07fhh = f07fhh.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f07fhh = f07fhh.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f07fhh.head(2)

,year,female_hh_families (thousands),fhh_med_2021_dollars,fhh_mean_2021_dollars
0,2021,15621.0,45437,62126
1,2020 (41),15462.0,45933,60812

In [16]:
f07fhh = f07fhh.astype({'year': 'str', 'female_hh_families (thousands)': 'int64'})
f07fhh

,year,female_hh_families (thousands),fhh_med_2021_dollars,fhh_mean_2021_dollars
0,2021,15621,45437,62126
1,2020 (41),15462,45933,60812
2,2019,14838,45950,62033
3,2018,15052,43410,59548
4,2017 (40),15305,40691,56721
5,2016,15581,41388,57026
6,2015,15630,39026,53629
7,2014,15553,36395,49382
8,2013 (39),16176,36266,51530
9,2012,15489,36278,50092
10,2011,15678,36531,49732
11,2010 (37),15243,36307,48117
12,2009 (36),14857,37685,49786
13,2008,14482,38007,50030
14,2007,14411,39685,53324
15,2006,14424,38834,52552
16,2005,14095,37889,52522
17,2004 (35),13981,38777,50878
18,2003,13791,39206,50730
19,2002,13626,39905,51142
20,2001,13146,39493,52163
21,2000 (30),12903,40572,52283
22,1999 (29),12818,38761,50769
23,1998,12796,36923,48296
24,1997,12652,35498,47201
25,1996,12790,34347,45189
26,1995 (25),12514,34872,44715
27,1994 (24),12220,33073,43718
28,1993 (23),12411,32296,43760
29,1992 (22),12061,32317,42597
30,1991,11692,32472,42694
31,1990,11268,34138,44638
32,1989,10890,34785,45972
33,1988,10890,33885,44480
34,1987 (21),10696,33592,44588
35,1986,10445,32296,41990
36,1985 (20),10211,32893,42493
37,1984 (19),10129,31888,41098
38,1983,9878,30584,39049
39,1982,9469,31065,39589
40,1981,9403,31438,39507
41,1980,9082,32673,40663
42,1979 (18),8705,34489,41939
43,1978,8458,32627,40852
44,1977,8236,31712,40067
45,1976 (17),7713,31308,39327
46,1975 (16),7482,31424,38858
47,1974 (16)(15),7230,32238,40278
48,1973,6804,31685,39506
49,1972 (14),6607,31026,39854
50,1971 (13),6191,30592,38213
51,1970,5950,31801,38795

In [17]:
f07 = pd.merge(f07, f07fhh, on = 'year', how = 'left')
f07.head(3)

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars,female_hh_families (thousands),fhh_med_2021_dollars,fhh_mean_2021_dollars
0,2021,84283,88590,121840,61448,106696,141531,7214,61980,83424,15621,45437,62126
1,2020 (41),83723,88286,120694,61297,106296,140304,6964,63036,81044,15462,45933,60812
2,2019,83698,91151,123711,62355,108130,142476,6506,65393,84526,14838,45950,62033

In [18]:
f07.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   year                                 52 non-null     object
 1   all_families (thousands)             52 non-null     int64
 2   all_med_2021_dollars                 52 non-null     int64
 3   all_mean_2021_dollars                52 non-null     int64
 4   married_couple_families (thousands)  52 non-null     int64
 5   mc_med_2021_dollars                  52 non-null     int64
 6   mc_mean_2021_dollars                 52 non-null     int64
 7   male_hh_families (thousands)         52 non-null     int64
 8   mhh_med_2021_dollars                 52 non-null     int64
 9   mhh_mean_2021_dollars                52 non-null     int64
 10  female_hh_families (thousands)       52 non-null     int64
 11  fhh_med_2021_dollars                 52 non-null     int64
 12  fhh_mean_2021_dollars                52 non-null     int64
dtypes: int64(12), object(1)
memory usage: 5.7+ KB

In [19]:
#locate additional letters in year column
f07 = f07[f07['year'].str.match('\d{4}[a-zA-Z]?', na=False)]
#extract only the year
f07['year'] = f07['year'].str.extract('(\d{4})', expand=False).astype(int)
#sort by descending
f07 = f07.sort_values('year', ascending=False)

f07

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars,female_hh_families (thousands),fhh_med_2021_dollars,fhh_mean_2021_dollars
0,2021,84283,88590,121840,61448,106696,141531,7214,61980,83424,15621,45437,62126
1,2020,83723,88286,120694,61297,106296,140304,6964,63036,81044,15462,45933,60812
2,2019,83698,91151,123711,62355,108130,142476,6506,65393,84526,14838,45950,62033
3,2018,83508,84856,114418,61971,100698,131447,6485,58626,79043,15052,43410,59548
4,2017,83539,84149,114083,61883,100695,132178,6351,57137,75991,15305,40691,56721
5,2016,82854,82089,109919,60821,98012,126460,6452,58222,81727,15581,41388,57026
6,2015,82199,80849,105980,60258,96432,122626,6311,56919,76688,15630,39026,53629
7,2014,81730,76331,101686,60015,92578,118352,6162,54525,71390,15553,36395,49382
8,2013,82316,76271,102134,59643,91582,118815,6497,54976,74977,16176,36266,51530
9,2012,80944,73583,97939,59224,89299,113690,6231,50077,67169,15489,36278,50092
10,2011,80529,73612,97797,58963,89084,113423,5888,51996,69290,15678,36531,49732
11,2010,79559,75013,97359,58667,89963,112719,5649,53805,70717,15243,36307,48117
12,2009,78867,76063,99418,58428,90670,114856,5582,52535,69922,14857,37685,49786
13,2008,78874,77606,100455,59137,91762,115363,5255,54963,71661,14482,38007,50030
14,2007,77908,80370,103280,58395,95085,118242,5103,58105,73151,14411,39685,53324
15,2006,78454,78678,104148,58964,93492,119350,5067,56366,74129,14424,38834,52552
16,2005,77418,78151,101946,58189,91657,116223,5134,57174,75810,14095,37889,52522
17,2004,76866,77731,101208,57983,91484,115599,4901,58033,74525,13981,38777,50878
18,2003,76232,77792,101246,57725,91969,115587,4717,56161,73433,13791,39206,50730
19,2002,75616,78048,101139,57327,92320,115304,4663,56994,73102,13626,39905,51142
20,2001,74340,78860,102570,56755,92555,116598,4440,56130,72495,13146,39493,52163
21,2000,73778,80040,103770,56598,93240,117113,4277,59522,82542,12903,40572,52283
22,1999,73206,79655,102061,56290,92166,115372,4099,60909,79678,12818,38761,50769
23,1998,71551,77862,99274,54778,90262,113078,3977,59444,73158,12796,36923,48296
24,1997,70884,75254,96081,54321,87113,109211,3911,55654,71840,12652,35498,47201
25,1996,70241,72969,92593,53604,85746,105596,3847,54511,69024,12790,34347,45189
26,1995,69597,71921,90945,53570,83345,103384,3513,53763,65947,12514,34872,44715
27,1994,69313,70336,89485,53865,81539,101462,3228,50330,62866,12220,33073,43718
28,1993,68506,68430,87430,53181,79624,99004,2914,49004,62183,12411,32296,43760
29,1992,68216,69423,83940,53090,79515,94445,3065,52345,64671,12061,32317,42597
30,1991,67173,69915,84113,52457,79751,94313,3025,55154,67332,11692,32472,42694
31,1990,66322,71278,85994,52147,80435,95825,2907,58562,69931,11268,34138,44638
32,1989,66090,72381,87810,52317,81550,97306,2884,58913,73529,10890,34785,45972
33,1988,65837,71080,85250,52100,80350,94508,2847,59236,71765,10890,33885,44480
34,1987,65204,70855,84385,51675,79798,93385,2834,57672,70434,10696,33592,44588
35,1986,64491,69714,82649,51537,77635,91519,2510,59074,69747,10445,32296,41990
36,1985,63558,66785,79328,50933,74888,87330,2414,54473,66279,10211,32893,42493
37,1984,62706,65835,77339,50350,73753,85070,2228,58094,67339,10129,31888,41098
38,1983,61997,63767,74295,50090,70787,81634,2030,56672,64725,9878,30584,39049
39,1982,61393,63388,74095,49908,70384,81131,2016,54480,61965,9469,31065,39589
40,1981,61019,64219,74115,49630,71897,81042,1986,57050,64847,9403,31438,39507
41,1980,60309,65997,75261,49294,72646,82023,1933,54997,65359,9082,32673,40663
42,1979,59550,68375,77901,49112,74805,84554,1733,58674,69980,8705,34489,41939
43,1978,57804,67417,76785,47692,73914,83331,1655,61019,71789,8458,32627,40852
44,1977,57215,65380,74589,47385,71943,80854,1594,59291,66793,8236,31712,40067
45,1976,56710,64943,73244,47497,70348,79045,1500,55834,63966,7713,31308,39327
46,1975,56245,62991,71379,47318,68262,76646,1444,59666,67431,7482,31424,38858
47,1974,55698,64108,73097,47069,69182,78344,1399,57927,66300,7230,32238,40278
48,1973,55053,65868,74454,46812,71208,79767,1438,58713,66786,6804,31685,39506
49,1972,54373,64560,73324,46314,69131,78273,1453,59850,67702,6607,31026,39854
50,1971,53296,61525,69290,45752,65742,73794,1353,52175,59288,6191,30592,38213
51,1970,52227,61611,69347,44739,65663,73518,1258,56272,65414,5950,31801,38795

In [20]:
#read in median income
real_med = pd.read_csv('../data/single_parent/fred/real_median_hh_inc_1984-2021.csv')
pd.set_option('display.max_rows', None)
real_med.head(3)

   DATE  MEHOINUSA672N
0  2021          70784
1  2020          71186
2  2019          72808

In [21]:
#rename columns
real_med = real_med.rename(columns = {'DATE': 'year', 'MEHOINUSA672N': 'real_med_inc_fred'})
real_med.head(3)

   year  real_med_inc_fred
0  2021              70784
1  2020              71186
2  2019              72808

In [22]:
#drop rows prior to 1984
f07_1984 = f07[:-14]
f07_1984

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars,female_hh_families (thousands),fhh_med_2021_dollars,fhh_mean_2021_dollars
0,2021,84283,88590,121840,61448,106696,141531,7214,61980,83424,15621,45437,62126
1,2020,83723,88286,120694,61297,106296,140304,6964,63036,81044,15462,45933,60812
2,2019,83698,91151,123711,62355,108130,142476,6506,65393,84526,14838,45950,62033
3,2018,83508,84856,114418,61971,100698,131447,6485,58626,79043,15052,43410,59548
4,2017,83539,84149,114083,61883,100695,132178,6351,57137,75991,15305,40691,56721
5,2016,82854,82089,109919,60821,98012,126460,6452,58222,81727,15581,41388,57026
6,2015,82199,80849,105980,60258,96432,122626,6311,56919,76688,15630,39026,53629
7,2014,81730,76331,101686,60015,92578,118352,6162,54525,71390,15553,36395,49382
8,2013,82316,76271,102134,59643,91582,118815,6497,54976,74977,16176,36266,51530
9,2012,80944,73583,97939,59224,89299,113690,6231,50077,67169,15489,36278,50092
10,2011,80529,73612,97797,58963,89084,113423,5888,51996,69290,15678,36531,49732
11,2010,79559,75013,97359,58667,89963,112719,5649,53805,70717,15243,36307,48117
12,2009,78867,76063,99418,58428,90670,114856,5582,52535,69922,14857,37685,49786
13,2008,78874,77606,100455,59137,91762,115363,5255,54963,71661,14482,38007,50030
14,2007,77908,80370,103280,58395,95085,118242,5103,58105,73151,14411,39685,53324
15,2006,78454,78678,104148,58964,93492,119350,5067,56366,74129,14424,38834,52552
16,2005,77418,78151,101946,58189,91657,116223,5134,57174,75810,14095,37889,52522
17,2004,76866,77731,101208,57983,91484,115599,4901,58033,74525,13981,38777,50878
18,2003,76232,77792,101246,57725,91969,115587,4717,56161,73433,13791,39206,50730
19,2002,75616,78048,101139,57327,92320,115304,4663,56994,73102,13626,39905,51142
20,2001,74340,78860,102570,56755,92555,116598,4440,56130,72495,13146,39493,52163
21,2000,73778,80040,103770,56598,93240,117113,4277,59522,82542,12903,40572,52283
22,1999,73206,79655,102061,56290,92166,115372,4099,60909,79678,12818,38761,50769
23,1998,71551,77862,99274,54778,90262,113078,3977,59444,73158,12796,36923,48296
24,1997,70884,75254,96081,54321,87113,109211,3911,55654,71840,12652,35498,47201
25,1996,70241,72969,92593,53604,85746,105596,3847,54511,69024,12790,34347,45189
26,1995,69597,71921,90945,53570,83345,103384,3513,53763,65947,12514,34872,44715
27,1994,69313,70336,89485,53865,81539,101462,3228,50330,62866,12220,33073,43718
28,1993,68506,68430,87430,53181,79624,99004,2914,49004,62183,12411,32296,43760
29,1992,68216,69423,83940,53090,79515,94445,3065,52345,64671,12061,32317,42597
30,1991,67173,69915,84113,52457,79751,94313,3025,55154,67332,11692,32472,42694
31,1990,66322,71278,85994,52147,80435,95825,2907,58562,69931,11268,34138,44638
32,1989,66090,72381,87810,52317,81550,97306,2884,58913,73529,10890,34785,45972
33,1988,65837,71080,85250,52100,80350,94508,2847,59236,71765,10890,33885,44480
34,1987,65204,70855,84385,51675,79798,93385,2834,57672,70434,10696,33592,44588
35,1986,64491,69714,82649,51537,77635,91519,2510,59074,69747,10445,32296,41990
36,1985,63558,66785,79328,50933,74888,87330,2414,54473,66279,10211,32893,42493
37,1984,62706,65835,77339,50350,73753,85070,2228,58094,67339,10129,31888,41098

In [23]:
f07_1984 = pd.merge(f07_1984, real_med, on = 'year', how = 'left')
f07_1984

,year,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars,female_hh_families (thousands),fhh_med_2021_dollars,fhh_mean_2021_dollars,real_med_inc_fred
0,2021,84283,88590,121840,61448,106696,141531,7214,61980,83424,15621,45437,62126,70784
1,2020,83723,88286,120694,61297,106296,140304,6964,63036,81044,15462,45933,60812,71186
2,2019,83698,91151,123711,62355,108130,142476,6506,65393,84526,14838,45950,62033,72808
3,2018,83508,84856,114418,61971,100698,131447,6485,58626,79043,15052,43410,59548,68168
4,2017,83539,84149,114083,61883,100695,132178,6351,57137,75991,15305,40691,56721,67571
5,2016,82854,82089,109919,60821,98012,126460,6452,58222,81727,15581,41388,57026,66657
6,2015,82199,80849,105980,60258,96432,122626,6311,56919,76688,15630,39026,53629,64631
7,2014,81730,76331,101686,60015,92578,118352,6162,54525,71390,15553,36395,49382,61468
8,2013,82316,76271,102134,59643,91582,118815,6497,54976,74977,16176,36266,51530,62425
9,2012,80944,73583,97939,59224,89299,113690,6231,50077,67169,15489,36278,50092,60313
10,2011,80529,73612,97797,58963,89084,113423,5888,51996,69290,15678,36531,49732,60428
11,2010,79559,75013,97359,58667,89963,112719,5649,53805,70717,15243,36307,48117,61364
12,2009,78867,76063,99418,58428,90670,114856,5582,52535,69922,14857,37685,49786,63011
13,2008,78874,77606,100455,59137,91762,115363,5255,54963,71661,14482,38007,50030,63455
14,2007,77908,80370,103280,58395,95085,118242,5103,58105,73151,14411,39685,53324,65801
15,2006,78454,78678,104148,58964,93492,119350,5067,56366,74129,14424,38834,52552,64930
16,2005,77418,78151,101946,58189,91657,116223,5134,57174,75810,14095,37889,52522,64427
17,2004,76866,77731,101208,57983,91484,115599,4901,58033,74525,13981,38777,50878,63745
18,2003,76232,77792,101246,57725,91969,115587,4717,56161,73433,13791,39206,50730,63967
19,2002,75616,78048,101139,57327,92320,115304,4663,56994,73102,13626,39905,51142,64047
20,2001,74340,78860,102570,56755,92555,116598,4440,56130,72495,13146,39493,52163,64779
21,2000,73778,80040,103770,56598,93240,117113,4277,59522,82542,12903,40572,52283,66248
22,1999,73206,79655,102061,56290,92166,115372,4099,60909,79678,12818,38761,50769,66385
23,1998,71551,77862,99274,54778,90262,113078,3977,59444,73158,12796,36923,48296,64781
24,1997,70884,75254,96081,54321,87113,109211,3911,55654,71840,12652,35498,47201,62484
25,1996,70241,72969,92593,53604,85746,105596,3847,54511,69024,12790,34347,45189,61225
26,1995,69597,71921,90945,53570,83345,103384,3513,53763,65947,12514,34872,44715,60348
27,1994,69313,70336,89485,53865,81539,101462,3228,50330,62866,12220,33073,43718,58515
28,1993,68506,68430,87430,53181,79624,99004,2914,49004,62183,12411,32296,43760,57843
29,1992,68216,69423,83940,53090,79515,94445,3065,52345,64671,12061,32317,42597,58153
30,1991,67173,69915,84113,52457,79751,94313,3025,55154,67332,11692,32472,42694,58607
31,1990,66322,71278,85994,52147,80435,95825,2907,58562,69931,11268,34138,44638,60370
32,1989,66090,72381,87810,52317,81550,97306,2884,58913,73529,10890,34785,45972,61153
33,1988,65837,71080,85250,52100,80350,94508,2847,59236,71765,10890,33885,44480,60115
34,1987,65204,70855,84385,51675,79798,93385,2834,57672,70434,10696,33592,44588,59624
35,1986,64491,69714,82649,51537,77635,91519,2510,59074,69747,10445,32296,41990,58920
36,1985,63558,66785,79328,50933,74888,87330,2414,54473,66279,10211,32893,42493,56871
37,1984,62706,65835,77339,50350,73753,85070,2228,58094,67339,10129,31888,41098,55828

In [25]:
# remove real_med from dataframe
col = f07_1984.pop('real_med_inc_fred')  
# insert real_med at index 1
f07_1984.insert(1, 'real_med_inc_fred', col)

f07_1984

,year,real_med_inc_fred,all_families (thousands),all_med_2021_dollars,all_mean_2021_dollars,married_couple_families (thousands),mc_med_2021_dollars,mc_mean_2021_dollars,male_hh_families (thousands),mhh_med_2021_dollars,mhh_mean_2021_dollars,female_hh_families (thousands),fhh_med_2021_dollars,fhh_mean_2021_dollars
0,2021,70784,84283,88590,121840,61448,106696,141531,7214,61980,83424,15621,45437,62126
1,2020,71186,83723,88286,120694,61297,106296,140304,6964,63036,81044,15462,45933,60812
2,2019,72808,83698,91151,123711,62355,108130,142476,6506,65393,84526,14838,45950,62033
3,2018,68168,83508,84856,114418,61971,100698,131447,6485,58626,79043,15052,43410,59548
4,2017,67571,83539,84149,114083,61883,100695,132178,6351,57137,75991,15305,40691,56721
5,2016,66657,82854,82089,109919,60821,98012,126460,6452,58222,81727,15581,41388,57026
6,2015,64631,82199,80849,105980,60258,96432,122626,6311,56919,76688,15630,39026,53629
7,2014,61468,81730,76331,101686,60015,92578,118352,6162,54525,71390,15553,36395,49382
8,2013,62425,82316,76271,102134,59643,91582,118815,6497,54976,74977,16176,36266,51530
9,2012,60313,80944,73583,97939,59224,89299,113690,6231,50077,67169,15489,36278,50092
10,2011,60428,80529,73612,97797,58963,89084,113423,5888,51996,69290,15678,36531,49732
11,2010,61364,79559,75013,97359,58667,89963,112719,5649,53805,70717,15243,36307,48117
12,2009,63011,78867,76063,99418,58428,90670,114856,5582,52535,69922,14857,37685,49786
13,2008,63455,78874,77606,100455,59137,91762,115363,5255,54963,71661,14482,38007,50030
14,2007,65801,77908,80370,103280,58395,95085,118242,5103,58105,73151,14411,39685,53324
15,2006,64930,78454,78678,104148,58964,93492,119350,5067,56366,74129,14424,38834,52552
16,2005,64427,77418,78151,101946,58189,91657,116223,5134,57174,75810,14095,37889,52522
17,2004,63745,76866,77731,101208,57983,91484,115599,4901,58033,74525,13981,38777,50878
18,2003,63967,76232,77792,101246,57725,91969,115587,4717,56161,73433,13791,39206,50730
19,2002,64047,75616,78048,101139,57327,92320,115304,4663,56994,73102,13626,39905,51142
20,2001,64779,74340,78860,102570,56755,92555,116598,4440,56130,72495,13146,39493,52163
21,2000,66248,73778,80040,103770,56598,93240,117113,4277,59522,82542,12903,40572,52283
22,1999,66385,73206,79655,102061,56290,92166,115372,4099,60909,79678,12818,38761,50769
23,1998,64781,71551,77862,99274,54778,90262,113078,3977,59444,73158,12796,36923,48296
24,1997,62484,70884,75254,96081,54321,87113,109211,3911,55654,71840,12652,35498,47201
25,1996,61225,70241,72969,92593,53604,85746,105596,3847,54511,69024,12790,34347,45189
26,1995,60348,69597,71921,90945,53570,83345,103384,3513,53763,65947,12514,34872,44715
27,1994,58515,69313,70336,89485,53865,81539,101462,3228,50330,62866,12220,33073,43718
28,1993,57843,68506,68430,87430,53181,79624,99004,2914,49004,62183,12411,32296,43760
29,1992,58153,68216,69423,83940,53090,79515,94445,3065,52345,64671,12061,32317,42597
30,1991,58607,67173,69915,84113,52457,79751,94313,3025,55154,67332,11692,32472,42694
31,1990,60370,66322,71278,85994,52147,80435,95825,2907,58562,69931,11268,34138,44638
32,1989,61153,66090,72381,87810,52317,81550,97306,2884,58913,73529,10890,34785,45972
33,1988,60115,65837,71080,85250,52100,80350,94508,2847,59236,71765,10890,33885,44480
34,1987,59624,65204,70855,84385,51675,79798,93385,2834,57672,70434,10696,33592,44588
35,1986,58920,64491,69714,82649,51537,77635,91519,2510,59074,69747,10445,32296,41990
36,1985,56871,63558,66785,79328,50933,74888,87330,2414,54473,66279,10211,32893,42493
37,1984,55828,62706,65835,77339,50350,73753,85070,2228,58094,67339,10129,31888,41098

In [28]:
f07.to_csv('../data/single_parent/census/historical_income_families/f07_med_mean_inc_by_family_type.csv', index = False)

In [30]:
f07_1984.to_csv('../data/single_parent/census/historical_income_families/f07_w_real_med.csv', index = False)