In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

#### FM2 - All Parent/Child Situations, by Type, Race, and Hispanic Origin of the Householder or Reference Person: 1970 to Present (Numbers in thousands)
Source:  U.S. Census Bureau, Current Population Survey, March and Annual Social and Economic Supplements, 2022 and earlier.

In [3]:
fm2 = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=14, nrows=48)
pd.set_option('display.max_rows', None)
fm2

,Year,Unnamed: 1,Unnamed: 2,Total,Married,Unmarried,Unnamed: 6,Total.1,Mother only,Father only
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,.All races,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,..2022y,36994.0,NaN,26105.0,24040.0,2065.0,NaN,10889.0,8657.0,2232.0
3,"..2021y,r",37044.0,NaN,25953.0,23992.0,1961.0,NaN,11091.0,8797.0,2294.0
4,..2021y,36828.0,NaN,25812.0,23855.0,1957.0,NaN,11016.0,8765.0,2251.0
5,..2020y,36881.0,NaN,26161.0,24477.0,1684.0,NaN,10720.0,8625.0,2094.0
6,..2019y,37381.0,NaN,26373.0,24509.0,1864.0,NaN,11008.0,8880.0,2128.0
7,..2018x,37706.0,NaN,26384.0,24555.0,1829.0,NaN,11322.0,9232.0,2090.0
8,..2017x,37870.0,NaN,26203.0,24465.0,1738.0,NaN,11667.0,9497.0,2170.0
9,..2016x,38276.0,NaN,26462.0,24638.0,1824.0,NaN,11814.0,9781.0,2033.0
10,..2015x,38642.0,NaN,26862.0,24857.0,2005.0,NaN,11780.0,9891.0,1889.0
11,"..2014x, s",38586.0,NaN,26712.0,24775.0,1937.0,NaN,11874.0,9929.0,1945.0
12,..2013x,38576.0,NaN,26569.0,24677.0,1892.0,NaN,12007.0,10007.0,2000.0
13,..2012x,38582.0,NaN,26304.0,24445.0,1859.0,NaN,12278.0,10322.0,1956.0
14,"..2011x, r",38690.0,NaN,26823.0,24936.0,1887.0,NaN,11867.0,10144.0,1723.0
15,..2011x,38350.0,NaN,26590.0,24739.0,1851.0,NaN,11760.0,10025.0,1735.0
16,..2010x,38768.0,NaN,27082.0,25317.0,1765.0,NaN,11686.0,9924.0,1762.0
17,..2009x,38943.0,NaN,27321.0,25799.0,1522.0,NaN,11622.0,9880.0,1742.0
18,..2008x,38938.0,NaN,27344.0,25778.0,1566.0,NaN,11594.0,9753.0,1841.0
19,..2007x,39983.0,NaN,28276.0,26802.0,1474.0,NaN,11707.0,9965.0,1742.0
20,..2006,39374.0,NaN,26469.0,26469.0,NaN,NaN,12905.0,10404.0,2501.0
21,..2005,39317.0,NaN,26482.0,26482.0,NaN,NaN,12835.0,10366.0,2469.0
22,..2004,39002.0,NaN,26377.0,26377.0,NaN,NaN,12624.0,10336.0,2288.0
23,..2003,38847.0,NaN,26445.0,26445.0,NaN,NaN,12402.0,10142.0,2260.0
24,..2002,38472.0,NaN,26271.0,26271.0,NaN,NaN,12201.0,9969.0,2232.0
25,..2001,38344.0,NaN,26530.0,26530.0,NaN,NaN,11814.0,9658.0,2156.0
26,..2000,37496.0,NaN,25771.0,25771.0,NaN,NaN,11725.0,9681.0,2044.0
27,..1999,37429.0,NaN,25538.0,25538.0,NaN,NaN,11891.0,9840.0,2051.0
28,..1998,37657.0,NaN,25709.0,25709.0,NaN,NaN,11948.0,9828.0,2120.0
29,..1997,37619.0,NaN,25577.0,25577.0,NaN,NaN,12042.0,10012.0,2030.0
30,..1996,37077.0,NaN,25361.0,25361.0,NaN,NaN,11717.0,9855.0,1862.0
31,..1995,37168.0,NaN,25640.0,25640.0,NaN,NaN,11527.0,9833.0,1694.0
32,..1994,37008.0,NaN,25598.0,25598.0,NaN,NaN,11410.0,9854.0,1556.0
33,..1993,36058.0,NaN,25157.0,25157.0,NaN,NaN,10901.0,9339.0,1562.0
34,..1992,35378.0,NaN,24879.0,24879.0,NaN,NaN,10499.0,9028.0,1472.0
35,..1991,34973.0,NaN,24863.0,24863.0,NaN,NaN,10110.0,8745.0,1365.0
36,..1990,34670.0,NaN,24921.0,24921.0,NaN,NaN,9749.0,8398.0,1351.0
37,..1989,34609.0,NaN,25096.0,25096.0,NaN,NaN,9513.0,8315.0,1199.0
38,..1988,34345.0,NaN,24977.0,24977.0,NaN,NaN,9368.0,8146.0,1222.0
39,..1987,34242.0,NaN,25005.0,25005.0,NaN,NaN,9236.0,8128.0,1107.0
40,..1986,33939.0,NaN,25010.0,25010.0,NaN,NaN,8930.0,7842.0,1088.0
41,..1985,33353.0,NaN,24573.0,24573.0,NaN,NaN,8779.0,7737.0,1042.0
42,..1984,33246.0,NaN,24701.0,24701.0,NaN,NaN,8544.0,7599.0,945.0
43,..1983,33027.0,NaN,24739.0,24739.0,NaN,NaN,8288.0,7395.0,893.0
44,..1982,32886.0,NaN,24795.0,24795.0,NaN,NaN,8091.0,7286.0,805.0
45,..1981,32501.0,NaN,25218.0,25218.0,NaN,NaN,7283.0,6513.0,770.0
46,..1980,32150.0,NaN,25231.0,25231.0,NaN,NaN,6920.0,6230.0,690.0
47,..1970,29626.0,NaN,25823.0,25823.0,NaN,NaN,3803.0,3410.0,393.0

In [4]:
#rename columns to flatten table
fm2 = fm2.rename(columns = {'Year': 'year', 'Unnamed: 1': 'all_total', 'Total': '2P_total', 'Married': 'married', 'Unmarried': 'unmarried', 'Total.1': '1P_total', 'Mother only': 'mother_only', 'Father only': 'father_only'})

In [5]:
#drop empty columns
fm2 = fm2.drop(['Unnamed: 2', 'Unnamed: 6'], axis=1)
#drop empty rows, drop original rows and keep revised
fm2 = fm2.drop(labels=[0, 1, 4, 15]).reset_index(drop=True)
fm2

,year,all_total,2P_total,married,unmarried,1P_total,mother_only,father_only
0,..2022y,36994.0,26105.0,24040.0,2065.0,10889.0,8657.0,2232.0
1,"..2021y,r",37044.0,25953.0,23992.0,1961.0,11091.0,8797.0,2294.0
2,..2020y,36881.0,26161.0,24477.0,1684.0,10720.0,8625.0,2094.0
3,..2019y,37381.0,26373.0,24509.0,1864.0,11008.0,8880.0,2128.0
4,..2018x,37706.0,26384.0,24555.0,1829.0,11322.0,9232.0,2090.0
5,..2017x,37870.0,26203.0,24465.0,1738.0,11667.0,9497.0,2170.0
6,..2016x,38276.0,26462.0,24638.0,1824.0,11814.0,9781.0,2033.0
7,..2015x,38642.0,26862.0,24857.0,2005.0,11780.0,9891.0,1889.0
8,"..2014x, s",38586.0,26712.0,24775.0,1937.0,11874.0,9929.0,1945.0
9,..2013x,38576.0,26569.0,24677.0,1892.0,12007.0,10007.0,2000.0
10,..2012x,38582.0,26304.0,24445.0,1859.0,12278.0,10322.0,1956.0
11,"..2011x, r",38690.0,26823.0,24936.0,1887.0,11867.0,10144.0,1723.0
12,..2010x,38768.0,27082.0,25317.0,1765.0,11686.0,9924.0,1762.0
13,..2009x,38943.0,27321.0,25799.0,1522.0,11622.0,9880.0,1742.0
14,..2008x,38938.0,27344.0,25778.0,1566.0,11594.0,9753.0,1841.0
15,..2007x,39983.0,28276.0,26802.0,1474.0,11707.0,9965.0,1742.0
16,..2006,39374.0,26469.0,26469.0,NaN,12905.0,10404.0,2501.0
17,..2005,39317.0,26482.0,26482.0,NaN,12835.0,10366.0,2469.0
18,..2004,39002.0,26377.0,26377.0,NaN,12624.0,10336.0,2288.0
19,..2003,38847.0,26445.0,26445.0,NaN,12402.0,10142.0,2260.0
20,..2002,38472.0,26271.0,26271.0,NaN,12201.0,9969.0,2232.0
21,..2001,38344.0,26530.0,26530.0,NaN,11814.0,9658.0,2156.0
22,..2000,37496.0,25771.0,25771.0,NaN,11725.0,9681.0,2044.0
23,..1999,37429.0,25538.0,25538.0,NaN,11891.0,9840.0,2051.0
24,..1998,37657.0,25709.0,25709.0,NaN,11948.0,9828.0,2120.0
25,..1997,37619.0,25577.0,25577.0,NaN,12042.0,10012.0,2030.0
26,..1996,37077.0,25361.0,25361.0,NaN,11717.0,9855.0,1862.0
27,..1995,37168.0,25640.0,25640.0,NaN,11527.0,9833.0,1694.0
28,..1994,37008.0,25598.0,25598.0,NaN,11410.0,9854.0,1556.0
29,..1993,36058.0,25157.0,25157.0,NaN,10901.0,9339.0,1562.0
30,..1992,35378.0,24879.0,24879.0,NaN,10499.0,9028.0,1472.0
31,..1991,34973.0,24863.0,24863.0,NaN,10110.0,8745.0,1365.0
32,..1990,34670.0,24921.0,24921.0,NaN,9749.0,8398.0,1351.0
33,..1989,34609.0,25096.0,25096.0,NaN,9513.0,8315.0,1199.0
34,..1988,34345.0,24977.0,24977.0,NaN,9368.0,8146.0,1222.0
35,..1987,34242.0,25005.0,25005.0,NaN,9236.0,8128.0,1107.0
36,..1986,33939.0,25010.0,25010.0,NaN,8930.0,7842.0,1088.0
37,..1985,33353.0,24573.0,24573.0,NaN,8779.0,7737.0,1042.0
38,..1984,33246.0,24701.0,24701.0,NaN,8544.0,7599.0,945.0
39,..1983,33027.0,24739.0,24739.0,NaN,8288.0,7395.0,893.0
40,..1982,32886.0,24795.0,24795.0,NaN,8091.0,7286.0,805.0
41,..1981,32501.0,25218.0,25218.0,NaN,7283.0,6513.0,770.0
42,..1980,32150.0,25231.0,25231.0,NaN,6920.0,6230.0,690.0
43,..1970,29626.0,25823.0,25823.0,NaN,3803.0,3410.0,393.0

In [6]:
#remove .. before and any characaters after 4-digit year
fm2['year'] = fm2['year'].str.replace(r'^\.{2}(\d{4}).*$', r'\1')

fm2

C:\Users\houxu\AppData\Local\Temp\ipykernel_15924\3671820371.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  fm2['year'] = fm2['year'].str.replace(r'^\.{2}(\d{4}).*$', r'\1')

,year,all_total,2P_total,married,unmarried,1P_total,mother_only,father_only
0,2022,36994.0,26105.0,24040.0,2065.0,10889.0,8657.0,2232.0
1,2021,37044.0,25953.0,23992.0,1961.0,11091.0,8797.0,2294.0
2,2020,36881.0,26161.0,24477.0,1684.0,10720.0,8625.0,2094.0
3,2019,37381.0,26373.0,24509.0,1864.0,11008.0,8880.0,2128.0
4,2018,37706.0,26384.0,24555.0,1829.0,11322.0,9232.0,2090.0
5,2017,37870.0,26203.0,24465.0,1738.0,11667.0,9497.0,2170.0
6,2016,38276.0,26462.0,24638.0,1824.0,11814.0,9781.0,2033.0
7,2015,38642.0,26862.0,24857.0,2005.0,11780.0,9891.0,1889.0
8,2014,38586.0,26712.0,24775.0,1937.0,11874.0,9929.0,1945.0
9,2013,38576.0,26569.0,24677.0,1892.0,12007.0,10007.0,2000.0
10,2012,38582.0,26304.0,24445.0,1859.0,12278.0,10322.0,1956.0
11,2011,38690.0,26823.0,24936.0,1887.0,11867.0,10144.0,1723.0
12,2010,38768.0,27082.0,25317.0,1765.0,11686.0,9924.0,1762.0
13,2009,38943.0,27321.0,25799.0,1522.0,11622.0,9880.0,1742.0
14,2008,38938.0,27344.0,25778.0,1566.0,11594.0,9753.0,1841.0
15,2007,39983.0,28276.0,26802.0,1474.0,11707.0,9965.0,1742.0
16,2006,39374.0,26469.0,26469.0,NaN,12905.0,10404.0,2501.0
17,2005,39317.0,26482.0,26482.0,NaN,12835.0,10366.0,2469.0
18,2004,39002.0,26377.0,26377.0,NaN,12624.0,10336.0,2288.0
19,2003,38847.0,26445.0,26445.0,NaN,12402.0,10142.0,2260.0
20,2002,38472.0,26271.0,26271.0,NaN,12201.0,9969.0,2232.0
21,2001,38344.0,26530.0,26530.0,NaN,11814.0,9658.0,2156.0
22,2000,37496.0,25771.0,25771.0,NaN,11725.0,9681.0,2044.0
23,1999,37429.0,25538.0,25538.0,NaN,11891.0,9840.0,2051.0
24,1998,37657.0,25709.0,25709.0,NaN,11948.0,9828.0,2120.0
25,1997,37619.0,25577.0,25577.0,NaN,12042.0,10012.0,2030.0
26,1996,37077.0,25361.0,25361.0,NaN,11717.0,9855.0,1862.0
27,1995,37168.0,25640.0,25640.0,NaN,11527.0,9833.0,1694.0
28,1994,37008.0,25598.0,25598.0,NaN,11410.0,9854.0,1556.0
29,1993,36058.0,25157.0,25157.0,NaN,10901.0,9339.0,1562.0
30,1992,35378.0,24879.0,24879.0,NaN,10499.0,9028.0,1472.0
31,1991,34973.0,24863.0,24863.0,NaN,10110.0,8745.0,1365.0
32,1990,34670.0,24921.0,24921.0,NaN,9749.0,8398.0,1351.0
33,1989,34609.0,25096.0,25096.0,NaN,9513.0,8315.0,1199.0
34,1988,34345.0,24977.0,24977.0,NaN,9368.0,8146.0,1222.0
35,1987,34242.0,25005.0,25005.0,NaN,9236.0,8128.0,1107.0
36,1986,33939.0,25010.0,25010.0,NaN,8930.0,7842.0,1088.0
37,1985,33353.0,24573.0,24573.0,NaN,8779.0,7737.0,1042.0
38,1984,33246.0,24701.0,24701.0,NaN,8544.0,7599.0,945.0
39,1983,33027.0,24739.0,24739.0,NaN,8288.0,7395.0,893.0
40,1982,32886.0,24795.0,24795.0,NaN,8091.0,7286.0,805.0
41,1981,32501.0,25218.0,25218.0,NaN,7283.0,6513.0,770.0
42,1980,32150.0,25231.0,25231.0,NaN,6920.0,6230.0,690.0
43,1970,29626.0,25823.0,25823.0,NaN,3803.0,3410.0,393.0

In [7]:
fm2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         44 non-null     object
 1   all_total    44 non-null     float64
 2   2P_total     44 non-null     float64
 3   married      44 non-null     float64
 4   unmarried    16 non-null     float64
 5   1P_total     44 non-null     float64
 6   mother_only  44 non-null     float64
 7   father_only  44 non-null     float64
dtypes: float64(7), object(1)
memory usage: 2.9+ KB

In [8]:
#replace NaN values with 0 for conversion of unmarried column to int64
fm2 = fm2.fillna(0)
fm2

,year,all_total,2P_total,married,unmarried,1P_total,mother_only,father_only
0,2022,36994.0,26105.0,24040.0,2065.0,10889.0,8657.0,2232.0
1,2021,37044.0,25953.0,23992.0,1961.0,11091.0,8797.0,2294.0
2,2020,36881.0,26161.0,24477.0,1684.0,10720.0,8625.0,2094.0
3,2019,37381.0,26373.0,24509.0,1864.0,11008.0,8880.0,2128.0
4,2018,37706.0,26384.0,24555.0,1829.0,11322.0,9232.0,2090.0
5,2017,37870.0,26203.0,24465.0,1738.0,11667.0,9497.0,2170.0
6,2016,38276.0,26462.0,24638.0,1824.0,11814.0,9781.0,2033.0
7,2015,38642.0,26862.0,24857.0,2005.0,11780.0,9891.0,1889.0
8,2014,38586.0,26712.0,24775.0,1937.0,11874.0,9929.0,1945.0
9,2013,38576.0,26569.0,24677.0,1892.0,12007.0,10007.0,2000.0
10,2012,38582.0,26304.0,24445.0,1859.0,12278.0,10322.0,1956.0
11,2011,38690.0,26823.0,24936.0,1887.0,11867.0,10144.0,1723.0
12,2010,38768.0,27082.0,25317.0,1765.0,11686.0,9924.0,1762.0
13,2009,38943.0,27321.0,25799.0,1522.0,11622.0,9880.0,1742.0
14,2008,38938.0,27344.0,25778.0,1566.0,11594.0,9753.0,1841.0
15,2007,39983.0,28276.0,26802.0,1474.0,11707.0,9965.0,1742.0
16,2006,39374.0,26469.0,26469.0,0.0,12905.0,10404.0,2501.0
17,2005,39317.0,26482.0,26482.0,0.0,12835.0,10366.0,2469.0
18,2004,39002.0,26377.0,26377.0,0.0,12624.0,10336.0,2288.0
19,2003,38847.0,26445.0,26445.0,0.0,12402.0,10142.0,2260.0
20,2002,38472.0,26271.0,26271.0,0.0,12201.0,9969.0,2232.0
21,2001,38344.0,26530.0,26530.0,0.0,11814.0,9658.0,2156.0
22,2000,37496.0,25771.0,25771.0,0.0,11725.0,9681.0,2044.0
23,1999,37429.0,25538.0,25538.0,0.0,11891.0,9840.0,2051.0
24,1998,37657.0,25709.0,25709.0,0.0,11948.0,9828.0,2120.0
25,1997,37619.0,25577.0,25577.0,0.0,12042.0,10012.0,2030.0
26,1996,37077.0,25361.0,25361.0,0.0,11717.0,9855.0,1862.0
27,1995,37168.0,25640.0,25640.0,0.0,11527.0,9833.0,1694.0
28,1994,37008.0,25598.0,25598.0,0.0,11410.0,9854.0,1556.0
29,1993,36058.0,25157.0,25157.0,0.0,10901.0,9339.0,1562.0
30,1992,35378.0,24879.0,24879.0,0.0,10499.0,9028.0,1472.0
31,1991,34973.0,24863.0,24863.0,0.0,10110.0,8745.0,1365.0
32,1990,34670.0,24921.0,24921.0,0.0,9749.0,8398.0,1351.0
33,1989,34609.0,25096.0,25096.0,0.0,9513.0,8315.0,1199.0
34,1988,34345.0,24977.0,24977.0,0.0,9368.0,8146.0,1222.0
35,1987,34242.0,25005.0,25005.0,0.0,9236.0,8128.0,1107.0
36,1986,33939.0,25010.0,25010.0,0.0,8930.0,7842.0,1088.0
37,1985,33353.0,24573.0,24573.0,0.0,8779.0,7737.0,1042.0
38,1984,33246.0,24701.0,24701.0,0.0,8544.0,7599.0,945.0
39,1983,33027.0,24739.0,24739.0,0.0,8288.0,7395.0,893.0
40,1982,32886.0,24795.0,24795.0,0.0,8091.0,7286.0,805.0
41,1981,32501.0,25218.0,25218.0,0.0,7283.0,6513.0,770.0
42,1980,32150.0,25231.0,25231.0,0.0,6920.0,6230.0,690.0
43,1970,29626.0,25823.0,25823.0,0.0,3803.0,3410.0,393.0

In [9]:
#convert datatypes
fm2 = fm2.astype({'all_total': 'int64', '2P_total': 'int64', 'married': 'int64', 'unmarried': 'int64', '1P_total': 'int64', 'mother_only': 'int64', 'father_only': 'int64'})
fm2.head(2)

,year,all_total,2P_total,married,unmarried,1P_total,mother_only,father_only
0,2022,36994,26105,24040,2065,10889,8657,2232
1,2021,37044,25953,23992,1961,11091,8797,2294

In [10]:
fm2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         44 non-null     object
 1   all_total    44 non-null     int64
 2   2P_total     44 non-null     int64
 3   married      44 non-null     int64
 4   unmarried    44 non-null     int64
 5   1P_total     44 non-null     int64
 6   mother_only  44 non-null     int64
 7   father_only  44 non-null     int64
dtypes: int64(7), object(1)
memory usage: 2.9+ KB

fm2.to_csv('../data/single_parent/census/historical_family_tables/fm2_parent_child_situations.csv', index = False)

In [19]:
fm2_w = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=64, nrows=61)
fm2_w

,.White,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"..2022a,y",27500,NaN,20645,19075,1569.0,NaN,6855,5260,1596
1,"..2021a,y,r",27554,NaN,20503,19060,1443.0,NaN,7051,5381,1670
2,"..2021a,y",27399,NaN,20400,18959,1440.0,NaN,6999,5362,1637
3,"..2020a,y",27613,NaN,20712,19425,1287.0,NaN,6901,5341,1560
4,"..2019a,y",28120,NaN,21004,19589,1415.0,NaN,7116,5544,1572
5,"..2018a, x",28226,NaN,21008,19630,1378.0,NaN,7218,5639,1579
6,"..2017a, x",28489,NaN,20925,19612,1313.0,NaN,7564,5917,1647
7,"..2016a, x",28879,NaN,21272,19899,1373.0,NaN,7607,6019,1588
8,"..2016b, x",29534,NaN,21663,20249,1414.0,NaN,7871,6240,1631
9,"..2015a, x",29303,NaN,21664,20188,1476.0,NaN,7639,6177,1462
10,"..2015b, x",29919,NaN,22058,20510,1548.0,NaN,7861,6362,1499
11,"..2014a, x, s",29370,NaN,21591,20162,1429.0,NaN,7779,6298,1481
12,"..2014b, x, s",30054,NaN,22036,20515,1521.0,NaN,8018,6490,1528
13,"..2013a, x",29359,NaN,21625,20200,1425.0,NaN,7734,6230,1504
14,"..2013b, x",29964,NaN,21988,20501,1487.0,NaN,7976,6427,1550
15,"..2012a, x",29492,NaN,21437,20035,1402.0,NaN,8055,6566,1489
16,"..2012b, x",30122,NaN,21815,20372,1443.0,NaN,8307,6789,1518
17,"..2011a, x, r",29759,NaN,22004,20610,1394.0,NaN,7755,6446,1309
18,"..2011a, x",29921,NaN,22126,20728,1398.0,NaN,7795,6460,1335
19,"..2011b, x, r",30424,NaN,22416,20959,1457.0,NaN,8008,6648,1360
20,"..2011b, x",30474,NaN,22475,21026,1449.0,NaN,7999,6622,1377
21,"..2010a, x",30186,NaN,22457,21106,1351.0,NaN,7729,6396,1333
22,"..2010b, x",30659,NaN,22746,21375,1371.0,NaN,7913,6545,1368
23,"..2009a, x",30292,NaN,22735,21574,1161.0,NaN,7557,6232,1325
24,"..2009b, x",30802,NaN,23060,21877,1183.0,NaN,7742,6382,1360
25,"..2008a, x",30451,NaN,22857,21625,1232.0,NaN,7594,6138,1456
26,"..2008b, x",30950,NaN,23183,21915,1268.0,NaN,7767,6286,1481
27,"..2007a, x",31358,NaN,23646,22519,1127.0,NaN,7712,6359,1353
28,"..2007b, x",31844,NaN,23954,22802,1152.0,NaN,7890,6506,1384
29,..2006a,30947,NaN,22404,22404,NaN,NaN,8542,6628,1914
30,..2006b,31492,NaN,22691,22691,NaN,NaN,8801,6833,1968
31,..2005a,30960,NaN,22319,22319,NaN,NaN,8641,6747,1894
32,..2005b,31504,NaN,22629,22629,NaN,NaN,8876,6937,1939
33,..2004a,30468,NaN,22200,22200,NaN,NaN,8268,6592,1677
34,..2004b,31005,NaN,22499,22499,NaN,NaN,8506,6773,1733
35,..2003a,30638,NaN,22409,22409,NaN,NaN,8229,6471,1758
36,..2003b,31116,NaN,22676,22676,NaN,NaN,8440,6631,1809
37,..2002,30550,NaN,22381,22381,NaN,NaN,8169,6423,1746
38,..2001,30668,NaN,22663,22663,NaN,NaN,8005,6309,1696
39,..2000,30079,NaN,22241,22241,NaN,NaN,7838,6216,1622
40,..1999,30132,NaN,22139,22139,NaN,NaN,7993,6368,1625
41,..1998,30314,NaN,22237,22237,NaN,NaN,8077,6328,1749
42,..1997,30242,NaN,22294,22294,NaN,NaN,7948,6396,1552
43,..1996,29947,NaN,22178,22178,NaN,NaN,7769,6329,1440
44,..1995,29846,NaN,22320,22320,NaN,NaN,7525,6239,1286
45,..1994,29645,NaN,22310,22310,NaN,NaN,7335,6144,1191
46,..1993,29225,NaN,22058,22058,NaN,NaN,7167,5901,1265
47,..1992,28847,NaN,21909,21909,NaN,NaN,6938,5753,1186
48,..1991,28443,NaN,21893,21893,NaN,NaN,6550,5482,1068
49,..1990,28294,NaN,21905,21905,NaN,NaN,6389,5310,1079
50,..1989,28192,NaN,22106,22106,NaN,NaN,6086,5150,936
51,..1988,28104,NaN,22013,22013,NaN,NaN,6090,5100,990
52,..1987,28180,NaN,22076,22076,NaN,NaN,6104,5190,914
53,..1986,28041,NaN,22076,22076,NaN,NaN,5964,5070,894
54,..1985,27629,NaN,21873,21873,NaN,NaN,5757,4912,844
55,..1984,27508,NaN,21978,21978,NaN,NaN,5529,4766,763
56,..1983,27343,NaN,22011,22011,NaN,NaN,5332,4625,707
57,..1982,27445,NaN,22021,22021,NaN,NaN,5423,4766,657
58,..1981,27433,NaN,22512,22512,NaN,NaN,4921,4326,595
59,..1980,27294,NaN,22628,22628,NaN,NaN,4664,4122,542
60,..1970,26115,NaN,23477,23477,NaN,NaN,2638,2330,307

In [24]:
fm2_b = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=127, nrows=61)
fm2_b

,.Black,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"..2022a,y",5371,NaN,2289,1952,337.0,NaN,3083,2661,422
1,"..2021a,y,r",5383,NaN,2269,1963,305.0,NaN,3115,2693,422
2,"..2021a,y",5350,NaN,2253,1949,304.0,NaN,3097,2682,416
3,"..2020a,y",5239,NaN,2263,2023,239.0,NaN,2976,2622,354
4,"..2019a, y",5171,NaN,2211,1934,277.0,NaN,2960,2581,379
5,"..2018a, x",5395,NaN,2183,1910,273.0,NaN,3212,2855,357
6,"..2017a, x",5494,NaN,2252,1996,256.0,NaN,3242,2902,340
7,"..2016a, x",5467,NaN,2159,1877,282.0,NaN,3308,3007,301
8,"..2016b, x",5817,NaN,2325,2030,295.0,NaN,3492,3164,328
9,"..2015a, x",5471,NaN,2209,1894,315.0,NaN,3262,2971,291
10,"..2015b, x",5798,NaN,2395,2049,346.0,NaN,3403,3096,308
11,"..2014a, x, s",5609,NaN,2300,1992,308.0,NaN,3309,2967,341
12,"..2014b, x, s",5973,NaN,2518,2151,367.0,NaN,3455,3102,353
13,"..2013a, x",5664,NaN,2316,2024,292.0,NaN,3348,2998,350
14,"..2013b, x",6001,NaN,2485,2151,334.0,NaN,3516,3154,362
15,"..2012a, x",5621,NaN,2262,1961,301.0,NaN,3359,3035,324
16,"..2012b, x",5887,NaN,2398,2078,320.0,NaN,3489,3150,339
17,"..2011a, x, r",5488,NaN,2208,1891,317.0,NaN,3280,3011,269
18,"..2011a, x",5424,NaN,2159,1849,310.0,NaN,3265,2991,274
19,"..2011b, x, r",5793,NaN,2378,2027,351.0,NaN,3415,3113,302
20,"..2011b, x",5673,NaN,2298,1959,339.0,NaN,3375,3074,301
21,"..2010a, x",5555,NaN,2275,1964,311.0,NaN,3280,2977,303
22,"..2010b, x",5768,NaN,2387,2065,322.0,NaN,3381,3062,319
23,"..2009a, x",5683,NaN,2296,2043,253.0,NaN,3387,3093,294
24,"..2009b, x",5862,NaN,2395,2135,260.0,NaN,3467,3162,305
25,"..2008a, x",5603,NaN,2256,2032,224.0,NaN,3347,3080,267
26,"..2008b, x",5772,NaN,2353,2115,238.0,NaN,3419,3145,275
27,"..2007a, x",5760,NaN,2404,2182,222.0,NaN,3356,3067,289
28,"..2007b, x",5957,NaN,2511,2277,234.0,NaN,3446,3149,297
29,..2006a,5609,NaN,2051,2051,NaN,NaN,3558,3143,415
30,..2006b,5808,NaN,2134,2134,NaN,NaN,3674,3237,437
31,..2005a,5495,NaN,2065,2065,NaN,NaN,3430,3037,393
32,..2005b,5642,NaN,2117,2117,NaN,NaN,3524,3113,411
33,..2004a,5688,NaN,2091,2091,NaN,NaN,3597,3146,451
34,..2004b,5844,NaN,2160,2160,NaN,NaN,3684,3224,461
35,..2003a,5597,NaN,2120,2120,NaN,NaN,3477,3124,353
36,..2003b,5730,NaN,2183,2183,NaN,NaN,3547,3179,368
37,..2002,5635,NaN,2179,2179,NaN,NaN,3456,3067,389
38,..2001,5458,NaN,2145,2145,NaN,NaN,3313,2946,366
39,..2000,5530,NaN,2135,2135,NaN,NaN,3395,3060,335
40,..1999,5481,NaN,2017,2017,NaN,NaN,3464,3140,324
41,..1998,5604,NaN,2111,2111,NaN,NaN,3493,3211,282
42,..1997,5679,NaN,2020,2020,NaN,NaN,3659,3268,391
43,..1996,5434,NaN,1942,1942,NaN,NaN,3493,3171,322
44,..1995,5491,NaN,1962,1962,NaN,NaN,3529,3197,332
45,..1994,5614,NaN,1978,1978,NaN,NaN,3636,3350,287
46,..1993,5364,NaN,1987,1987,NaN,NaN,3377,3135,242
47,..1992,5164,NaN,1948,1948,NaN,NaN,3216,2994,221
48,..1991,5173,NaN,1933,1933,NaN,NaN,3240,3000,239
49,..1990,5087,NaN,2006,2006,NaN,NaN,3081,2860,221
50,..1989,5148,NaN,2005,2005,NaN,NaN,3143,2905,238
51,..1988,5057,NaN,2055,2055,NaN,NaN,3003,2812,191
52,..1987,4963,NaN,2059,2059,NaN,NaN,2904,2747,157
53,..1986,4772,NaN,2022,2022,NaN,NaN,2752,2597,155
54,..1985,4659,NaN,1856,1856,NaN,NaN,2802,2641,160
55,..1984,4744,NaN,1934,1934,NaN,NaN,2809,2652,157
56,..1983,4699,NaN,1946,1946,NaN,NaN,2752,2583,169
57,..1982,4521,NaN,2029,2029,NaN,NaN,2491,2365,126
58,..1981,4172,NaN,1981,1981,NaN,NaN,2191,2041,150
59,..1980,4074,NaN,1961,1961,NaN,NaN,2114,1984,129
60,..1970,3219,NaN,2071,2071,NaN,NaN,1148,1063,85

In [25]:
fm2_h = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=190, nrows=45)
fm2_h

,.Hispanic origin***,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2022y,8216,NaN,5544,4837,707.0,NaN,2672,2204,468
1,"..2021y,r",8236,NaN,5510,4854,656.0,NaN,2727,2250,477
2,..2021y,8199,NaN,5490,4836,655.0,NaN,2708,2240,468
3,..2020y,8075,NaN,5401,4851,550.0,NaN,2673,2234,440
4,..2019y,8280,NaN,5510,4938,572.0,NaN,2770,2312,458
5,..2018x,8233,NaN,5552,5014,538.0,NaN,2681,2257,424
6,..2017x,8294,NaN,5558,5044,514.0,NaN,2736,2217,519
7,..2016x,8319,NaN,5575,4964,611.0,NaN,2744,2321,423
8,..2015x,8095,NaN,5407,4783,624.0,NaN,2688,2338,350
9,"..2014x, s",7996,NaN,5230,4596,634.0,NaN,2766,2429,337
10,..2013x,7999,NaN,5246,4658,588.0,NaN,2753,2409,344
11,..2012x,7990,NaN,5264,4655,609.0,NaN,2726,2381,345
12,"..2011x, r",7939,NaN,5289,4655,634.0,NaN,2650,2363,287
13,..2011x,7437,NaN,4977,4393,584.0,NaN,2460,2177,283
14,..2010x,7355,NaN,4856,4348,508.0,NaN,2499,2186,313
15,..2009x,7337,NaN,5013,4572,441.0,NaN,2324,2041,283
16,..2008x,7213,NaN,5072,4626,446.0,NaN,2141,1903,238
17,..2007x,7192,NaN,4984,4628,356.0,NaN,2208,1987,221
18,..2006,6905,NaN,4524,4524,NaN,NaN,2380,1957,423
19,..2005,6752,NaN,4346,4346,NaN,NaN,2406,1964,442
20,..2004,6573,NaN,4273,4273,NaN,NaN,2300,1871,429
21,..2003,6468,NaN,4211,4211,NaN,NaN,2257,1807,450
22,..2002,6050,NaN,3936,3936,NaN,NaN,2114,1704,410
23,..2001,5810,NaN,3819,3819,NaN,NaN,1991,1644,347
24,..2000,5503,NaN,3625,3625,NaN,NaN,1878,1565,313
25,..1999,5193,NaN,3354,3354,NaN,NaN,1839,1560,279
26,..1998,5021,NaN,3233,3233,NaN,NaN,1789,1500,289
27,..1997,4870,NaN,3115,3115,NaN,NaN,1756,1500,256
28,..1996,4560,NaN,2858,2858,NaN,NaN,1702,1483,219
29,..1995,4525,NaN,2879,2879,NaN,NaN,1646,1404,243
30,..1994,4369,NaN,2786,2786,NaN,NaN,1583,1364,219
31,..1993,3838,NaN,2494,2494,NaN,NaN,1344,1157,187
32,..1992,3771,NaN,2473,2473,NaN,NaN,1298,1112,186
33,..1991,3582,NaN,2395,2395,NaN,NaN,1187,1029,158
34,..1990,3429,NaN,2289,2289,NaN,NaN,1140,1003,138
35,..1989,3382,NaN,2315,2315,NaN,NaN,1067,960,107
36,..1988,3321,NaN,2205,2205,NaN,NaN,1116,977,139
37,..1987,3165,NaN,2115,2115,NaN,NaN,1051,927,124
38,..1986,3043,NaN,2057,2057,NaN,NaN,987,881,106
39,..1985,2848,NaN,1962,1962,NaN,NaN,886,802,84
40,..1984,2674,NaN,1867,1867,NaN,NaN,807,740,67
41,..1983,2525,NaN,1758,1758,NaN,NaN,766,702,64
42,..1982,2456,NaN,1734,1734,NaN,NaN,722,666,56
43,..1981,2396,NaN,1718,1718,NaN,NaN,678,605,73
44,..1980,2194,NaN,1626,1626,NaN,NaN,568,526,42

In [31]:
fm2_fam_all = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=239, nrows=28)
fm2_fam_all

,.All races,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006,36466,NaN,25982,25982,NaN,NaN,10484,8389,2095
1,..2005,36211,NaN,25919,25919,NaN,NaN,10291,8270,2021
2,..2004,35944,NaN,25793,25793,NaN,NaN,10151,8221,1931
3,..2003,35968,NaN,25914,25914,NaN,NaN,10054,8139,1915
4,..2002,35705,NaN,25792,25792,NaN,NaN,9913,8010,1903
5,..2001,35355,NaN,25980,25980,NaN,NaN,9375,7538,1836
6,..2000,34605,NaN,25248,25248,NaN,NaN,9357,7571,1786
7,..1999,34613,NaN,25066,25066,NaN,NaN,9547,7841,1706
8,..1998,34760,NaN,25269,25269,NaN,NaN,9491,7693,1798
9,..1997,34665,NaN,25083,25083,NaN,NaN,9583,7874,1709
10,..1996,34203,NaN,24920,24920,NaN,NaN,9284,7656,1628
11,..1995,34296,NaN,25241,25241,NaN,NaN,9055,7615,1440
12,..1994,34018,NaN,25058,25058,NaN,NaN,8961,7647,1314
13,..1993,33257,NaN,24707,24707,NaN,NaN,8550,7226,1324
14,..1992,32746,NaN,24420,24420,NaN,NaN,8326,7043,1283
15,..1991,32401,NaN,24397,24397,NaN,NaN,8004,6823,1181
16,..1990,32289,NaN,24537,24537,NaN,NaN,7752,6599,1153
17,..1989,32322,NaN,24735,24735,NaN,NaN,7587,6519,1068
18,..1988,31920,NaN,24600,24600,NaN,NaN,7320,6273,1047
19,..1987,31898,NaN,24645,24645,NaN,NaN,7252,6297,955
20,..1986,31607,NaN,24630,24630,NaN,NaN,7040,6105,935
21,..1985,31112,NaN,24210,24210,NaN,NaN,6902,6006,896
22,..1984,31046,NaN,24339,24339,NaN,NaN,6706,5907,799
23,..1983,30818,NaN,24363,24363,NaN,NaN,6455,5718,737
24,..1982,31012,NaN,24465,24465,NaN,NaN,6547,5868,679
25,..1981,31227,NaN,24927,24927,NaN,NaN,6300,5634,666
26,..1980,31022,NaN,24961,24961,NaN,NaN,6061,5445,616
27,..1970,28731,NaN,25532,25532,NaN,NaN,3199,2858,341

In [36]:
fm2_fam_w = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=270, nrows=32)
fm2_fam_w

,.White,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006a,28937,NaN,22010,22010,NaN,NaN,6927,5283,1644
1,..2006b,29394,NaN,22285,22285,NaN,NaN,7110,5424,1686
2,..2005a,28824,NaN,21902,21902,NaN,NaN,6922,5328,1594
3,..2005b,29306,NaN,22202,22202,NaN,NaN,7104,5475,1629
4,..2004a,28410,NaN,21769,21769,NaN,NaN,6641,5203,1438
5,..2004b,28869,NaN,22052,22052,NaN,NaN,6817,5330,1487
6,..2003a,28641,NaN,21980,21980,NaN,NaN,6661,5155,1506
7,..2003b,29064,NaN,22238,22238,NaN,NaN,6826,5272,1554
8,..2002,28537,NaN,21978,21978,NaN,NaN,6559,5052,1507
9,..2001,28567,NaN,22220,22220,NaN,NaN,6347,4870,1476
10,..2000,28107,NaN,21809,21809,NaN,NaN,6298,4869,1429
11,..1999,21809,NaN,6298,2800,NaN,NaN,4869,1429,1371
12,..1998,28336,NaN,21910,21910,NaN,NaN,6426,4912,1514
13,..1997,28236,NaN,21914,21914,NaN,NaN,6322,4997,1325
14,..1996,28086,NaN,21835,21835,NaN,NaN,6251,4975,1276
15,..1995,27951,NaN,22005,22005,NaN,NaN,5946,4841,1105
16,..1994,27642,NaN,21884,21884,NaN,NaN,5758,4748,1010
17,..1993,27335,NaN,21686,21686,NaN,NaN,5650,4552,1098
18,..1992,27045,NaN,21517,21517,NaN,NaN,5528,4488,1040
19,..1991,26793,NaN,21531,21531,NaN,NaN,5262,4337,925
20,..1990,26718,NaN,21579,21579,NaN,NaN,5138,4199,939
21,..1989,26805,NaN,21809,21809,NaN,NaN,4996,4141,855
22,..1988,26618,NaN,21699,21699,NaN,NaN,4918,4066,852
23,..1987,26717,NaN,21787,21787,NaN,NaN,4930,4141,789
24,..1986,26575,NaN,21756,21756,NaN,NaN,4818,4040,778
25,..1985,26232,NaN,21565,21565,NaN,NaN,4666,3922,744
26,..1984,26207,NaN,21701,21701,NaN,NaN,4506,3856,650
27,..1983,26006,NaN,21701,21701,NaN,NaN,4305,3707,598
28,..1982,26237,NaN,21744,21744,NaN,NaN,4492,3926,566
29,..1981,26523,NaN,22296,22296,NaN,NaN,4228,3694,534
30,..1980,26474,NaN,22415,22415,NaN,NaN,4058,3558,500
31,..1970****,25543,NaN,23277,23277,NaN,NaN,2266,1995,271

In [43]:
fm2_fam_b = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=305, nrows=32)
fm2_fam_b

,.Black,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006a,4967,NaN,2021,2021,NaN,NaN,2947,2639,308
1,..2006b,5138,NaN,2100,2100,NaN,NaN,3039,2712,327
2,..2005a,4825,NaN,2023,2023,NaN,NaN,2803,2512,291
3,..2005b,4945,NaN,2074,2074,NaN,NaN,2871,2572,299
4,..2004a,4973,NaN,2035,2035,NaN,NaN,2938,2582,356
5,..2004b,5104,NaN,2102,2102,NaN,NaN,3002,2640,362
6,..2003a,4958,NaN,2082,2082,NaN,NaN,2876,2591,285
7,..2003b,5068,NaN,2139,2139,NaN,NaN,2929,2630,299
8,..2002,5065,NaN,2148,2148,NaN,NaN,2917,2593,324
9,..2001,4760,NaN,2107,2107,NaN,NaN,2653,2372,281
10,..2000,4782,NaN,2093,2093,NaN,NaN,2689,2409,280
11,..1999,4714,NaN,1971,1971,NaN,NaN,2744,2477,267
12,..1998,4847,NaN,2055,2055,NaN,NaN,2792,2569,223
13,..1997,4886,NaN,1974,1974,NaN,NaN,2913,2594,319
14,..1996,4583,NaN,1901,1901,NaN,NaN,2682,2404,278
15,..1995,4682,NaN,1926,1926,NaN,NaN,2756,2489,267
16,..1994,4793,NaN,1924,1924,NaN,NaN,2868,2630,238
17,..1993,4560,NaN,1945,1945,NaN,NaN,2616,2434,182
18,..1992,4445,NaN,1926,1926,NaN,NaN,2519,2335,184
19,..1991,4380,NaN,1884,1884,NaN,NaN,2496,2294,202
20,..1990,4378,NaN,1972,1972,NaN,NaN,2405,2232,173
21,..1989,4332,NaN,1969,1969,NaN,NaN,2362,2170,192
22,..1988,4195,NaN,2016,2016,NaN,NaN,2180,2020,160
23,..1987,4184,NaN,2023,2023,NaN,NaN,2161,2025,136
24,..1986,4059,NaN,1997,1997,NaN,NaN,2063,1934,129
25,..1985,3891,NaN,1822,1822,NaN,NaN,2068,1942,126
26,..1984,3918,NaN,1876,1876,NaN,NaN,2042,1913,129
27,..1983,3890,NaN,1901,1901,NaN,NaN,1989,1862,127
28,..1982,3918,NaN,2003,2003,NaN,NaN,1914,1821,93
29,..1981,3873,NaN,1938,1938,NaN,NaN,1934,1823,111
30,..1980,3820,NaN,1927,1927,NaN,NaN,1892,1793,99
31,..1970****,2984,NaN,1999,1999,NaN,NaN,985,912,73

In [48]:
fm2_fam_h = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=340, nrows=28)
fm2_fam_h

,.Hispanic origin***,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006,6119.0,NaN,4334.0,4334.0,NaN,NaN,1785.0,1470.0,315.0
1,..2005,5993.0,NaN,4164.0,4164.0,NaN,NaN,1828.0,1504.0,324.0
2,..2004,5837.0,NaN,4086.0,4086.0,NaN,NaN,1751.0,1422.0,329.0
3,..2003,5704.0,NaN,4001.0,4001.0,NaN,NaN,1703.0,1357.0,346.0
4,..2002,5343.0,NaN,3754.0,3754.0,NaN,NaN,1589.0,1259.0,330.0
5,..2001,5062.0,NaN,3628.0,3628.0,NaN,NaN,1434.0,1153.0,281.0
6,..2000,4814.0,NaN,3423.0,3423.0,NaN,NaN,1391.0,1145.0,246.0
7,..1999,4614.0,NaN,3218.0,3218.0,NaN,NaN,1396.0,1174.0,222.0
8,..1998,4475.0,NaN,3121.0,3121.0,NaN,NaN,1354.0,1121.0,233.0
9,..1997,4305.0,NaN,2962.0,2962.0,NaN,NaN,1342.0,1138.0,204.0
10,..1996,4048.0,NaN,2731.0,2731.0,NaN,NaN,1317.0,1138.0,179.0
11,..1995,3984.0,NaN,2743.0,2743.0,NaN,NaN,1240.0,1048.0,192.0
12,..1994,3790.0,NaN,2609.0,2609.0,NaN,NaN,1181.0,1006.0,175.0
13,..1993,3345.0,NaN,2355.0,2355.0,NaN,NaN,990.0,830.0,160.0
14,..1992,3333.0,NaN,2321.0,2321.0,NaN,NaN,1012.0,853.0,159.0
15,..1991,3203.0,NaN,2273.0,2273.0,NaN,NaN,930.0,799.0,131.0
16,..1990,3051.0,NaN,2188.0,2188.0,NaN,NaN,863.0,745.0,118.0
17,..1989,3096.0,NaN,2234.0,2234.0,NaN,NaN,862.0,766.0,96.0
18,..1988,2991.0,NaN,2123.0,2123.0,NaN,NaN,868.0,754.0,114.0
19,..1987,2859.0,NaN,2034.0,2034.0,NaN,NaN,825.0,729.0,96.0
20,..1986,2755.0,NaN,1987.0,1987.0,NaN,NaN,769.0,684.0,85.0
21,..1985,2602.0,NaN,1892.0,1892.0,NaN,NaN,710.0,642.0,68.0
22,..1984,2415.0,NaN,1791.0,1791.0,NaN,NaN,624.0,571.0,53.0
23,..1983,2306.0,NaN,1694.0,1694.0,NaN,NaN,612.0,559.0,53.0
24,..1982,2272.0,NaN,1676.0,1676.0,NaN,NaN,596.0,553.0,44.0
25,..1981,2260.0,NaN,1671.0,1671.0,NaN,NaN,589.0,527.0,62.0
26,..1980,2083.0,NaN,1589.0,1589.0,NaN,NaN,494.0,458.0,36.0
27,..1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
fm2_rel_sub_all = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=371, nrows=28)
fm2_rel_sub_all

,.All races,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006,2425,NaN,472,472,NaN,NaN,1953,1606,347
1,..2005,2619,NaN,528,528,NaN,NaN,2091,1704,387
2,..2004,2578,NaN,571,571,NaN,NaN,2006,1710,296
3,..2003,2375,NaN,519,519,NaN,NaN,1856,1596,260
4,..2002,2322,NaN,465,465,NaN,NaN,1857,1588,269
5,..2001,2452,NaN,536,536,NaN,NaN,1916,1665,251
6,..2000,2346,NaN,512,512,NaN,NaN,1834,1633,201
7,..1999,2328,NaN,456,456,NaN,NaN,1872,1591,281
8,..1998,2348,NaN,425,425,NaN,NaN,1923,1673,250
9,..1997,2360,NaN,465,465,NaN,NaN,1895,1651,244
10,..1996,2316,NaN,421,421,NaN,NaN,1895,1706,189
11,..1995,2241,NaN,377,377,NaN,NaN,1864,1668,195
12,..1994,2305,NaN,505,505,NaN,NaN,1800,1636,164
13,..1993,2136,NaN,410,410,NaN,NaN,1726,1556,170
14,..1992,2011,NaN,415,415,NaN,NaN,1596,1462,134
15,..1991,1984,NaN,424,424,NaN,NaN,1560,1418,142
16,..1990,1893,NaN,361,361,NaN,NaN,1531,1378,153
17,..1989,1844,NaN,342,342,NaN,NaN,1503,1398,104
18,..1988,1998,NaN,366,366,NaN,NaN,1632,1480,152
19,..1987,1916,NaN,342,342,NaN,NaN,1574,1451,123
20,..1986,1883,NaN,353,353,NaN,NaN,1530,1399,131
21,..1985,1857,NaN,348,348,NaN,NaN,1508,1392,116
22,..1984,1820,NaN,344,344,NaN,NaN,1476,1363,113
23,..1983,1869,NaN,368,368,NaN,NaN,1501,1355,146
24,..1982,1568,NaN,316,316,NaN,NaN,1252,1139,113
25,..1981,939,NaN,283,283,NaN,NaN,656,578,78
26,..1980,825,NaN,257,257,NaN,NaN,568,512,56
27,..1970,819,NaN,282,282,NaN,NaN,537,489,48

In [51]:
fm2_rel_sub_w = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=402, nrows=32)
fm2_rel_sub_w

,.White,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006a,1616,NaN,383,383,NaN,NaN,1233,1009,224
1,..2006b,1689,NaN,395,395,NaN,NaN,1294,1060,234
2,..2005a,1733,NaN,383,383,NaN,NaN,1349,1102,247
3,..2005b,1780,NaN,392,392,NaN,NaN,1388,1131,257
4,..2004a,1696,NaN,419,419,NaN,NaN,1277,1081,196
5,..2004b,1755,NaN,435,435,NaN,NaN,1320,1118,202
6,..2003a,1595,NaN,417,417,NaN,NaN,1178,1003,175
7,..2003b,1634,NaN,426,426,NaN,NaN,1208,1030,178
8,..2002,1638,NaN,391,391,NaN,NaN,1247,1060,187
9,..2001,1648,NaN,430,430,NaN,NaN,1218,1051,167
10,..2000,1557,NaN,422,422,NaN,NaN,1135,995,140
11,..1999,1175,NaN,364,364,NaN,NaN,1111,918,193
12,..1998,1531,NaN,313,313,NaN,NaN,1218,1045,173
13,..1997,1509,NaN,353,353,NaN,NaN,1156,988,168
14,..1996,1413,NaN,327,327,NaN,NaN,1086,955,131
15,..1995,1371,NaN,296,296,NaN,NaN,1075,940,135
16,..1994,1443,NaN,402,402,NaN,NaN,1041,925,116
17,..1993,1326,NaN,337,337,NaN,NaN,989,878,112
18,..1992,1296,NaN,351,351,NaN,NaN,944,851,93
19,..1991,1189,NaN,328,328,NaN,NaN,861,752,109
20,..1990,1188,NaN,304,304,NaN,NaN,884,779,105
21,..1989,1068,NaN,282,282,NaN,NaN,786,725,61
22,..1988,1167,NaN,304,304,NaN,NaN,863,743,120
23,..1987,1112,NaN,271,271,NaN,NaN,841,745,96
24,..1986,1166,NaN,300,300,NaN,NaN,866,771,95
25,..1985,1091,NaN,297,297,NaN,NaN,794,722,72
26,..1984,1021,NaN,265,265,NaN,NaN,756,668,88
27,..1983,1070,NaN,302,302,NaN,NaN,768,665,103
28,..1982,955,NaN,266,266,NaN,NaN,689,607,82
29,..1981,632,NaN,208,208,NaN,NaN,424,381,43
30,..1980,578,NaN,205,205,NaN,NaN,373,339,34
31,..1970,568,NaN,200,200,NaN,NaN,368,331,37

In [53]:
fm2_rel_sub_b = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=437, nrows=32)
fm2_rel_sub_b

,.Black,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006a,588,NaN,29,29,NaN,NaN,559,460,99
1,..2006b,613,NaN,33,33,NaN,NaN,581,478,103
2,..2005a,615,NaN,43,43,NaN,NaN,572,476,96
3,..2005b,641,NaN,44,44,NaN,NaN,598,492,106
4,..2004a,628,NaN,56,56,NaN,NaN,572,493,79
5,..2004b,646,NaN,59,59,NaN,NaN,588,506,82
6,..2003a,576,NaN,39,39,NaN,NaN,537,475,62
7,..2003b,593,NaN,44,44,NaN,NaN,549,486,63
8,..2002,525,NaN,30,30,NaN,NaN,495,437,58
9,..2001,637,NaN,38,38,NaN,NaN,599,526,73
10,..2000,642,NaN,41,41,NaN,NaN,600,550,50
11,..1999,712,NaN,46,46,NaN,NaN,666,611,55
12,..1998,680,NaN,55,55,NaN,NaN,625,572,53
13,..1997,713,NaN,46,46,NaN,NaN,667,607,60
14,..1996,767,NaN,38,38,NaN,NaN,729,691,38
15,..1995,729,NaN,34,34,NaN,NaN,695,642,52
16,..1994,735,NaN,52,52,NaN,NaN,683,644,40
17,..1993,719,NaN,39,39,NaN,NaN,680,632,49
18,..1992,621,NaN,21,21,NaN,NaN,600,564,36
19,..1991,689,NaN,46,46,NaN,NaN,644,614,30
20,..1990,629,NaN,33,33,NaN,NaN,596,557,39
21,..1989,713,NaN,36,36,NaN,NaN,677,637,40
22,..1988,766,NaN,39,39,NaN,NaN,727,701,26
23,..1987,717,NaN,35,35,NaN,NaN,682,661,21
24,..1986,641,NaN,23,23,NaN,NaN,619,593,26
25,..1985,703,NaN,32,32,NaN,NaN,671,639,32
26,..1984,744,NaN,56,56,NaN,NaN,687,665,22
27,..1983,745,NaN,45,45,NaN,NaN,700,660,40
28,..1982,560,NaN,26,26,NaN,NaN,534,505,29
29,..1981,254,NaN,43,43,NaN,NaN,212,179,33
30,..1980,203,NaN,30,30,NaN,NaN,174,153,21
31,..1970,235,NaN,72,72,NaN,NaN,163,151,12

In [54]:
fm2_rel_sub_h = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=472, nrows=28)
fm2_rel_sub_h

,.Hispanic origin***,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006,687.0,NaN,182.0,182.0,NaN,NaN,505.0,410.0,95.0
1,..2005,658.0,NaN,166.0,166.0,NaN,NaN,492.0,384.0,108.0
2,..2004,655.0,NaN,179.0,179.0,NaN,NaN,476.0,389.0,88.0
3,..2003,674.0,NaN,200.0,200.0,NaN,NaN,474.0,390.0,84.0
4,..2002,633.0,NaN,173.0,173.0,NaN,NaN,460.0,389.0,70.0
5,..2001,661.0,NaN,181.0,181.0,NaN,NaN,480.0,415.0,66.0
6,..2000,596.0,NaN,194.0,194.0,NaN,NaN,402.0,347.0,55.0
7,..1999,497.0,NaN,129.0,129.0,NaN,NaN,368.0,319.0,49.0
8,..1998,483.0,NaN,100.0,100.0,NaN,NaN,384.0,342.0,42.0
9,..1997,477.0,NaN,137.0,137.0,NaN,NaN,340.0,297.0,43.0
10,..1996,437.0,NaN,124.0,124.0,NaN,NaN,312.0,277.0,35.0
11,..1995,448.0,NaN,123.0,123.0,NaN,NaN,325.0,277.0,48.0
12,..1994,444.0,NaN,154.0,154.0,NaN,NaN,290.0,258.0,32.0
13,..1993,382.0,NaN,120.0,120.0,NaN,NaN,262.0,242.0,20.0
14,..1992,354.0,NaN,128.0,128.0,NaN,NaN,226.0,206.0,20.0
15,..1991,304.0,NaN,103.0,103.0,NaN,NaN,201.0,178.0,23.0
16,..1990,308.0,NaN,86.0,86.0,NaN,NaN,222.0,207.0,16.0
17,..1989,256.0,NaN,79.0,79.0,NaN,NaN,177.0,166.0,11.0
18,..1988,291.0,NaN,77.0,77.0,NaN,NaN,214.0,193.0,21.0
19,..1987,258.0,NaN,68.0,68.0,NaN,NaN,190.0,167.0,23.0
20,..1986,246.0,NaN,64.0,64.0,NaN,NaN,182.0,161.0,21.0
21,..1985,215.0,NaN,66.0,66.0,NaN,NaN,149.0,134.0,15.0
22,..1984,229.0,NaN,73.0,73.0,NaN,NaN,155.0,143.0,12.0
23,..1983,188.0,NaN,61.0,61.0,NaN,NaN,127.0,117.0,10.0
24,..1982,153.0,NaN,57.0,57.0,NaN,NaN,96.0,87.0,9.0
25,..1981,110.0,NaN,46.0,46.0,NaN,NaN,63.0,58.0,5.0
26,..1980,83.0,NaN,33.0,33.0,NaN,NaN,50.0,45.0,5.0
27,..1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
fm2_unrel_sub_all = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=503, nrows=28)
fm2_unrel_sub_all

,.All races,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006,483,NaN,14,14,NaN,NaN,468,409,59
1,..2005,488,NaN,35,35,NaN,NaN,453,392,61
2,..2004,480,NaN,13,13,NaN,NaN,467,406,61
3,..2003,503,NaN,12,12,NaN,NaN,491,407,84
4,..2002,446,NaN,15,15,NaN,NaN,431,371,59
5,..2001,538,NaN,14,14,NaN,NaN,524,455,70
6,..2000,544,NaN,11,11,NaN,NaN,534,477,57
7,..1999,488,NaN,16,16,NaN,NaN,472,408,64
8,..1998,549,NaN,14,14,NaN,NaN,535,463,72
9,..1997,594,NaN,29,29,NaN,NaN,564,487,77
10,..1996,558,NaN,21,21,NaN,NaN,538,493,45
11,..1995,631,NaN,22,22,NaN,NaN,609,550,59
12,..1994,684,NaN,34,34,NaN,NaN,650,571,78
13,..1993,666,NaN,40,40,NaN,NaN,625,557,68
14,..1992,622,NaN,44,44,NaN,NaN,577,523,55
15,..1991,587,NaN,42,42,NaN,NaN,545,504,41
16,..1990,488,NaN,23,23,NaN,NaN,466,421,45
17,..1989,443,NaN,19,19,NaN,NaN,424,398,26
18,..1988,427,NaN,11,11,NaN,NaN,416,393,23
19,..1987,428,NaN,18,18,NaN,NaN,409,380,29
20,..1986,386,NaN,27,27,NaN,NaN,360,338,22
21,..1985,384,NaN,15,15,NaN,NaN,369,339,30
22,..1984,380,NaN,18,18,NaN,NaN,362,329,33
23,..1983,340,NaN,8,8,NaN,NaN,332,322,10
24,..1982,307,NaN,15,15,NaN,NaN,292,279,13
25,..1981,335,NaN,8,8,NaN,NaN,327,301,26
26,..1980,303,NaN,13,13,NaN,NaN,291,273,18
27,..1970,81,NaN,9,9,NaN,NaN,72,68,4

In [60]:
fm2_unrel_sub_w = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=534, nrows=32)
fm2_unrel_sub_w

,.White,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006a,394.0,NaN,11.0,11.0,NaN,NaN,383.0,337.0,46.0
1,..2006b,408.0,NaN,11.0,11.0,NaN,NaN,398.0,349.0,49.0
2,..2005a,403.0,NaN,34.0,34.0,NaN,NaN,369.0,317.0,52.0
3,..2005b,419.0,NaN,34.0,34.0,NaN,NaN,384.0,331.0,53.0
4,..2004a,363.0,NaN,11.0,11.0,NaN,NaN,352.0,308.0,44.0
5,..2004b,381.0,NaN,12.0,12.0,NaN,NaN,370.0,326.0,44.0
6,..2003a,403.0,NaN,12.0,12.0,NaN,NaN,391.0,313.0,78.0
7,..2003b,418.0,NaN,12.0,12.0,NaN,NaN,406.0,328.0,78.0
8,..2002,375.0,NaN,12.0,12.0,NaN,NaN,363.0,311.0,51.0
9,..2001,454.0,NaN,13.0,13.0,NaN,NaN,441.0,387.0,54.0
10,..2000,415.0,NaN,11.0,11.0,NaN,NaN,405.0,352.0,53.0
11,..1999,416.0,NaN,15.0,15.0,NaN,NaN,401.0,340.0,61.0
12,..1998,447.0,NaN,13.0,13.0,NaN,NaN,433.0,371.0,62.0
13,..1997,497.0,NaN,26.0,26.0,NaN,NaN,471.0,411.0,60.0
14,..1996,448.0,NaN,15.0,15.0,NaN,NaN,433.0,400.0,33.0
15,..1995,524.0,NaN,20.0,20.0,NaN,NaN,504.0,458.0,46.0
16,..1994,561.0,NaN,24.0,24.0,NaN,NaN,536.0,470.0,66.0
17,..1993,563.0,NaN,35.0,35.0,NaN,NaN,528.0,472.0,56.0
18,..1992,507.0,NaN,41.0,41.0,NaN,NaN,465.0,413.0,52.0
19,..1991,460.0,NaN,33.0,33.0,NaN,NaN,427.0,393.0,34.0
20,..1990,388.0,NaN,22.0,22.0,NaN,NaN,366.0,332.0,34.0
21,..1989,320.0,NaN,15.0,15.0,NaN,NaN,304.0,284.0,20.0
22,..1988,319.0,NaN,10.0,10.0,NaN,NaN,309.0,291.0,18.0
23,..1987,351.0,NaN,18.0,18.0,NaN,NaN,333.0,304.0,29.0
24,..1986,300.0,NaN,20.0,20.0,NaN,NaN,280.0,259.0,21.0
25,..1985,306.0,NaN,11.0,11.0,NaN,NaN,296.0,268.0,28.0
26,..1984,280.0,NaN,12.0,12.0,NaN,NaN,267.0,242.0,25.0
27,..1983,267.0,NaN,8.0,8.0,NaN,NaN,259.0,253.0,6.0
28,..1982,253.0,NaN,11.0,11.0,NaN,NaN,242.0,233.0,9.0
29,..1981,277.0,NaN,8.0,8.0,NaN,NaN,269.0,251.0,18.0
30,..1980,242.0,NaN,8.0,8.0,NaN,NaN,233.0,225.0,8.0
31,..1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
fm2_unrel_sub_b = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=569, nrows=32)
fm2_unrel_sub_b

,.Black,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006a,53.0,NaN,1,1,NaN,NaN,53.0,45.0,8
1,..2006b,56.0,NaN,1,1,NaN,NaN,55.0,47.0,8
2,..2005a,55.0,NaN,-,-,NaN,NaN,55.0,49.0,6
3,..2005b,56.0,NaN,-,-,NaN,NaN,56.0,50.0,6
4,..2004a,87.0,NaN,-,-,NaN,NaN,87.0,70.0,17
5,..2004b,94.0,NaN,-,-,NaN,NaN,94.0,78.0,17
6,..2003a,64.0,NaN,-,-,NaN,NaN,64.0,58.0,6
7,..2003b,69.0,NaN,-,-,NaN,NaN,69.0,63.0,6
8,..2002,45.0,NaN,1,1,NaN,NaN,44.0,37.0,7
9,..2001,61.0,NaN,-,-,NaN,NaN,61.0,49.0,12
10,..2000,106.0,NaN,-,-,NaN,NaN,106.0,101.0,5
11,..1999,55.0,NaN,-,-,NaN,NaN,55.0,52.0,3
12,..1998,77.0,NaN,-,-,NaN,NaN,77.0,71.0,6
13,..1997,80.0,NaN,-,-,NaN,NaN,80.0,67.0,13
14,..1996,84.0,NaN,2,2,NaN,NaN,82.0,76.0,6
15,..1995,80.0,NaN,2,2,NaN,NaN,79.0,66.0,13
16,..1994,87.0,NaN,2,2,NaN,NaN,84.0,76.0,9
17,..1993,84.0,NaN,3,3,NaN,NaN,82.0,69.0,12
18,..1992,98.0,NaN,1,1,NaN,NaN,97.0,96.0,1
19,..1991,103.0,NaN,3,3,NaN,NaN,99.0,92.0,7
20,..1990,80.0,NaN,1,1,NaN,NaN,80.0,71.0,9
21,..1989,103.0,NaN,-,-,NaN,NaN,103.0,97.0,6
22,..1988,96.0,NaN,-,-,NaN,NaN,96.0,91.0,5
23,..1987,62.0,NaN,-,-,NaN,NaN,61.0,61.0,-
24,..1986,72.0,NaN,2,2,NaN,NaN,70.0,70.0,-
25,..1985,65.0,NaN,2,2,NaN,NaN,62.0,60.0,2
26,..1984,82.0,NaN,2,2,NaN,NaN,80.0,74.0,6
27,..1983,64.0,NaN,-,-,NaN,NaN,63.0,61.0,2
28,..1982,43.0,NaN,-,-,NaN,NaN,43.0,39.0,4
29,..1981,45.0,NaN,-,-,NaN,NaN,45.0,39.0,6
30,..1980,51.0,NaN,4,4,NaN,NaN,47.0,38.0,9
31,..1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
fm2_unrel_sub_b = pd.read_excel('../data/single_parent/census/historical_family_tables/fm2.xls', skiprows=604, nrows=28)
fm2_unrel_sub_b

,.Hispanic origin***,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,..2006,99.0,NaN,8.0,8.0,NaN,NaN,91.0,77.0,14
1,..2005,101.0,NaN,15.0,15.0,NaN,NaN,86.0,76.0,10
2,..2004,80.0,NaN,8.0,8.0,NaN,NaN,72.0,60.0,12
3,..2003,90.0,NaN,9.0,9.0,NaN,NaN,81.0,61.0,20
4,..2002,74.0,NaN,8.0,8.0,NaN,NaN,66.0,56.0,10
5,..2001,87.0,NaN,10.0,10.0,NaN,NaN,77.0,76.0,1
6,..2000,92.0,NaN,9.0,9.0,NaN,NaN,84.0,73.0,11
7,..1999,82.0,NaN,7.0,7.0,NaN,NaN,75.0,67.0,8
8,..1998,63.0,NaN,12.0,12.0,NaN,NaN,51.0,37.0,14
9,..1997,88.0,NaN,15.0,15.0,NaN,NaN,72.0,64.0,8
10,..1996,74.0,NaN,3.0,3.0,NaN,NaN,71.0,67.0,4
11,..1995,95.0,NaN,13.0,13.0,NaN,NaN,82.0,79.0,3
12,..1994,135.0,NaN,23.0,23.0,NaN,NaN,112.0,100.0,12
13,..1993,110.0,NaN,18.0,18.0,NaN,NaN,92.0,85.0,7
14,..1992,85.0,NaN,24.0,24.0,NaN,NaN,60.0,53.0,7
15,..1991,74.0,NaN,19.0,19.0,NaN,NaN,55.0,52.0,3
16,..1990,70.0,NaN,15.0,15.0,NaN,NaN,55.0,51.0,4
17,..1989,31.0,NaN,2.0,2.0,NaN,NaN,29.0,28.0,1
18,..1988,39.0,NaN,5.0,5.0,NaN,NaN,34.0,30.0,4
19,..1987,48.0,NaN,13.0,13.0,NaN,NaN,36.0,31.0,5
20,..1986,42.0,NaN,6.0,6.0,NaN,NaN,36.0,36.0,-
21,..1985,31.0,NaN,4.0,4.0,NaN,NaN,27.0,26.0,1
22,..1984,30.0,NaN,3.0,3.0,NaN,NaN,27.0,26.0,1
23,..1983,32.0,NaN,4.0,4.0,NaN,NaN,27.0,26.0,1
24,..1982,31.0,NaN,1.0,1.0,NaN,NaN,29.0,26.0,3
25,..1981,27.0,NaN,1.0,1.0,NaN,NaN,26.0,20.0,6
26,..1980,28.0,NaN,4.0,4.0,NaN,NaN,24.0,23.0,1
27,..1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

fm1_fam_type.to_csv('../data/single_parent/census/historical_family_tables/fm1_fam_type.csv', index = False)

NameError: name 'fm2' is not defined