In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

#### FM3 - Average Number of Own Children Under 18 Per Family, by Type of Family: 1955 to present
Source:  U.S. Census Bureau, Current Population Survey, March and Annual Social and Economic Supplements, 2022 and earlier.

#### would be interesting to see avg # of children going back further

In [2]:
fm3 = pd.read_excel('../data/single_parent/census/historical_family_tables/fm3.xls', skiprows=7, nrows=61)
pd.set_option('display.max_rows', None)
fm3.head(2)

,Unnamed: 0,Total,Married couple,"Man, no spouse present","Woman, no spouse present",Unnamed: 5,Total.1,Married couple.1,"Man, no spouse present.1","Woman, no spouse present.1",Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#drop empty columns or columns not needed 
fm3 = fm3.drop(['Total', 'Married couple', 'Man, no spouse present', 'Woman, no spouse present', 'Unnamed: 5', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'], axis=1)

#drop empty rows, drop original rows and keep revised
fm3 = fm3.drop(labels=[0, 1, 2, 5, 16]).reset_index(drop=True)

#rename columns 
fm3 = fm3.rename(columns = {'Unnamed: 0': 'year', 'Total.1': 'avg_num_child_own_child_und18', 'Married couple.1': 'avg_num_child_married_couple', 'Man, no spouse present.1': 'avg_num_child_father_only', 'Woman, no spouse present.1': 'avg_num_child_mother_only'})

fm3

,year,avg_num_child_own_child_und18,avg_num_child_married_couple,avg_num_child_father_only,avg_num_child_mother_only
0,2022,1.94,2.00,1.67,1.85
1,2021r,1.95,2.01,1.74,1.85
2,2020,1.93,1.99,1.64,1.85
3,2019,1.93,1.98,1.68,1.85
4,2018,1.90,1.96,1.66,1.82
5,2017,1.90,1.96,1.63,1.82
6,2016,1.89,1.94,1.60,1.80
7,2015,1.86,1.93,1.57,1.77
8,2014s,1.90,1.95,1.61,1.86
9,2013,1.88,1.94,1.60,1.80
10,2012,1.88,1.94,1.59,1.79
11,2011r,1.87,1.93,1.56,1.77
12,2010,1.88,1.94,1.57,1.77
13,2009,1.86,1.93,1.55,1.74
14,2008,1.86,1.92,1.53,1.77
15,2007,1.81,1.87,1.48,1.71
16,2006,1.82,1.88,1.48,1.71
17,2005,1.82,1.87,1.51,1.73
18,2004,1.83,1.89,1.53,1.73
19,2003,1.83,1.89,1.50,1.72
20,2002,1.83,1.89,1.49,1.72
21,2001,1.83,1.88,1.49,1.74
22,2000,1.87,1.94,1.50,1.75
23,1999,1.86,1.91,1.54,1.78
24,1998,1.85,1.90,1.52,1.78
25,1997,1.84,1.89,1.55,1.75
26,1996,1.86,1.90,1.49,1.81
27,1995,1.84,1.89,1.49,1.76
28,1994,1.84,1.88,1.49,1.75
29,1993,1.84,1.88,1.48,1.76
30,1992,1.85,1.88,1.51,1.79
31,1991,1.84,1.88,1.50,1.74
32,1990,1.83,1.87,1.50,1.72
33,1989,1.82,1.86,1.55,1.74
34,1988,1.81,1.84,1.51,1.74
35,1987,1.81,1.84,1.51,1.74
36,1986,1.83,1.86,1.46,1.78
37,1985,1.85,1.88,1.53,1.79
38,1984,1.85,1.89,1.50,1.76
39,1983,1.87,1.89,1.46,1.81
40,1982,1.87,1.89,1.53,1.80
41,1981,1.88,1.91,1.59,1.79
42,1980r,1.91,1.93,1.55,1.87
43,1979,1.93,1.95,1.63,1.86
44,1978,1.96,1.98,1.63,1.93
45,1977,2.01,2.02,1.66,1.99
46,1976,2.04,2.05,1.59,2.03
47,1975,2.09,2.09,1.85,2.10
48,1974,2.14,2.14,1.90,2.12
49,1973,2.17,2.18,1.87,2.20
50,1972,2.22,2.22,1.93,2.20
51,1971,2.31,2.31,2.00,2.33
52,1970r,2.28,2.29,1.93,2.29
53,1965,2.44,2.44,2.13,2.42
54,1960,2.33,2.34,1.88,2.24
55,1955,2.19,2.20,1.98,2.17

In [4]:
fm3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           56 non-null     object
 1   avg_num_child_own_child_und18  56 non-null     float64
 2   avg_num_child_married_couple   56 non-null     float64
 3   avg_num_child_father_only      56 non-null     float64
 4   avg_num_child_mother_only      56 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.3+ KB

In [5]:
fm3 = fm3.astype({'year': 'str'})
#locate additional letters in year column
fm3_avg_num_child = fm3[fm3['year'].str.match('\d{4}[a-zA-Z]?', na=False)]
#extract only the year
fm3_avg_num_child['year'] = fm3_avg_num_child['year'].str.extract('(\d{4})', expand=False).astype(int)
#sort by descending
fm3_avg_num_child = fm3_avg_num_child.sort_values('year', ascending=False)

fm3_avg_num_child

,year,avg_num_child_own_child_und18,avg_num_child_married_couple,avg_num_child_father_only,avg_num_child_mother_only
0,2022,1.94,2.00,1.67,1.85
1,2021,1.95,2.01,1.74,1.85
2,2020,1.93,1.99,1.64,1.85
3,2019,1.93,1.98,1.68,1.85
4,2018,1.90,1.96,1.66,1.82
5,2017,1.90,1.96,1.63,1.82
6,2016,1.89,1.94,1.60,1.80
7,2015,1.86,1.93,1.57,1.77
8,2014,1.90,1.95,1.61,1.86
9,2013,1.88,1.94,1.60,1.80
10,2012,1.88,1.94,1.59,1.79
11,2011,1.87,1.93,1.56,1.77
12,2010,1.88,1.94,1.57,1.77
13,2009,1.86,1.93,1.55,1.74
14,2008,1.86,1.92,1.53,1.77
15,2007,1.81,1.87,1.48,1.71
16,2006,1.82,1.88,1.48,1.71
17,2005,1.82,1.87,1.51,1.73
18,2004,1.83,1.89,1.53,1.73
19,2003,1.83,1.89,1.50,1.72
20,2002,1.83,1.89,1.49,1.72
21,2001,1.83,1.88,1.49,1.74
22,2000,1.87,1.94,1.50,1.75
23,1999,1.86,1.91,1.54,1.78
24,1998,1.85,1.90,1.52,1.78
25,1997,1.84,1.89,1.55,1.75
26,1996,1.86,1.90,1.49,1.81
27,1995,1.84,1.89,1.49,1.76
28,1994,1.84,1.88,1.49,1.75
29,1993,1.84,1.88,1.48,1.76
30,1992,1.85,1.88,1.51,1.79
31,1991,1.84,1.88,1.50,1.74
32,1990,1.83,1.87,1.50,1.72
33,1989,1.82,1.86,1.55,1.74
34,1988,1.81,1.84,1.51,1.74
35,1987,1.81,1.84,1.51,1.74
36,1986,1.83,1.86,1.46,1.78
37,1985,1.85,1.88,1.53,1.79
38,1984,1.85,1.89,1.50,1.76
39,1983,1.87,1.89,1.46,1.81
40,1982,1.87,1.89,1.53,1.80
41,1981,1.88,1.91,1.59,1.79
42,1980,1.91,1.93,1.55,1.87
43,1979,1.93,1.95,1.63,1.86
44,1978,1.96,1.98,1.63,1.93
45,1977,2.01,2.02,1.66,1.99
46,1976,2.04,2.05,1.59,2.03
47,1975,2.09,2.09,1.85,2.10
48,1974,2.14,2.14,1.90,2.12
49,1973,2.17,2.18,1.87,2.20
50,1972,2.22,2.22,1.93,2.20
51,1971,2.31,2.31,2.00,2.33
52,1970,2.28,2.29,1.93,2.29
53,1965,2.44,2.44,2.13,2.42
54,1960,2.33,2.34,1.88,2.24
55,1955,2.19,2.20,1.98,2.17

In [6]:
fm3_avg_num_child.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 0 to 55
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           56 non-null     int32
 1   avg_num_child_own_child_und18  56 non-null     float64
 2   avg_num_child_married_couple   56 non-null     float64
 3   avg_num_child_father_only      56 non-null     float64
 4   avg_num_child_mother_only      56 non-null     float64
dtypes: float64(4), int32(1)
memory usage: 2.4 KB

In [7]:
fm3_avg_num_child.to_csv('../data/single_parent/census/historical_family_tables/fm3_avg_num_child.csv', index = False)