In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

### Table H-12. Number of Earners--All Households by Median and Mean Income: 1980 to 2021					
				
Source: U.S. Census Bureau, Current Population Survey, 1981 to 2022 Annual Social and Economic Supplements (CPS ASEC).					
(Households as of March of the following year. Income in current and 2021 R-CPI-U-RS adjusted dollars (28). Data cells are plugged with '100,000+' to indicate that the medians were topcoded)

#### NOTE: med income only goes through 1987, so building the tables from there, did not use 4 or more, due to top coded medians and nans for several years

#### Table F-12. Number of Earners--All Families by Median and Mean Income: 1947 to 2021					
Information on confidentiality protection, sampling error, nonsampling error, and definitions is available at <https://www2.census.gov/programs-surveys/cps/techdocs/cpsmar22.pdf>.					
Footnotes are available at <www.census.gov/topics/income-poverty/income/guidance/cps-historic-footnotes.html>.					
Source: U.S. Census Bureau, Current Population Survey, 1948 to 2022 Annual Social and Economic Supplements (CPS ASEC).					
(Families as of March of the following year. Income in current and 2021 R-CPI-U-RS adjusted dollars (28). From 1974 to 1988, income is for families with civilian members. Data are not available for 4 or more earners before 1966)					
#### NOTE: mean income only goes through 1967, so building the tables from there, also did not use 4 or more, due to top code medians and nans for several years

In [34]:
h12 = pd.read_excel('../data/single_parent/census/historical_income_households/h12ar.xlsx', skiprows=8, nrows=37)
pd.set_option('display.max_rows', None)
h12

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,131202,70784,70784,102316,102316
1,2020 (41),129244,68010,71186,97469,102020
2,2019,128451,68703,72808,98088,103949
3,2018,128579,63179,68168,90021,97129
4,2017 (40),127669,61136,67571,87643,96869
5,2017,127586,61372,67832,86220,95296
6,2016,126224,59039,66657,83143,93871
7,2015,125819,56516,64631,79263,90645
8,2014,124587,53657,61468,75738,86763
9,2013 (39),123931,53585,62425,75195,87599
10,2013 (38),122952,51939,60507,72641,84624
11,2012,122459,51017,60313,71274,84262
12,2011,121084,50054,60428,69677,84118
13,2010 (37),119927,49276,61364,67392,83924
14,2009 (36),117538,49777,63011,67976,86048
15,2008,117181,50303,63455,68424,86314
16,2007,116783,50233,65801,67609,88562
17,2006,116011,48201,64930,66570,89674
18,2005,114384,46326,64427,63344,88094
19,2004 (35),113343,44334,63745,60466,86940
20,2003,112000,43318,63967,59067,87223
21,2002,111278,42409,64047,57852,87369
22,2001,109297,42228,64779,58208,89293
23,2000 (30),108209,41990,66248,57135,90142
24,1999 (29),106434,40696,66385,54737,89289
25,1998,103874,38885,64781,51855,86389
26,1997,102528,37005,62484,49692,83907
27,1996,101018,35492,61225,47123,81289
28,1995 (25),99627,34076,60348,44938,79584
29,1994 (24),98990,32264,58515,43133,78228
30,1993 (23),97107,31241,57843,41428,76704
31,1992 (22),96426,30636,58153,38840,73726
32,1991,95669,30126,58607,37922,73773
33,1990,94312,29943,60370,37403,75411
34,1989,93347,28906,61153,36520,77261
35,1988,92830,27225,60115,34017,75112
36,1987 (21),91124,26061,59624,32410,74149

In [35]:
#drop empty columns or columns not needed
h12 = h12.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
h12 = h12.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_families', '2021 dollars': 'med_2021', '2021 dollars.1': 'mean_2021'})

#drop prior index rows, drop original rows and keep revised
h12 = h12.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
h12 = h12.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
h12 = h12.applymap(lambda x: x.strip() if isinstance(x, str) else x)

h12.head(2)

        year  total_hh  med_2021  mean_2021
0       2021    131202     70784     102316
1  2020 (41)    129244     71186     102020

In [36]:
h12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       35 non-null     object
 1   total_hh   35 non-null     int64
 2   med_2021   35 non-null     int64
 3   mean_2021  35 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.2+ KB

In [37]:
h12_0 = pd.read_excel('../data/single_parent/census/historical_income_households/h12ar.xlsx', skiprows=55, nrows=37)
pd.set_option('display.max_rows', None)
h12_0.head(3)

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,32817,26148,26148,41945,41945
1,2020 (41),31382,25367,26552,39883,41745
2,2019,30170,26809,28411,42491,45030

In [38]:
#drop empty columns or columns not needed
h12_0 = h12_0.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
h12_0 = h12_0.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_families', '2021 dollars': 'med_2021_0', '2021 dollars.1': 'mean_2021_0'})

#drop prior index rows, drop original rows and keep revised
h12_0 = h12_0.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
h12_0 = h12_0.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
h12_0 = h12_0.applymap(lambda x: x.strip() if isinstance(x, str) else x)

h12_0.head(3)

        year  total_hh_none  med_2021_0  mean_2021_0
0       2021          32817       26148        41945
1  2020 (41)          31382       26552        41745
2       2019          30170       28411        45030

In [40]:
h12_1 = pd.read_excel('../data/single_parent/census/historical_income_households/h12ar.xlsx', skiprows=102, nrows=37)
pd.set_option('display.max_rows', None)
h12_1

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,46880,58983,58983,84821,84821
1,2020 (41),46527,56190,58814,79356,83062
2,2019,46222,55293,58597,78081,82748
3,2018,46467,51971,56075,73989,79831
4,2017 (40),46782,50762,56105,71857,79421
5,2017,46733,50607,55934,71336,78845
6,2016,46138,48550,54815,68310,77124
7,2015,46356,46763,53478,65209,74573
8,2014,45821,45228,51812,62611,71725
9,2013 (39),46954,44889,52294,61690,71867
10,2013 (38),45623,43916,51161,60359,70316
11,2012,45849,43335,51232,60278,71262
12,2011,45578,42173,50914,58965,71186
13,2010 (37),45384,41656,51875,57153,71174
14,2009 (36),43712,41133,52069,57045,72211
15,2008,43232,40772,51432,56616,71419
16,2007,43318,40710,53327,55752,73030
17,2006,42906,39309,52952,54923,73985
18,2005,42066,37541,52209,52562,73099
19,2004 (35),41799,36162,51995,49866,71699
20,2003,40769,35977,53127,48898,72207
21,2002,40078,34799,52554,47600,71886
22,2001,38639,34104,52316,48177,73905
23,2000 (30),37857,33619,53041,46506,73372
24,1999 (29),37212,31959,52133,44505,72598
25,1998,36216,31162,51915,42498,70800
26,1997,35150,29780,50284,40303,68053
27,1996,34026,27895,48120,38514,66438
28,1995 (25),33538,27567,48820,36855,65269
29,1994 (24),32973,26210,47535,35459,64310
30,1993 (23),32369,25560,47325,33875,62720
31,1992 (22),32360,25254,47937,32050,60837
32,1991,31818,24834,48312,31352,60992
33,1990,31413,24575,49547,31061,62624
34,1989,30958,23809,50370,30340,64187
35,1988,31065,22538,49766,28057,61952
36,1987 (21),30251,21584,49381,26854,61438

In [41]:
#drop empty columns or columns not needed
h12_1 = h12_1.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
h12_1 = h12_1.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_families', '2021 dollars': 'median', '2021 dollars.1': 'mean'})

#drop prior index rows, drop original rows and keep revised
h12_1 = h12_1.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
h12_1 = h12_1.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
h12_1 = h12_1.applymap(lambda x: x.strip() if isinstance(x, str) else x)

h12_1.head(3)

        year  total_hh_1  med_2021_1  mean_2021_1
0       2021       46880       58983        84821
1  2020 (41)       46527       58814        83062
2       2019       46222       58597        82748

In [67]:
h12_2 = pd.read_excel('../data/single_parent/census/historical_income_households/h12ar.xlsx', skiprows=149, nrows=37)
pd.set_option('display.max_rows', None)
h12_2.head(3)

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,41149,115757,115757,151415,151415
1,2020 (41),41110,109905,115037,143326,150019
2,2019,41171,110529,117134,142488,151003

In [44]:
#drop empty columns or columns not needed
h12_2 = h12_2.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
h12_2 = h12_2.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_hh_2', '2021 dollars': 'median', '2021 dollars.1': 'mean'})

#drop prior index rows, drop original rows and keep revised
h12_2 = h12_2.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
h12_2 = h12_2.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
h12_2 = h12_2.applymap(lambda x: x.strip() if isinstance(x, str) else x)

h12_2.head(2)

        year  total_hh_2  med_2021_2  mean_2021_2
0       2021       41149      115757       151415
1  2020 (41)       41110      115037       150019

In [45]:
h12merged = pd.merge(h12merged, h12_2, on = 'year', how = 'left')
h12merged.head(3)

,year,total_hh,med_2021,mean_2021,total_hh_none,med_2021_0,mean_2021_0,total_hh_1,med_2021_1,mean_2021_1,total_hh_2,med_2021_2,mean_2021_2
0,2021,131202,70784,102316,32817,26148,41945,46880,58983,84821,41149,115757,151415
1,2020 (41),129244,71186,102020,31382,26552,41745,46527,58814,83062,41110,115037,150019
2,2019,128451,72808,103949,30170,28411,45030,46222,58597,82748,41171,117134,151003

In [46]:
h12_3 = pd.read_excel('../data/single_parent/census/historical_income_households/h12ar.xlsx', skiprows=196, nrows=37)
pd.set_option('display.max_rows', None)
h12_3

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,7794,134884,134884,167969,167969
1,2020 (41),7618,131012,137129,162260,169837
2,2019,8050,127399,135012,163396,173161
3,2018,7734,124824,134680,156255,168593
4,2017 (40),7641,121551,134346,148282,163891
5,2017,7676,121697,134507,146971,162442
6,2016,7644,115357,130242,139687,157711
7,2015,7608,111416,127415,131956,150904
8,2014,7342,107314,122935,126664,145102
9,2013 (39),7043,101894,118703,127744,148817
10,2013 (38),7026,103721,120831,122617,142844
11,2012,7053,101561,120068,119731,141549
12,2011,6905,98869,119361,119430,144183
13,2010 (37),6793,95958,119498,112032,139516
14,2009 (36),7023,93835,118782,111268,140850
15,2008,7245,94530,119246,112002,141286
16,2007,7352,95026,124476,110065,144176
17,2006,7349,91500,123256,110206,148454
18,2005,7337,87905,122252,104940,145943
19,2004 (35),7202,83824,120525,97942,140825
20,2003,6998,82464,121773,97546,144045
21,2002,7224,80209,121133,92083,139066
22,2001,7555,77255,118511,90971,139552
23,2000 (30),7758,75854,119675,89295,140881
24,1999 (29),7781,74078,120839,86339,140839
25,1998,7409,70012,116638,84455,140700
26,1997,7429,67182,113439,79019,133426
27,1996,7455,62428,107690,73702,127138
28,1995 (25),6982,63191,111909,73656,130443
29,1994 (24),7257,60421,109582,69468,125990
30,1993 (23),7146,57272,106040,66006,122211
31,1992 (22),7094,56090,106470,63569,120666
32,1991,7223,55409,107792,61469,119581
33,1990,7271,53259,107379,59928,120825
34,1989,7349,51527,109010,58278,123292
35,1988,7282,49042,108289,54406,120133
36,1987 (21),6984,47374,108384,53190,121690

In [47]:
#drop empty columns or columns not needed
h12_3 = h12_3.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
h12_3 = h12_3.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_hh_3', '2021 dollars': 'med_2021_3', '2021 dollars.1': 'mean_2021_3'})

#drop prior index rows, drop original rows and keep revised
h12_3 = h12_3.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
h12_3 = h12_3.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
h12_3 = h12_3.applymap(lambda x: x.strip() if isinstance(x, str) else x)

h12_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         35 non-null     object
 1   total_hh_3   35 non-null     int64
 2   med_2021_3   35 non-null     int64
 3   mean_2021_3  35 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.2+ KB

In [48]:
h12merged = pd.merge(h12merged, h12_3, on = 'year', how = 'left')
h12merged.head(2)

,year,total_hh,med_2021,mean_2021,total_hh_none,med_2021_0,mean_2021_0,total_hh_1,med_2021_1,mean_2021_1,total_hh_2,med_2021_2,mean_2021_2,total_hh_3,med_2021_3,mean_2021_3
0,2021,131202,70784,102316,32817,26148,41945,46880,58983,84821,41149,115757,151415,7794,134884,167969
1,2020 (41),129244,71186,102020,31382,26552,41745,46527,58814,83062,41110,115037,150019,7618,137129,169837

In [49]:
h12merged = h12merged.astype({'year': 'str'})

In [50]:
#locate additional letters in year column
h12merged = h12merged[h12merged['year'].str.match('\d{4}[a-zA-Z]?', na=False)]
#extract only the year
h12merged['year'] = h12merged['year'].str.extract('(\d{4})', expand=False).astype(int)
#sort by descending
h12merged = h12merged.sort_values('year', ascending=False)

h12merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           35 non-null     int32
 1   total_hh       35 non-null     int64
 2   med_2021       35 non-null     int64
 3   mean_2021      35 non-null     int64
 4   total_hh_none  35 non-null     int64
 5   med_2021_0     35 non-null     int64
 6   mean_2021_0    35 non-null     int64
 7   total_hh_1     35 non-null     int64
 8   med_2021_1     35 non-null     int64
 9   mean_2021_1    35 non-null     int64
 10  total_hh_2     35 non-null     int64
 11  med_2021_2     35 non-null     int64
 12  mean_2021_2    35 non-null     int64
 13  total_hh_3     35 non-null     int64
 14  med_2021_3     35 non-null     int64
 15  mean_2021_3    35 non-null     int64
dtypes: int32(1), int64(15)
memory usage: 4.5 KB

In [51]:
h12merged

,year,total_hh,med_2021,mean_2021,total_hh_none,med_2021_0,mean_2021_0,total_hh_1,med_2021_1,mean_2021_1,total_hh_2,med_2021_2,mean_2021_2,total_hh_3,med_2021_3,mean_2021_3
0,2021,131202,70784,102316,32817,26148,41945,46880,58983,84821,41149,115757,151415,7794,134884,167969
1,2020,129244,71186,102020,31382,26552,41745,46527,58814,83062,41110,115037,150019,7618,137129,169837
2,2019,128451,72808,103949,30170,28411,45030,46222,58597,82748,41171,117134,151003,8050,135012,173161
3,2018,128579,68168,97129,30736,25760,39732,46467,56075,79831,40981,109073,139798,7734,134680,168593
4,2017,127669,67571,96869,30345,25387,39974,46782,56105,79421,40210,108914,140982,7641,134346,163891
5,2017,127586,67832,95296,30382,25140,38798,46733,55934,78845,40099,108682,138100,7676,134507,162442
6,2015,125819,64631,90645,29694,24609,36175,46356,53478,74573,39648,105237,132965,7608,127415,150904
7,2014,124587,61468,86763,29883,23337,35307,45821,51812,71725,39162,101041,127170,7342,122935,145102
9,2013,122952,60507,84624,29097,23295,33714,45623,51161,70316,38934,99079,123448,7026,120831,142844
8,2013,123931,62425,87599,29073,23178,35176,46954,52294,71867,38670,100866,129149,7043,118703,148817
10,2011,121084,60428,84118,28569,23318,32570,45578,50914,71186,37943,98106,122787,6905,119361,144183
11,2010,119927,61364,83924,27797,23038,32652,45384,51875,71174,37710,100609,121881,6793,119498,139516
12,2009,117538,63011,86048,26172,24702,33797,43712,52069,72211,38302,99336,122492,7023,118782,140850
13,2008,117181,63455,86314,24944,23498,33456,43232,51432,71419,39250,98967,121160,7245,119246,141286
14,2007,116783,65801,88562,24541,22913,33665,43318,53327,73030,39093,101856,124395,7352,124476,144176
15,2006,116011,64930,89674,24305,24065,34508,42906,52952,73985,38987,100374,124894,7349,123256,148454
16,2005,114384,64427,88094,24224,23494,33422,42066,52209,73099,38327,98675,122669,7337,122252,145943
17,2004,113343,63745,86940,23952,23189,32763,41799,51995,71699,38119,99094,122484,7202,120525,140825
18,2003,112000,63967,87223,23932,23126,32917,40769,53127,72207,37917,99452,121704,6998,121773,144045
19,2002,111278,64047,87369,23347,23259,32729,40078,52554,71886,38261,98986,122211,7224,121133,139066
20,2001,109297,64779,89293,22661,23704,33663,38639,52316,73905,37971,99024,122984,7555,118511,139552
21,2000,108209,66248,90142,21755,24030,34160,37857,53041,73372,38066,98168,122999,7758,119675,140881
22,1999,106434,66385,89289,21154,25216,36350,37212,52133,72598,37507,97373,119343,7781,120839,140839
23,1998,103874,64781,86389,21263,24060,34895,36216,51915,70800,36501,95607,115348,7409,116638,140700
24,1997,102528,62484,83907,21280,23879,34600,35150,50284,68053,36188,91505,112323,7429,113439,133426
25,1996,101018,61225,81289,21228,22977,32824,34026,48120,66438,35753,90419,109400,7455,107690,127138
26,1995,99627,60348,79584,21281,23203,32678,33538,48820,65269,35320,88549,106338,6982,111909,130443
27,1994,98990,58515,78228,21404,22081,31184,32973,47535,64310,34986,86572,105211,7257,109582,125990
28,1993,97107,57843,76704,21145,21861,30570,32369,47325,62720,34027,86023,104010,7146,106040,122211
29,1992,96426,58153,73726,20861,21755,30688,32360,47937,60837,33710,84644,97571,7094,106470,120666
30,1991,95669,58607,73773,20741,22391,31883,31818,48312,60992,33300,83718,96486,7223,107792,119581
31,1990,94312,60370,75411,19878,22498,32749,31413,49547,62624,33021,83986,97312,7271,107379,120825
32,1989,93347,61153,77261,19542,22649,32652,30958,50370,64187,32682,85070,99456,7349,109010,123292
33,1988,92830,60115,75112,19331,21926,31412,31065,49766,61952,32394,84391,96974,7282,108289,120133
34,1987,91124,59624,74149,19271,21776,31090,30251,49381,61438,31663,83463,94820,6984,108384,121690

h12merged.to_csv('../data/single_parent/census/historical_income_households/h12_hh_earners_mean_med_1987.csv', index = False)

In [71]:
f12 = pd.read_excel('../data/single_parent/census/historical_income_families/f12ar_num_earners_families_mean_median_income.xlsx',
                    skiprows=8, nrows=57)
pd.set_option('display.max_rows', None)
f12.head(3)

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,84283,88590,88590,121840,121840
1,2020 (41),83723,84348,88286,115310,120694
2,2019,83698,86011,91151,116735,123711

In [72]:
#drop empty columns or columns not needed
f12 = f12.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
f12 = f12.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_families', '2021 dollars': 'median', '2021 dollars.1': 'mean'})

#drop prior index rows, drop original rows and keep revised
f12 = f12.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f12 = f12.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f12 = f12.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f12.head(2)

        year  total_families  median    mean
0       2021           84283   88590  121840
1  2020 (41)           83723   88286  120694

In [62]:
f12_0 = pd.read_excel('../data/single_parent/census/historical_income_families/f12ar_num_earners_families_mean_median_income.xlsx',
                      skiprows=88, nrows=57)
pd.set_option('display.max_rows', None)
f12_0.head(3)

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,14480,39419,39419,56775,56775
1,2020 (41),14092,38371,40163,53048,55525
2,2019,13527,41535,44017,59062,62592

In [63]:
#drop empty columns or columns not needed
f12_0 = f12_0.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
f12_0 = f12_0.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_families', '2021 dollars': 'median', '2021 dollars.1': 'mean'})

#drop prior index rows, drop original rows and keep revised
f12_0 = f12_0.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f12_0 = f12_0.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f12_0 = f12_0.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f12_0.head(2)

        year  total_families  median   mean
0       2021           14480   39419  56775
1  2020 (41)           14092   40163  55525

In [65]:
no_earners_0 = f12_0[['year', 'total_families', 'median', 'mean']]

#create a column 
no_earners_0['number_of_earners'] = '0'

#create a column 
no_earners_0['number_of_earners_txt'] = 'zero'
no_earners_0.head(2)

,year,total_families,median,mean,number_of_earners,number_of_earners_txt
0,2021,14480,39419,56775,0,zero
1,2020 (41),14092,40163,55525,0,zero
2,2019,13527,44017,62592,0,zero
3,2018,13459,38871,53725,0,zero
4,2017 (40),13558,36700,53700,0,zero
5,2017,13558,36506,51429,0,zero
6,2015,13080,34443,46828,0,zero
7,2014,13305,32800,45709,0,zero
8,2013 (39),13206,32579,45222,0,zero
9,2013 (38),13403,33429,42790,0,zero
10,2011,13207,31966,40927,0,zero
11,2010 (37),12747,31681,40690,0,zero
12,2009 (36),12205,32583,41216,0,zero
13,2008,11274,32156,42806,0,zero
14,2007,10831,32584,43213,0,zero
15,2006,11185,33089,42889,0,zero
16,2005,11063,32998,42043,0,zero
17,2004 (35),10970,32116,41840,0,zero
18,2003,10929,32307,41765,0,zero
19,2002,10421,33099,41939,0,zero
20,2001,10120,33684,43295,0,zero
21,2000 (30),9676,34621,43985,0,zero
22,1999 (29),9594,35700,47275,0,zero
23,1998,9692,34467,45349,0,zero
24,1997,9835,33316,43674,0,zero
25,1996,9947,31202,41109,0,zero
26,1995 (25),10180,31369,41060,0,zero
27,1994 (24),10306,29825,38422,0,zero
28,1993 (23),10546,28726,37089,0,zero
29,1992 (22),10330,29192,37518,0,zero
30,1991,10158,30408,39676,0,zero
31,1990,9519,30337,40805,0,zero
32,1989,9439,30221,40461,0,zero
33,1988,9438,30315,39341,0,zero
34,1987 (21),9421,29845,38388,0,zero
35,1986,9391,29596,39256,0,zero
36,1985 (20),9162,29071,38686,0,zero
37,1984 (19),9221,28336,38582,0,zero
38,1983,9266,27079,35731,0,zero
39,1982,8943,26810,35580,0,zero
40,1981,8526,26992,35213,0,zero
41,1980,8050,26878,34551,0,zero
42,1979 (18),7601,26747,33519,0,zero
43,1978,7028,25675,32306,0,zero
44,1977,7083,24581,31863,0,zero
45,1976 (17),6906,24700,31568,0,zero
46,1975 (16),6788,24023,30116,0,zero
47,1974 (16)(15),6170,24472,30355,0,zero
48,1973,5781,23295,29570,0,zero
49,1972 (14),5383,22430,27878,0,zero
50,1971 (13),5100,21278,26375,0,zero
51,1970,4691,20537,25776,0,zero
52,1969,4337,19747,25617,0,zero
53,1968,4146,19375,24091,0,zero
54,1967 (12),4147,17439,22596,0,zero

In [56]:
f12_1 = pd.read_excel('../data/single_parent/census/historical_income_families/f12ar_num_earners_families_mean_median_income.xlsx',
                      skiprows=168, nrows=57)
pd.set_option('display.max_rows', None)
f12_1.head(3)

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,26890,61568,61568,91321,91321
1,2020 (41),26787,59904,62701,86442,90478
2,2019,26119,59649,63214,85916,91050

In [57]:
#drop empty columns or columns not needed
f12_1 = f12_1.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
f12_1 = f12_1.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_families', '2021 dollars': 'median', '2021 dollars.1': 'mean'})

#drop prior index rows, drop original rows and keep revised
f12_1 = f12_1.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f12_1 = f12_1.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f12_1 = f12_1.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f12_1.head(2)

        year  total_families  median   mean
0       2021           26890   61568  91321
1  2020 (41)           26787   62701  90478

In [68]:
no_earners_1 = f12_1[['year', 'total_families', 'median', 'mean']]

#create a column 
no_earners_1['number_of_earners'] = '1'

#create a column 
no_earners_1['number_of_earners_txt'] = 'one'
no_earners_1.head(2)

,year,total_families,median,mean,number_of_earners,number_of_earners_txt
0,2021,26890,61568,91321,1,one
1,2020 (41),26787,62701,90478,1,one

In [69]:
f12_2 = pd.read_excel('../data/single_parent/census/historical_income_families/f12ar_num_earners_families_mean_median_income.xlsx',
                      skiprows=248, nrows=57)
pd.set_option('display.max_rows', None)
f12_2.head(3)

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,34264,121234,121234,158027,158027
1,2020 (41),34311,113181,118466,148604,155543
2,2019,34896,113527,120311,147767,156597

In [70]:
#drop empty columns or columns not needed
f12_2 = f12_2.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
f12_2 = f12_2.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_families', '2021 dollars': 'median', '2021 dollars.1': 'mean'})

#drop prior index rows, drop original rows and keep revised
f12_2 = f12_2.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f12_2 = f12_2.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f12_2 = f12_2.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f12_2.head(2)

        year  total_families  median    mean
0       2021           34264  121234  158027
1  2020 (41)           34311  118466  155543

In [ ]:
no_earners = f12_2[['year', 'total_families', 'median', 'mean']]

#create a column 
no_earners['number_of_earners'] = '2'

#create a column 
no_earners['number_of_earners_txt'] = 'two'
no_earners.head(2)

In [31]:
f12_3 = pd.read_excel('../data/single_parent/census/historical_income_families/f12ar_num_earners_families_mean_median_income.xlsx',
                      skiprows=328, nrows=57)
pd.set_option('display.max_rows', None)
f12_3.head(3)

,Unnamed: 0,Unnamed: 1,Current dollars,2021 dollars,Current dollars.1,2021 dollars.1
0,2021,6523,138949,138949,173433,173433
1,2020 (41),6400,133195,139414,165730,173469
2,2019,6813,130407,138200,165935,175852

In [32]:
#drop empty columns or columns not needed
f12_3 = f12_3.drop(['Current dollars', 'Current dollars.1'], axis=1)

#rename columns
f12_3 = f12_3.rename(columns = {'Unnamed: 0': 'year', 'Unnamed: 1': 'total_fam_3', '2021 dollars': 'med_2021_3', '2021 dollars.1': 'mean_2021_3'})

#drop prior index rows, drop original rows and keep revised
f12_3 = f12_3.drop(labels=[6, 11]).reset_index(drop=True)

#remove extra spaces in column headers
f12_3 = f12_3.rename(columns=lambda x: x.strip())

# remove extra spaces over all strings
f12_3 = f12_3.applymap(lambda x: x.strip() if isinstance(x, str) else x)

f12_3.head(2)

        year  total_fam_3  med_2021_3  mean_2021_3
0       2021         6523      138949       173433
1  2020 (41)         6400      139414       173469

In [33]:
f12merged = pd.merge(f12merged, f12_3, on = 'year', how = 'left')
f12merged

,year,total_fam,med_2021,mean_2021,total_fam_0,med_2021_0,mean_2021_0,total_fam_1,med_2021_1,mean_2021_1,total_fam_2,med_2021_2,mean_2021_2,total_fam_3,med_2021_3,mean_2021_3
0,2021,84283,88590,121840,14480,39419,56775,26890,61568,91321,34264,121234,158027,6523,138949,173433
1,2020 (41),83723,88286,120694,14092,40163,55525,26787,62701,90478,34311,118466,155543,6400,139414,173469
2,2019,83698,91151,123711,13527,44017,62592,26119,63214,91050,34896,120311,156597,6813,138200,175852
3,2018,83508,84856,114418,13459,38871,53725,26741,59233,85398,34583,113283,144464,6547,136359,171499
4,2017 (40),83539,84149,114083,13558,36700,53700,27281,57912,85371,33986,113173,146298,6516,136360,165103
5,2017,83103,83931,110968,13558,36506,51429,27257,57736,84020,33558,111997,141870,6523,134733,161223
6,2015,82199,80849,105980,13080,34443,46828,27174,55608,79196,33458,109599,137084,6424,130545,152611
7,2014,81730,76331,101686,13305,32800,45709,27078,53746,76241,33076,104661,131468,6304,126138,148402
8,2013 (39),82316,76271,102134,13206,32579,45222,28246,53884,76423,32923,104767,133115,6107,121401,151300
9,2013 (38),81217,74342,98657,13403,33429,42790,27242,53144,75437,32749,102513,127692,5925,123474,145801
10,2011,80529,73612,97797,13207,31966,40927,27408,53343,76041,32282,101542,126743,5916,121196,145829
11,2010 (37),79559,75013,97359,12747,31681,40690,26888,53230,75367,32287,103969,125790,5843,121284,142308
12,2009 (36),78867,76063,99418,12205,32583,41216,25981,53179,76658,32794,102816,126601,6043,122342,144468
13,2008,78874,77606,100455,11274,32156,42806,25332,53111,76823,33948,102379,125098,6240,121634,144285
14,2007,77908,80370,103280,10831,32584,43213,24963,54496,78457,33721,105723,128283,6332,127151,147337
15,2006,78454,78678,104148,11185,33089,42889,25013,54848,79438,33808,103616,129190,6377,126061,152245
16,2005,77418,78151,101946,11063,32998,42043,24642,54750,78469,33308,101088,125786,6379,125090,148652
17,2004 (35),76866,77731,101208,10970,32116,41840,24615,54091,77304,33069,102501,126454,6327,122492,142710
18,2003,76232,77792,101246,10929,32307,41765,24168,54137,77886,32981,102869,125003,6102,124086,146644
19,2002,75616,78048,101139,10421,33099,41939,23668,53154,76058,33123,101706,126132,6389,122666,139511
20,2001,74340,78860,102570,10120,33684,43295,22518,52950,78221,32886,101477,125353,6702,120099,140998
21,2000 (30),73778,80040,103770,9676,34621,43985,21968,54538,78939,32931,100632,125615,6793,120473,141638
22,1999 (29),73206,79655,102061,9594,35700,47275,21694,52872,76309,32656,99135,121899,6852,122258,142700
23,1998,71551,77862,99274,9692,34467,45349,21221,52450,75507,31787,97288,118007,6642,117183,141596
24,1997,70884,75254,96081,9835,33316,43674,20494,51000,72350,31752,93617,114585,6638,114867,134672
25,1996,70241,72969,92593,9947,31202,41109,20052,48962,69364,31309,92049,111775,6697,109162,127633
26,1995 (25),69597,71921,90945,10180,31369,41060,19894,50336,69261,31041,90300,108800,6249,113208,131257
27,1994 (24),69313,70336,89485,10306,29825,38422,19455,49231,68387,30885,88814,107654,6558,110663,125707
28,1993 (23),68506,68430,87430,10546,28726,37089,19301,48497,66965,30137,87806,106204,6367,106915,122781
29,1992 (22),68216,69423,83940,10330,29192,37518,19311,49465,64656,30007,86487,106027,6393,106956,99672
30,1991,67173,69915,84113,10158,30408,39676,18500,50502,65614,29681,84864,97886,6542,108691,120568
31,1990,66322,71278,85994,9519,30337,40805,18215,52174,67979,29536,84973,98629,6598,108311,121021
32,1989,66090,72381,87810,9439,30221,40461,18146,53368,68829,29235,86016,100859,6724,109499,123538
33,1988,65837,71080,85250,9438,30315,39341,18189,52711,65849,28984,85457,98149,6680,108145,120062
34,1987 (21),65204,70855,84385,9421,29845,38388,18133,52874,66679,28481,84190,95959,6428,108881,122045
35,1986,64491,69714,82649,9391,29596,39256,17945,52798,65802,27228,83085,94501,6408,104852,117781
36,1985 (20),63558,66785,79328,9162,29071,38686,18217,51025,62959,26350,80453,91573,6338,100665,112252
37,1984 (19),62706,65835,77339,9221,28336,38582,17949,50538,61970,26160,78971,88791,6029,99197,109242
38,1983,61997,63767,74295,9266,27079,35731,18459,50352,60231,25437,77330,85790,5517,96837,107359
39,1982,61393,63388,74095,8943,26810,35580,18761,51161,61616,24776,75940,84693,5477,96837,105685
40,1981,61019,64219,74115,8526,26992,35213,18555,50559,61155,24856,77046,84131,5563,98382,106491
41,1980,60309,65997,75261,8050,26878,34551,18586,52470,62440,24650,77405,84672,5601,99932,108722
42,1979 (18),59550,68375,77901,7601,26747,33519,18236,54404,65397,24423,78997,86736,5692,102811,112554
43,1978,57804,67417,76785,7028,25675,32306,18346,54419,63844,23333,78225,86232,5454,98378,108991
44,1977,57215,65380,74589,7083,24581,31863,18621,53696,63305,22414,76386,83888,5533,96017,104814
45,1976 (17),56710,64943,73244,6906,24700,31568,18789,53993,62494,22055,75289,82097,5269,94128,104161
46,1975 (16),56245,62991,71379,6788,24023,30116,19466,53114,62407,21377,73730,80048,5348,94268,101683
47,1974 (16)(15),55698,64108,73097,6170,24472,30355,18930,54658,63055,21637,73867,81132,5284,95268,102657
48,1973,55053,65868,74454,5781,23295,29570,19604,55986,64813,21918,75416,82363,5196,98657,103472
49,1972 (14),54373,64560,73324,5383,22430,27878,20285,55111,64159,21296,73963,80834,5147,99030,105140
50,1971 (13),53296,61525,69290,5100,21278,26375,20104,52355,60532,20602,70235,76833,5269,89425,96460
51,1970,52227,61611,69347,4691,20537,25776,19252,52151,60118,20443,69872,76516,5221,90153,96784
52,1969,51586,61802,69298,4337,19747,25617,19251,53095,60997,20125,69337,75220,5204,89071,96461
53,1968,50823,59077,66181,4146,19375,24091,19310,50994,58344,19812,66708,72272,5074,83934,91421
54,1967 (12),50111,56422,62595,4147,17439,22596,19307,49829,56493,19280,63804,70440,5051,80284,87609

In [34]:
f12merged = f12merged.astype({'year': 'str'})
f12merged

,year,total_fam,med_2021,mean_2021,total_fam_0,med_2021_0,mean_2021_0,total_fam_1,med_2021_1,mean_2021_1,total_fam_2,med_2021_2,mean_2021_2,total_fam_3,med_2021_3,mean_2021_3
0,2021,84283,88590,121840,14480,39419,56775,26890,61568,91321,34264,121234,158027,6523,138949,173433
1,2020 (41),83723,88286,120694,14092,40163,55525,26787,62701,90478,34311,118466,155543,6400,139414,173469
2,2019,83698,91151,123711,13527,44017,62592,26119,63214,91050,34896,120311,156597,6813,138200,175852
3,2018,83508,84856,114418,13459,38871,53725,26741,59233,85398,34583,113283,144464,6547,136359,171499
4,2017 (40),83539,84149,114083,13558,36700,53700,27281,57912,85371,33986,113173,146298,6516,136360,165103
5,2017,83103,83931,110968,13558,36506,51429,27257,57736,84020,33558,111997,141870,6523,134733,161223
6,2015,82199,80849,105980,13080,34443,46828,27174,55608,79196,33458,109599,137084,6424,130545,152611
7,2014,81730,76331,101686,13305,32800,45709,27078,53746,76241,33076,104661,131468,6304,126138,148402
8,2013 (39),82316,76271,102134,13206,32579,45222,28246,53884,76423,32923,104767,133115,6107,121401,151300
9,2013 (38),81217,74342,98657,13403,33429,42790,27242,53144,75437,32749,102513,127692,5925,123474,145801
10,2011,80529,73612,97797,13207,31966,40927,27408,53343,76041,32282,101542,126743,5916,121196,145829
11,2010 (37),79559,75013,97359,12747,31681,40690,26888,53230,75367,32287,103969,125790,5843,121284,142308
12,2009 (36),78867,76063,99418,12205,32583,41216,25981,53179,76658,32794,102816,126601,6043,122342,144468
13,2008,78874,77606,100455,11274,32156,42806,25332,53111,76823,33948,102379,125098,6240,121634,144285
14,2007,77908,80370,103280,10831,32584,43213,24963,54496,78457,33721,105723,128283,6332,127151,147337
15,2006,78454,78678,104148,11185,33089,42889,25013,54848,79438,33808,103616,129190,6377,126061,152245
16,2005,77418,78151,101946,11063,32998,42043,24642,54750,78469,33308,101088,125786,6379,125090,148652
17,2004 (35),76866,77731,101208,10970,32116,41840,24615,54091,77304,33069,102501,126454,6327,122492,142710
18,2003,76232,77792,101246,10929,32307,41765,24168,54137,77886,32981,102869,125003,6102,124086,146644
19,2002,75616,78048,101139,10421,33099,41939,23668,53154,76058,33123,101706,126132,6389,122666,139511
20,2001,74340,78860,102570,10120,33684,43295,22518,52950,78221,32886,101477,125353,6702,120099,140998
21,2000 (30),73778,80040,103770,9676,34621,43985,21968,54538,78939,32931,100632,125615,6793,120473,141638
22,1999 (29),73206,79655,102061,9594,35700,47275,21694,52872,76309,32656,99135,121899,6852,122258,142700
23,1998,71551,77862,99274,9692,34467,45349,21221,52450,75507,31787,97288,118007,6642,117183,141596
24,1997,70884,75254,96081,9835,33316,43674,20494,51000,72350,31752,93617,114585,6638,114867,134672
25,1996,70241,72969,92593,9947,31202,41109,20052,48962,69364,31309,92049,111775,6697,109162,127633
26,1995 (25),69597,71921,90945,10180,31369,41060,19894,50336,69261,31041,90300,108800,6249,113208,131257
27,1994 (24),69313,70336,89485,10306,29825,38422,19455,49231,68387,30885,88814,107654,6558,110663,125707
28,1993 (23),68506,68430,87430,10546,28726,37089,19301,48497,66965,30137,87806,106204,6367,106915,122781
29,1992 (22),68216,69423,83940,10330,29192,37518,19311,49465,64656,30007,86487,106027,6393,106956,99672
30,1991,67173,69915,84113,10158,30408,39676,18500,50502,65614,29681,84864,97886,6542,108691,120568
31,1990,66322,71278,85994,9519,30337,40805,18215,52174,67979,29536,84973,98629,6598,108311,121021
32,1989,66090,72381,87810,9439,30221,40461,18146,53368,68829,29235,86016,100859,6724,109499,123538
33,1988,65837,71080,85250,9438,30315,39341,18189,52711,65849,28984,85457,98149,6680,108145,120062
34,1987 (21),65204,70855,84385,9421,29845,38388,18133,52874,66679,28481,84190,95959,6428,108881,122045
35,1986,64491,69714,82649,9391,29596,39256,17945,52798,65802,27228,83085,94501,6408,104852,117781
36,1985 (20),63558,66785,79328,9162,29071,38686,18217,51025,62959,26350,80453,91573,6338,100665,112252
37,1984 (19),62706,65835,77339,9221,28336,38582,17949,50538,61970,26160,78971,88791,6029,99197,109242
38,1983,61997,63767,74295,9266,27079,35731,18459,50352,60231,25437,77330,85790,5517,96837,107359
39,1982,61393,63388,74095,8943,26810,35580,18761,51161,61616,24776,75940,84693,5477,96837,105685
40,1981,61019,64219,74115,8526,26992,35213,18555,50559,61155,24856,77046,84131,5563,98382,106491
41,1980,60309,65997,75261,8050,26878,34551,18586,52470,62440,24650,77405,84672,5601,99932,108722
42,1979 (18),59550,68375,77901,7601,26747,33519,18236,54404,65397,24423,78997,86736,5692,102811,112554
43,1978,57804,67417,76785,7028,25675,32306,18346,54419,63844,23333,78225,86232,5454,98378,108991
44,1977,57215,65380,74589,7083,24581,31863,18621,53696,63305,22414,76386,83888,5533,96017,104814
45,1976 (17),56710,64943,73244,6906,24700,31568,18789,53993,62494,22055,75289,82097,5269,94128,104161
46,1975 (16),56245,62991,71379,6788,24023,30116,19466,53114,62407,21377,73730,80048,5348,94268,101683
47,1974 (16)(15),55698,64108,73097,6170,24472,30355,18930,54658,63055,21637,73867,81132,5284,95268,102657
48,1973,55053,65868,74454,5781,23295,29570,19604,55986,64813,21918,75416,82363,5196,98657,103472
49,1972 (14),54373,64560,73324,5383,22430,27878,20285,55111,64159,21296,73963,80834,5147,99030,105140
50,1971 (13),53296,61525,69290,5100,21278,26375,20104,52355,60532,20602,70235,76833,5269,89425,96460
51,1970,52227,61611,69347,4691,20537,25776,19252,52151,60118,20443,69872,76516,5221,90153,96784
52,1969,51586,61802,69298,4337,19747,25617,19251,53095,60997,20125,69337,75220,5204,89071,96461
53,1968,50823,59077,66181,4146,19375,24091,19310,50994,58344,19812,66708,72272,5074,83934,91421
54,1967 (12),50111,56422,62595,4147,17439,22596,19307,49829,56493,19280,63804,70440,5051,80284,87609

In [35]:
#extract year from footnotes
f12merged['year'] = f12merged['year'].str.extract('(\d{4})', expand=False).astype(int)
#sort by descending
f12merged = f12merged.sort_values('year', ascending=False)

f12merged

,year,total_fam,med_2021,mean_2021,total_fam_0,med_2021_0,mean_2021_0,total_fam_1,med_2021_1,mean_2021_1,total_fam_2,med_2021_2,mean_2021_2,total_fam_3,med_2021_3,mean_2021_3
0,2021,84283,88590,121840,14480,39419,56775,26890,61568,91321,34264,121234,158027,6523,138949,173433
1,2020,83723,88286,120694,14092,40163,55525,26787,62701,90478,34311,118466,155543,6400,139414,173469
2,2019,83698,91151,123711,13527,44017,62592,26119,63214,91050,34896,120311,156597,6813,138200,175852
3,2018,83508,84856,114418,13459,38871,53725,26741,59233,85398,34583,113283,144464,6547,136359,171499
4,2017,83539,84149,114083,13558,36700,53700,27281,57912,85371,33986,113173,146298,6516,136360,165103
5,2017,83103,83931,110968,13558,36506,51429,27257,57736,84020,33558,111997,141870,6523,134733,161223
6,2015,82199,80849,105980,13080,34443,46828,27174,55608,79196,33458,109599,137084,6424,130545,152611
7,2014,81730,76331,101686,13305,32800,45709,27078,53746,76241,33076,104661,131468,6304,126138,148402
8,2013,82316,76271,102134,13206,32579,45222,28246,53884,76423,32923,104767,133115,6107,121401,151300
9,2013,81217,74342,98657,13403,33429,42790,27242,53144,75437,32749,102513,127692,5925,123474,145801
10,2011,80529,73612,97797,13207,31966,40927,27408,53343,76041,32282,101542,126743,5916,121196,145829
11,2010,79559,75013,97359,12747,31681,40690,26888,53230,75367,32287,103969,125790,5843,121284,142308
12,2009,78867,76063,99418,12205,32583,41216,25981,53179,76658,32794,102816,126601,6043,122342,144468
13,2008,78874,77606,100455,11274,32156,42806,25332,53111,76823,33948,102379,125098,6240,121634,144285
14,2007,77908,80370,103280,10831,32584,43213,24963,54496,78457,33721,105723,128283,6332,127151,147337
15,2006,78454,78678,104148,11185,33089,42889,25013,54848,79438,33808,103616,129190,6377,126061,152245
16,2005,77418,78151,101946,11063,32998,42043,24642,54750,78469,33308,101088,125786,6379,125090,148652
17,2004,76866,77731,101208,10970,32116,41840,24615,54091,77304,33069,102501,126454,6327,122492,142710
18,2003,76232,77792,101246,10929,32307,41765,24168,54137,77886,32981,102869,125003,6102,124086,146644
19,2002,75616,78048,101139,10421,33099,41939,23668,53154,76058,33123,101706,126132,6389,122666,139511
20,2001,74340,78860,102570,10120,33684,43295,22518,52950,78221,32886,101477,125353,6702,120099,140998
21,2000,73778,80040,103770,9676,34621,43985,21968,54538,78939,32931,100632,125615,6793,120473,141638
22,1999,73206,79655,102061,9594,35700,47275,21694,52872,76309,32656,99135,121899,6852,122258,142700
23,1998,71551,77862,99274,9692,34467,45349,21221,52450,75507,31787,97288,118007,6642,117183,141596
24,1997,70884,75254,96081,9835,33316,43674,20494,51000,72350,31752,93617,114585,6638,114867,134672
25,1996,70241,72969,92593,9947,31202,41109,20052,48962,69364,31309,92049,111775,6697,109162,127633
26,1995,69597,71921,90945,10180,31369,41060,19894,50336,69261,31041,90300,108800,6249,113208,131257
27,1994,69313,70336,89485,10306,29825,38422,19455,49231,68387,30885,88814,107654,6558,110663,125707
28,1993,68506,68430,87430,10546,28726,37089,19301,48497,66965,30137,87806,106204,6367,106915,122781
29,1992,68216,69423,83940,10330,29192,37518,19311,49465,64656,30007,86487,106027,6393,106956,99672
30,1991,67173,69915,84113,10158,30408,39676,18500,50502,65614,29681,84864,97886,6542,108691,120568
31,1990,66322,71278,85994,9519,30337,40805,18215,52174,67979,29536,84973,98629,6598,108311,121021
32,1989,66090,72381,87810,9439,30221,40461,18146,53368,68829,29235,86016,100859,6724,109499,123538
33,1988,65837,71080,85250,9438,30315,39341,18189,52711,65849,28984,85457,98149,6680,108145,120062
34,1987,65204,70855,84385,9421,29845,38388,18133,52874,66679,28481,84190,95959,6428,108881,122045
35,1986,64491,69714,82649,9391,29596,39256,17945,52798,65802,27228,83085,94501,6408,104852,117781
36,1985,63558,66785,79328,9162,29071,38686,18217,51025,62959,26350,80453,91573,6338,100665,112252
37,1984,62706,65835,77339,9221,28336,38582,17949,50538,61970,26160,78971,88791,6029,99197,109242
38,1983,61997,63767,74295,9266,27079,35731,18459,50352,60231,25437,77330,85790,5517,96837,107359
39,1982,61393,63388,74095,8943,26810,35580,18761,51161,61616,24776,75940,84693,5477,96837,105685
40,1981,61019,64219,74115,8526,26992,35213,18555,50559,61155,24856,77046,84131,5563,98382,106491
41,1980,60309,65997,75261,8050,26878,34551,18586,52470,62440,24650,77405,84672,5601,99932,108722
42,1979,59550,68375,77901,7601,26747,33519,18236,54404,65397,24423,78997,86736,5692,102811,112554
43,1978,57804,67417,76785,7028,25675,32306,18346,54419,63844,23333,78225,86232,5454,98378,108991
44,1977,57215,65380,74589,7083,24581,31863,18621,53696,63305,22414,76386,83888,5533,96017,104814
45,1976,56710,64943,73244,6906,24700,31568,18789,53993,62494,22055,75289,82097,5269,94128,104161
46,1975,56245,62991,71379,6788,24023,30116,19466,53114,62407,21377,73730,80048,5348,94268,101683
47,1974,55698,64108,73097,6170,24472,30355,18930,54658,63055,21637,73867,81132,5284,95268,102657
48,1973,55053,65868,74454,5781,23295,29570,19604,55986,64813,21918,75416,82363,5196,98657,103472
49,1972,54373,64560,73324,5383,22430,27878,20285,55111,64159,21296,73963,80834,5147,99030,105140
50,1971,53296,61525,69290,5100,21278,26375,20104,52355,60532,20602,70235,76833,5269,89425,96460
51,1970,52227,61611,69347,4691,20537,25776,19252,52151,60118,20443,69872,76516,5221,90153,96784
52,1969,51586,61802,69298,4337,19747,25617,19251,53095,60997,20125,69337,75220,5204,89071,96461
53,1968,50823,59077,66181,4146,19375,24091,19310,50994,58344,19812,66708,72272,5074,83934,91421
54,1967,50111,56422,62595,4147,17439,22596,19307,49829,56493,19280,63804,70440,5051,80284,87609

# List of dataframes
list = [aian_merged, api_merged, asian_merged, black_merged, hispanic_merged, nhopi_merged, white_merged]  
# concat dataframes
sp_percent_count_state = pd.concat(list, ignore_index=True)

sp_percent_count_state.head()

f12merged.to_csv('../data/single_parent/census/historical_households/f12_fam_earners_mean_med_1967.csv', index = False)